<!doctype html>

<html lang="en-US">
	<head>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Unika - Responsive One Page HTML5 Template</title>
		<meta name="description" content="Unika - Responsive One Page HTML5 Template">
		<meta name="keywords" content="HTML5, Bootsrtrap, One Page, Responsive, Template, Portfolio" />
		<meta name="author" content="imransdesign.com">

		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Google Fonts  -->
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,700,500' rel='stylesheet' type='text/css'> <!-- Body font -->
		<link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'> <!-- Navbar font -->
		<!-- Libs and Plugins CSS-->
		<link rel="stylesheet" href="/assets/bootstrap.min.css">
		<link rel="stylesheet" href="/assets/animate.min.css">
		<link rel="stylesheet" href="/assets/font-awesome.min.css">
		<link rel="stylesheet" href="/assets/owl.carousel.css">
		<link rel="stylesheet" href="/assets/owl.theme.css">


		<link rel="stylesheet" href="/assets/reset.css">
		<link rel="stylesheet" href="/assets/style.css">
		<link rel="stylesheet" href="/assets/mobile.css">

		<link rel="stylesheet" href="/assets/cool-gray.css">
		<script src="/assets/jquery-1.11.1.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
		<!--<script src="/assets/jquery.easing.min.js"></script>-->
		<script src="/assets/owl.carousel.min.js"></script>
		<script src="/assets/theme.js"></script>
		<script src="/assets/jquery.stellar.min.js"></script>
		<script src="/assets/wow.min.js"></script>
		<script src="/assets/waypoints.min.js"></script>
		<script src="/assets/isotope.pkgd.min.js"></script>
		<script src="/assets/classie.js"></script>
		<script src="/assets/jquery.counterup.min.js"></script>
		<script src="/assets/smoothscroll.js"></script>
		<script src="/assets/bootstrap.min.js"></script>
		<script src="/assets/jssor.slider.mini.js"></script>

</head>
    <body data-spy="scroll" data-target="#main-navbar">
      <!--  <div class="page-loader"></div>  <!-- Display loading image while page loads -->
    	<div class="body">

            <!--========== BEGIN HEADER ==========-->
            <header id="header" class="header-main">

                <!-- Begin Navbar -->
                <nav id="main-navbar" class="navbar navbar-default navbar-fixed-top" role="navigation"> <!-- Classes: navbar-default, navbar-inverse, navbar-fixed-top, navbar-fixed-bottom, navbar-transparent. Note: If you use non-transparent navbar, set "height: 98px;" to #header -->

                  <div class="container">

                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                      <a class="navbar-brand page-scroll" href="/">IS_KOREARENTAL_VINA</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a class="page-scroll" href="/">Home</a></li>
                            <li><a class="page-scroll" href="#vision-section">Group Vision</a></li>
                            <li><a class="page-scroll" href="#history-section">Group History</a></li>
                            <li><a class="page-scroll" href="#rental-section">Rental System</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                  </div><!-- /.container -->
                </nav>
                <!-- End Navbar -->

            </header>
            <!-- ========= END HEADER =========-->
						<div class="container" id="vision-section"></div>
            <!-- Begin about section -->
			<section style="margin-top:100px;" class="page bg-style1">
                <!-- Begin page header-->

                <div class="page-header-wrapper">
                    <div class="container">
                        <div class="page-header text-center wow fadeInUp" data-wow-delay="0.3s">
                            <h2>Group Vision</h2>
                            <div class="devider"></div>
                            <p class="subtitle">IS_DONGSEO & IS_KOREARENTAL</p>
                        </div>
                    </div>
                </div>
                <!-- End page header-->

                    <div class="container">
                        <div class="row">
                            <div class="col-md-5">
															<h3>IS DONGSEO</h3>
															<h6>Creates a new future space culture</h6>
																	<img src="/img/about/group1.jpg">
                            </div>
															<div class="col-md-5" style="margin-left:30px;">
																<h3>IS KOREA RENTAL Corp.</h3>
																<h6>We always consider the customer, the society, and the world</h6>
																	<img src="/img/about/group2.jpg">
		                          </div>

                        </div> <!-- /.row -->
                    </div> <!-- /.container -->

											<div class="extra-space-l"></div>
          </section>
          <!-- End about section -->
	<div class="container" id="history-section"></div>
            <!-- Begin Services -->
						<section class="page text-center" style="margin-top:100px;">
								<!-- Begin page header-->
								<div class="page-header-wrapper">
										<div class="container">
												<div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
														<h2>IS HISTORY</h2>
														<div class="devider"></div>
														<p class="subtitle">2000's - 2016's</p>
												</div>
										</div>
								</div>
                <!-- End page header-->

                <!-- Begin roatet box-2 -->
							<div class="container">
                <div class="rotate-box-1-wrapper">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3">
                                <a  class="rotate-box-1 square-icon text-center wow zoomIn" data-wow-delay="0">
                                    <span class="rotate-box-icon"><i class="fa fa-map-marker"></i></span>
                                    <div class="rotate-box-info">
                                        <h4><strong>App Development</strong></h4>
                                        <p>Lorem ipsum dolor sit amet set, consectetur utes anet adipisicing elit, sed do eiusmod tempor incidist.</p>
                                    </div>
                                </a>
                            </div>

                            <div class="col-md-3">
                                <a  class="rotate-box-1 square-icon text-center wow zoomIn" data-wow-delay="0.2s">
                                    <span class="rotate-box-icon"><i class="fa fa-map-marker"></i></span>
                                    <div class="rotate-box-info">
                                        <h4><strong>Ui Design</strong></h4>
                                        <p>Lorem ipsum dolor sit amet set, consectetur utes anet adipisicing elit, sed do eiusmod tempor incidist.</p>
                                    </div>
                                </a>
                            </div>

                            <div class="col-md-3">
                                <a class="rotate-box-1 square-icon text-center wow zoomIn" data-wow-delay="0.4s">
                                    <span class="rotate-box-icon"><i class="fa fa-map-marker"></i></span>
                                    <div class="rotate-box-info">
                                        <h4><strong>Cloud Hosting</strong></h4>
                                        <p>Lorem ipsum dolor sit amet set, consectetur utes anet adipisicing elit, sed do eiusmod tempor incidist.</p>
                                    </div>
                                </a>
                            </div>

                            <div class="col-md-3">
                                <a  class="rotate-box-1 square-icon text-center wow zoomIn" data-wow-delay="0.6s">
                                    <span class="rotate-box-icon"><i class="fa fa-map-marker"></i></span>
                                    <div class="rotate-box-info">
                                        <h4><strong>Coding Pen</strong></h4>
                                        <p>Lorem ipsum dolor sit amet set, consectetur utes anet adipisicing elit, sed do eiusmod tempor incidist.</p>
                                    </div>
                                </a>
                            </div>
                        </div> <!-- /.row -->
                    </div> <!-- /.container -->
                </div>
                <!-- End rotate-box-2 -->
							</div> <!-- container end -->
								<div class="extra-space-l"></div>
            </section>
            <!-- End Services -->
						<div class="container" id="rental-section"></div>
            <section style="margin-top:100px;">
      					<div id="testimonial-trigger" class="testimonial text-white parallax" data-stellar-background-ratio="0.5" style="background-image: url(../img/testimonial5-bg.jpg);">
      							<div class="cover"></div>
      							<!-- Begin page header-->
      							<div class="page-header-wrapper">
      									<div class="container">
      											<div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
      													<h2>Advantage Of Rental</h2>
      													<div class="devider"></div>
      													<p class="subtitle">Why we need to use Rental Products?</p>
      											</div>
      									</div>
      							</div>
      							<!-- End page header-->
      							<div class="container">
      									<div class="testimonial-inner center-block text-center">
      											<div id="owl-testimonial" class="owl-carousel">
      													<div class="item">
      															<blockquote>
                                      <h4><strong>Professional Purchase / Disposal</strong></h4>
                                        <p>Cost Reduction by a large purchase<br>
                                   Vast information about the brand new product & newly launched brand<br>
                                   Specialized in disposal of the used machinery: <br>
                                   Having many dealers, REFURBISHING project etc.
                                        </p>
      															</blockquote>
      													</div>
      													<div class="item">
      															<blockquote>
                                      <h4><strong>Professional Maintenance</strong></h4>
                                          <p>Experienced engineers for A/S<br>
                                   Managing item records and building up the computer system<br>
                                   Systematizing parts supply<br>
                                   Affiliating with worldwide After-salesService network
                                          </p>
      															</blockquote>
      													</div>
                                <div class="item">
      															<blockquote>
                                      <h4><strong>Maximizing Profitability / efficiency</strong></h4>
                                        <p>Economic effect : cost cutting, maximizing profitability by professional dealing<br>
                                  Flexibility of use : At right time and place, providing optimal equipment
                                  SALES & RENTAL BACK : Purchasing customers’ equipment and renting back
                                        </p>

      															</blockquote>
      													</div>
                                <div class="item">
      															<blockquote>
                                      <h4 ><strong>Simplifying the work</strong></h4>
							                               <p>Simplifying the channel for the equipment<br>
																			Specializing the work  : Focusing on main field by outsourcing of production supply
							                               </p>

      															</blockquote>
      													</div>
      											</div>
      									</div>
      							</div>
      					</div>
      			</section>
      			<!-- End testimonials -->
            <!-- Begin footer -->
						<footer id="footer" class="clearfix">
						      <div id="footer-widgets">

						        <div class="container">

						        <div id="footer-wrapper">

						          <div class="row">
												<div class="col-sm-6 col-md-4">
	 						              		<div id="recent-posts-3" class="widget widgetFooter widget_recent_entries">
	 						                    <h4 class="widgettitle">Menu :</h4>
	 																<ul class="bottom_ul" style="pull-left">
																		      <li><a href="/">Home</a></li>
	 																        <li><a href="#vision-section">Group Vision</a></li>
	 																        <li><a href="#history-section">Group History</a></li>
	 																        <li><a href="#rental-section">Rental System</a></li>
	 															  </ul>
	 															</div>
	 							 			</div> <!-- end widget1 -->

												<div class="col-md-4" style="margin-bottom:20px;">
						              <div id="meta-3" class="widget widgetFooter widget_meta">
						              <h4 class="widgettitle">Family Site :</h4>
						              <ul>
						    		  <li><a href="#" target="_blank"><i class="fa fa-arrow-circle-right"></i> KOREA RENTAL KOREA</a></li>
									    <li><a href="#" target="_blank"><i class="fa fa-arrow-circle-right"></i> KOREA RENTAL CHINA</a></li>
									    <li><a href="#" target="_blank"><i class="fa fa-arrow-circle-right"></i> IS DONGSEO</a></li>
											<li><a href="#" target="_blank"><i class="fa fa-arrow-circle-right"></i> SAMHONG-TECH</a></li>
											<li><a href="#" target="_blank"><i class="fa fa-arrow-circle-right"></i> INUS</a></li>
						             </ul>
											 	</div>
					             </div> <!-- end widget1 -->
										<div class="col-md-4">
											<div id="meta-3" class="widget widgetFooter widget_meta">
											<h4 class="widgettitle">Join Us :</h4>
											<ul>
												<ul class="social-list">
												 <li> <a href="https://www.facebook.com/iskorearentalvina" class="rotate-box-1 square-icon text-center wow zoomIn" data-wow-delay="0.3s"><span class="rotate-box-icon"><i class="fa fa-facebook"></i></span></a></li>
												 <li> <a href="https://www.facebook.com/iskorearentalvina" class="rotate-box-1 square-icon text-center wow zoomIn" data-wow-delay="0.4s"><span class="rotate-box-icon"><i class="fa fa-twitter"></i></span></a></li>
												  <div class="center"><button data-toggle="modal" data-target="#email2" class="btn btn-primary btn-md">Send Message</button></div>
											 </ul>
										 </ul>
										</div>
									 </div> <!-- end widget1 -->



						 </div><!-- end row -->

						          </div> <!-- end #footer-wrapper -->

						        </div> <!-- end .container -->

						        </div> <!-- end #footer-widgets -->


						      <div id="sub-floor">
						        <div class="container">
						          <div class="row">
						            <div class="col-md-8 copyright">
						             © 2016 Copy right IS_KOREARENTAL_VINA Corp.
						            </div>

						          </div> <!-- end .row -->
						        </div>
						      </div>

						    </footer>
            <!-- End footer -->


            <a href="#" class="scrolltotop"><i class="fa fa-arrow-up"></i></a> <!-- Scroll to top button -->
						<div id="email2" class="modal fade" role="dialog" style="margin-top:50px;">
							<div class="modal-dialog">
								<!-- Modal content-->
								<div class="modal-content">

									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal">×</button>
										<h4 class="modal-title">Write to us</h4>
									</div>
									<div class="modal-body">
										<div class="contact-form">
												<form role="form" action="/home/write" method="post">
														<div class="form-group">
																<input type="text" class="form-control input-lg" name="name" placeholder="Your Company Name" required>
														</div>
														<div class="form-group">
																<input type="email" class="form-control input-lg" name="email" placeholder="Your E-mail" required>
														</div>
														<div class="form-group">
																<textarea class="form-control input-lg" rows="5" name="content" placeholder="Message" required></textarea>
														</div>
														<div align="center">
														 <button type="submit" class="btn btn-lg" data-wow-delay="0.8s">Send</button>
														</div>
												</form>
										</div>

									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
									</div>

									</div>

								</div>

							</div>

        </div><!-- body ends -->
    </body>


</html>
