<!doctype html>

<html lang="en-US">
	<head>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Unika - Responsive One Page HTML5 Template</title>
		<meta name="description" content="Unika - Responsive One Page HTML5 Template">
		<meta name="keywords" content="HTML5, Bootsrtrap, One Page, Responsive, Template, Portfolio" />
		<meta name="author" content="imransdesign.com">

		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Google Fonts  -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,500' rel='stylesheet' type='text/css'> <!-- Body font -->
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'> <!-- Navbar font -->
    <!-- Libs and Plugins CSS -->
    <link rel="stylesheet" href="/assets/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/animate.min.css">
    <link rel="stylesheet" href="/assets/font-awesome.min.css"> <!-- Font Icons -->
    <link rel="stylesheet" href="/assets/owl.carousel.css">
    <link rel="stylesheet" href="/assets/owl.theme.css">

    <!-- Theme CSS -->
        <link rel="stylesheet" href="/assets/reset.css">
    <link rel="stylesheet" href="/assets/style.css">
    <link rel="stylesheet" href="/assets/mobile.css">

    <body data-spy="scroll" data-target="#main-navbar">
      <!--  <div class="page-loader"></div>  <!-- Display loading image while page loads -->
    	<div class="body">

            <!--========== BEGIN HEADER ==========-->
            <header id="header" class="header-main">

                <!-- Begin Navbar -->
                <nav id="main-navbar" class="navbar navbar-default navbar-fixed-top" role="navigation"> <!-- Classes: navbar-default, navbar-inverse, navbar-fixed-top, navbar-fixed-bottom, navbar-transparent. Note: If you use non-transparent navbar, set "height: 98px;" to #header -->

                  <div class="container">

                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                      <a class="navbar-brand page-scroll" href="index.html">Unika</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a class="page-scroll" href="/">Home</a></li>
                            <li><a class="page-scroll" href="#about-section">Group Vision</a></li>
                            <li><a class="page-scroll" href="#services-section">History</a></li>
                            <li><a class="page-scroll" href="#testimonial-section">Advantage Of Rental</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                  </div><!-- /.container -->
                </nav>
                <!-- End Navbar -->

            </header>
            <!-- ========= END HEADER =========-->

            <!-- Begin about section -->
			<section id="about-section" class="page bg-style1" style="margin-top:100px;">
                <!-- Begin page header-->
                <div class="page-header-wrapper">
                    <div class="container">
                        <div class="page-header text-center wow fadeInUp" data-wow-delay="0.3s">
                            <h2>Group Vision</h2>
                            <div class="devider"></div>
                            <p class="subtitle">IS_DONGSEO & IS_KOREARENTAL</p>
                        </div>
                    </div>
                </div>
                <!-- End page header-->

                <!-- Begin rotate box-1 -->
                <div class="rotate-box-1-wrapper">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-5 col-sm-6">

                            </div>

                            <div class="col-md-5 col-sm-6">

                            </div>

                        </div> <!-- /.row -->
                    </div> <!-- /.container -->
                </div>
                <!-- End rotate box-1 -->

                <div class="extra-space-l"></div>

                <!-- End page header-->

          </section>
          <!-- End about section -->

            <!-- Begin Services -->
            <section id="services-section" class="page text-center">
                <!-- Begin page header-->
                <div class="page-header-wrapper">
                    <div class="container">
                        <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                            <h2>IS History</h2>
                            <div class="devider"></div>
                            <p class="subtitle">2000's ~ 2016's</p>
                        </div>
                    </div>
                </div>
                <!-- End page header-->

                <!-- Begin roatet box-2 -->
                <div class="rotate-box-2-wrapper">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3 col-sm-6">
                                <a  class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0">
                                    <span class="rotate-box-icon"><i class="fa fa-map-marker"></i></span>
                                    <div class="rotate-box-info">
                                        <h4>App Development</h4>
                                        <p>Lorem ipsum dolor sit amet set, consectetur utes anet adipisicing elit, sed do eiusmod tempor incidist.</p>
                                    </div>
                                </a>
                            </div>

                            <div class="col-md-3 col-sm-6">
                                <a  class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0.2s">
                                    <span class="rotate-box-icon"><i class="fa fa-map-marker"></i></span>
                                    <div class="rotate-box-info">
                                        <h4>Ui Design</h4>
                                        <p>Lorem ipsum dolor sit amet set, consectetur utes anet adipisicing elit, sed do eiusmod tempor incidist.</p>
                                    </div>
                                </a>
                            </div>

                            <div class="col-md-3 col-sm-6">
                                <a class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0.4s">
                                    <span class="rotate-box-icon"><i class="fa fa-map-marker"></i></span>
                                    <div class="rotate-box-info">
                                        <h4>Cloud Hosting</h4>
                                        <p>Lorem ipsum dolor sit amet set, consectetur utes anet adipisicing elit, sed do eiusmod tempor incidist.</p>
                                    </div>
                                </a>
                            </div>

                            <div class="col-md-3 col-sm-6">
                                <a  class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0.6s">
                                    <span class="rotate-box-icon"><i class="fa fa-map-marker"></i></span>
                                    <div class="rotate-box-info">
                                        <h4>Coding Pen</h4>
                                        <p>Lorem ipsum dolor sit amet set, consectetur utes anet adipisicing elit, sed do eiusmod tempor incidist.</p>
                                    </div>
                                </a>
                            </div>

                        </div> <!-- /.row -->
                    </div> <!-- /.container -->
                </div>
                <!-- End rotate-box-2 -->
            </section>
            <!-- End Services -->

            <section id="testimonial-section">
      					<div id="testimonial-trigger" class="testimonial2 text-white parallax" data-stellar-background-ratio="0.5" style="background-image: url(../img/testimonial3-bg.jpg);">
      							<div class="cover"></div>
      							<!-- Begin page header-->
      							<div class="page-header-wrapper">
      									<div class="container">
      											<div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
      													<h2>Advantage Of Rental</h2>
      													<div class="devider"></div>
      													<p class="subtitle">Why we need to use Rental Products?</p>
      											</div>
      									</div>
      							</div>
      							<!-- End page header-->
      							<div class="container">
      									<div class="testimonial-inner center-block text-center">
      											<div id="owl-testimonial" class="owl-carousel">
      													<div class="item">
      															<blockquote>
                                      <h4><strong>Professional Purchase / Disposal</strong></h4>
                                        <p>Cost Reduction by a large purchase<br>
                                   Vast information about the brand new product & newly launched brand<br>
                                   Specialized in disposal of the used machinery: <br>
                                   Having many dealers, REFURBISHING project etc.
                                        </p>
      															</blockquote>
      													</div>
      													<div class="item">
      															<blockquote>
                                      <h4><strong>Professional Maintenance</strong></h4>
                                          <p>Experienced engineers for A/S<br>
                                   Managing item records and building up the computer system<br>
                                   Systematizing parts supply<br>
                                   Affiliating with worldwide After-salesService network
                                          </p>
      															</blockquote>
      													</div>
                                <div class="item">
      															<blockquote>
                                      <h4><strong>Maximizing Profitability / efficiency</strong></h4>
                                        <p >Economic effect : cost cutting, maximizing profitability by professional dealing<br>
                                  Flexibility of use : At right time and place, providing optimal equipment
                                  SALES & RENTAL BACK : Purchasing customers’ equipment and renting back
                                        </p>

      															</blockquote>
      													</div>
                                <div class="item">
      															<blockquote>
                                      <h4 ><strong>Simplifying the work</strong></h4>
							                               <p>Simplifying the channel for the equipment<br>
																			Specializing the work  : Focusing on main field by outsourcing of production supply
							                               </p>

      															</blockquote>
      													</div>
      											</div>
      									</div>
      							</div>
      					</div>
      			</section>
      			<!-- End testimonials -->
            <!-- Begin footer -->
            <footer class="text-off-white">

                <div class="footer-top">
                	<div class="container">
                    	<div class="row wow bounceInLeft" data-wow-delay="0.4s">

                            <div class="col-sm-6 col-md-4">
                            	<img src="/img/logo/menu-logo.png">
                                <ul class="imp-links">
                                	<li><a href="">About</a></li>
                                	<li><a href="">Services</a></li>
                                	<li><a href="">Press</a></li>
                                	<li><a href="">Copyright</a></li>
                                	<li><a href="">Advertise</a></li>
                                	<li><a href="">Legal</a></li>
                                </ul>
                            </div>

                        	<div class="col-sm-6 col-md-4">
                                <h4>Subscribe</h4>
                            	<div id="footer_signup">
                                    <div id="email">
                                        <form id="subscribe" method="POST">
                                            <input type="text" placeholder="Enter email address" name="email" id="address" data-validate="validate(required, email)"/>
                                            <button type="submit">Submit</button>
                                            <span id="result" class="section-description"></span>
                                        </form>
                                    </div>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>

                            <div class="col-sm-12 col-md-4">
                                <h4>Recent Tweets</h4>
                                <div class="single-tweet">
                                    <div class="tweet-content"><span>@Unika</span> Excepteur sint occaecat cupidatat non proident</div>
                                    <div class="tweet-date">1 Hour ago</div>
                                </div>
                                <div class="single-tweet">
                                    <div class="tweet-content"><span>@Unika</span> Excepteur sint occaecat cupidatat non proident uku shumaru</div>
                                    <div class="tweet-date">1 Hour ago</div>
                                </div>
                            </div>

                        </div> <!-- /.row -->
                    </div> <!-- /.container -->
                </div>

                <div class="footer">
                    <div class="container text-center wow fadeIn" data-wow-delay="0.4s">
                        <p class="copyright">Copyright &copy; 2015 - Designed By <a href="https://www.behance.net/poljakova" class="theme-author">Veronika Poljakova</a> &amp; Developed by <a href="http://www.imransdesign.com/" class="theme-author">Imransdesign</a></p>
                    </div>
                </div>

            </footer>
            <!-- End footer -->

            <a href="#" class="scrolltotop"><i class="fa fa-arrow-up"></i></a> <!-- Scroll to top button -->

        </div><!-- body ends -->
        <!-- Plugins JS -->
      <script src="/assets/jquery-1.11.1.min.js"></script>
      <script src="/assets/bootstrap.min.js"></script>
      <script src="/assets/owl.carousel.min.js"></script>
      <script src="/assets/jquery.stellar.min.js"></script>
      <script src="/assets/wow.min.js"></script>
      <script src="/assets/waypoints.min.js"></script>
      <script src="/assets/isotope.pkgd.min.js"></script>
      <script src="/assets/classie.js"></script>
      <script src="/assets/jquery.easing.min.js"></script>
      <script src="/assets/jquery.counterup.min.js"></script>
      <script src="/assets/smoothscroll.js"></script>

      <!-- Theme JS -->
      <script src="/assets/theme.js"></script>

    </body>


</html>
