<!doctype html>

<html lang="en-US">
	<head>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Unika - Responsive One Page HTML5 Template</title>
		<meta name="description" content="Unika - Responsive One Page HTML5 Template">
		<meta name="keywords" content="HTML5, Bootsrtrap, One Page, Responsive, Template, Portfolio" />
		<meta name="author" content="imransdesign.com">

		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Google Fonts  -->
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,700,500' rel='stylesheet' type='text/css'> <!-- Body font -->
		<link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'> <!-- Navbar font -->
		<!-- Libs and Plugins CSS-->
		<link rel="stylesheet" href="/assets/bootstrap.min.css">
		<link rel="stylesheet" href="/assets/animate.min.css">
		<link rel="stylesheet" href="/assets/font-awesome.min.css">
		<link rel="stylesheet" href="/assets/owl.carousel.css">
		<link rel="stylesheet" href="/assets/owl.theme.css">


		<link rel="stylesheet" href="/assets/reset.css">
		<link rel="stylesheet" href="/assets/style.css">
		<link rel="stylesheet" href="/assets/mobile.css">

		<link rel="stylesheet" href="/assets/cool-gray.css">
		<script src="/assets/jquery-1.11.1.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
		<!--<script src="/assets/jquery.easing.min.js"></script>-->
		<script src="/assets/owl.carousel.min.js"></script>
		<script src="/assets/theme.js"></script>
		<script src="/assets/jquery.stellar.min.js"></script>
		<script src="/assets/wow.min.js"></script>
		<script src="/assets/waypoints.min.js"></script>
		<script src="/assets/isotope.pkgd.min.js"></script>
		<script src="/assets/classie.js"></script>
		<script src="/assets/jquery.counterup.min.js"></script>
		<script src="/assets/smoothscroll.js"></script>
		<script src="/assets/bootstrap.min.js"></script>
		<script src="/assets/jssor.slider.mini.js"></script>

</head>
    <body data-spy="scroll" data-target="#main-navbar">
      <!--  <div class="page-loader"></div>  <!-- Display loading image while page loads -->
    	<div class="body">

            <!--========== BEGIN HEADER ==========-->
            <header id="header" class="header-main">

                <!-- Begin Navbar -->
                <nav id="main-navbar" class="navbar navbar-default navbar-fixed-top" role="navigation"> <!-- Classes: navbar-default, navbar-inverse, navbar-fixed-top, navbar-fixed-bottom, navbar-transparent. Note: If you use non-transparent navbar, set "height: 98px;" to #header -->

                  <div class="container">

                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                      <a class="navbar-brand page-scroll" href="/">IS_KOREARENTAL_VINA</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a class="page-scroll" href="/">Home</a></li>
                            <li><a class="page-scroll" href="#vision-section">Group Vision</a></li>
                            <li><a class="page-scroll" href="#history-section">Company History</a></li>
                            <li><a class="page-scroll" href="#rental-section">Rental System</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                  </div><!-- /.container -->
                </nav>
                <!-- End Navbar -->

            </header>
            <!-- ========= END HEADER =========-->
						<div class="container" id="vision-section"></div>
            <!-- Begin about section -->
			<section id="service" style="margin-top:100px;" class="page bg-style1">
                <!-- Begin page header-->

                <div class="page-header-wrapper">
                    <div class="container">
                        <div class="page-header text-center wow fadeInUp" data-wow-delay="0.3s">
                            <h2>Group Vision</h2>
                            <div class="devider"></div>
                            <p class="subtitle">IS_DONGSEO & IS_KOREARENTAL</p>
                        </div>
                    </div>
                </div>
                <!-- End page header-->
			<div class="container">
				<h3>IS KOREA RENTAL CORP.</h3>
				<h6>We always consider the customer, the society, and the world</h6>

						<div class="row" style="margin-top:30px;">
							<div class="col-md-12">
								<div class="block-bottom">
									<div class="service-tab">

										  <!-- Nav tabs -->
										  <ul class="badhon-tab" role="tablist">
											<li class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">

											IDEA
											</a></li>
											<li><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">

											CORE VALUES
											</a></li>
											<li><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">

											VISION
											</a></li>
											<li><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">

											MISSION
											</a></li>
										  </ul>
											<!-- Tab panes -->
											<div class="tab-content edit-tab-content">
											<div class="tab-pane active edit-tab" id="home">
												<div class="teb-icon-edit">
													<img src="/img/about/vision-1.png" width="230" height="230">
												</div>
												<h1>IDEA</h1>
												<p>Pursuit of technologies and services that catch customer's heart Technologies that touches emotions.</p>
											</div>
											<div class="tab-pane edit-tab" id="profile">
												<div class="teb-icon-edit">
													<img src="/img/about/vision-1.png" width="230" height="230">
												</div>
												<h1>CORE VALUES</h1>
												<p>Challenge is the future. Passion is the power. Trust is the fundamental.</p>
											</div>
											<div class="tab-pane edit-tab" id="messages">
												<div class="teb-icon-edit">
													<img src="/img/about/vision-1.png" width="230" height="230">
												</div>
												<h1>VISION</h1>
												<p>A leading global company that creates unlimited possibilities and happiness by sharing growth.</p>
											</div>
											<div class="tab-pane edit-tab" id="settings">
												<div class="teb-icon-edit">
													<img src="/img/about/vision-1.png" width="230" height="230">
												</div>
												<h1>MISSION</h1>
												<p>Design a better future for the customers by their side to provide an affluent and happy life that everyone dreams of.</p>
											</div>
											</div>
									</div>
								</div>
							</div><!-- .col-md-12 close -->
						</div><!-- row close -->
		            </div><!-- .container close -->

											<div class="extra-space-l"></div>
          </section>
          <!-- End about section -->
					<section id="rental" class="page bg-style1">
										<!-- Begin rotate box-1 -->
								<div class="rotate-box-1-wrapper">
										<div class="container">
											<h3>IS KOREA RENTAL CORP.</h3>
											<h6>We always consider the customer, the society, and the world</h6>
												<div class="row" style="margin-top:30px;">
														<div class="col-md-3">

																		<img src="/img/about/total.png">
																		<div class="rotate-box-info">
																				<h6><strong>TOTAL SOLUTION</strong></h6>
																				<p>Creates a new future space culture.</p>
																		</div>

														</div>
														<div class="col-md-3">
															<img src="/img/about/responsible.png">
															<div class="rotate-box-info">
																	<h6><strong>RESPONSIBLE MANAGEMENT</strong></h6>
																	<p>Creates a new future space culture.</p>
															</div>
														</div>
														<div class="col-md-3">
															<img src="/img/about/needs.png">
															<div class="rotate-box-info">
																	<h6><strong>CUSTOMER'S NEEDS</strong></h6>
																	<p>Creates a new future space culture.</p>
															</div>
														</div>
														<div class="col-md-3">
														<img src="/img/about/satisfaction.png">
															<div class="rotate-box-info">
																	<h6><strong>CUSTOMER'S SATISFACTION</strong></h6>
																	<p>Creates a new future space culture.</p>
															</div>
														</div>
												</div> <!-- /.row -->
												<h6 style="margin-top:30px;">We maximize customer's values by providing variety of opportunities at a reasonable price to enable clients to cope with the rapid change in technology and products.</h6>
										</div> <!-- /.container -->
								</div>
								<!-- End rotate box-1 -->

										<div class="extra-space-l"></div>
										<!-- Begin page header
										<div class="page-header-wrapper">
												<div class="container">
														<div class="page-header text-center wow fadeInUp" data-wow-delay="0.3s">
																<h4>Our Skills</h4>
														</div>
												</div>
										</div>

										<!-- End page header

										<!-- Begin Our Skills
										<div class="our-skills">
											<div class="container">
													<div class="row">

															<div class="col-sm-6">
																		<div class="skill-bar wow slideInLeft" data-wow-delay="0.2s">
																				<div class="progress-lebel">
																						<h6>Photoshop & Illustrator</h6>
																				</div>
																				<div class="progress">
																					<div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
																					</div>
																				</div>
																		</div>
																</div>

																<div class="col-sm-6">
																		<div class="skill-bar wow slideInRight" data-wow-delay="0.2s">
																				<div class="progress-lebel">
																						<h6>WordPress</h6>
																				</div>
																				<div class="progress">
																					<div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%;">
																					</div>
																				</div>
																		</div>
																</div>

																<div class="col-sm-6">
																		<div class="skill-bar wow slideInLeft" data-wow-delay="0.4s">
																				<div class="progress-lebel">
																						<h6>Html & Css</h6>
																				</div>
																				<div class="progress">
																					<div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%;">
																					</div>
																				</div>
																		</div>
																</div>

																<div class="col-sm-6">
																		<div class="skill-bar wow slideInRight" data-wow-delay="0.4s">
																				<div class="progress-lebel">
																						<h6>Javascript</h6>
																				</div>
																				<div class="progress">
																					<div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
																					</div>
																				</div>
																		</div>
																</div>

														</div> <!-- /.row
												</div> <!-- /.container
										</div>
										<!-- End Our Skill -->
							</section>
							<!-- End about section -->


	<div class="container" id="history-section"></div>
            <!-- Begin Services -->
						<section id="cta-section" style="margin-top:100px;">
								<!-- Begin page header-->
								<div class="page-header-wrapper">
										<div class="container">
												<div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
														<h2>COMPANY HISTORY</h2>
														<div class="devider"></div>
														<p class="subtitle">2014's - 2016's</p>
												</div>
										</div>
								</div>
                <!-- End page header-->

                <!-- Begin roatet box-2 -->
							<div class="container">
                <div class="rotate-box-1-wrapper">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <a  class="rotate-box-1 square-icon text-center wow zoomIn" data-wow-delay="0">
                                    <span class="rotate-box-icon"><i class="fa fa-map-marker"></i></span>
                                    <div class="rotate-box-info">
                                        <h4><strong>2014's</strong></h4>
                                        <p>Rental Service - Measuring equipment and Man-Lift & Fork-Lift</p>
                                    </div>
                                </a>
                            </div>

                            <div class="col-md-4">
                                <a  class="rotate-box-1 square-icon text-center wow zoomIn" data-wow-delay="0.2s">
                                    <span class="rotate-box-icon"><i class="fa fa-map-marker"></i></span>
                                    <div class="rotate-box-info">
                                        <h4><strong>2015's</strong></h4>
                                        <p>Rental Service - Office equipments</p>
                                    </div>
                                </a>
                            </div>

                            <div class="col-md-4">
                                <a class="rotate-box-1 square-icon text-center wow zoomIn" data-wow-delay="0.4s">
                                    <span class="rotate-box-icon"><i class="fa fa-map-marker"></i></span>
                                    <div class="rotate-box-info">
                                        <h4><strong>2016's</strong></h4>
                                        <p>Rental Services - Car</p>
                                    </div>
                                </a>
                            </div>
                        </div> <!-- /.row -->
                    </div> <!-- /.container -->
                </div>
                <!-- End rotate-box-2 -->
							</div> <!-- container end -->
								<div class="extra-space-l"></div>
            </section>
            <!-- End Services -->
						<div class="container" id="rental-section"></div>
            <section>
      					<div id="testimonial-trigger" class="testimonial text-white parallax" data-stellar-background-ratio="0.5" style="background-image: url(../img/testimonial5-bg.jpg);">
      							<div class="cover"></div>
      							<!-- Begin page header-->
      							<div class="page-header-wrapper">
      									<div class="container">
      											<div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
      													<h2>Advantage Of Rental</h2>
      													<div class="devider"></div>
      													<p class="subtitle">Why we need to use Rental Products?</p>
      											</div>
      									</div>
      							</div>
      							<!-- End page header-->
      							<div class="container">
      									<div class="testimonial-inner center-block text-center">
      											<div id="owl-testimonial" class="owl-carousel">
      													<div class="item">
      															<blockquote>
                                      <h4><strong>Professional Purchase / Disposal</strong></h4>
                                        <p>Cost Reduction by a large purchase<br>
                                   Vast information about the brand new product & newly launched brand<br>
                                   Specialized in disposal of the used machinery: <br>
                                   Having many dealers, REFURBISHING project etc.
                                        </p>
      															</blockquote>
      													</div>
      													<div class="item">
      															<blockquote>
                                      <h4><strong>Professional Maintenance</strong></h4>
                                          <p>Experienced engineers for A/S<br>
                                   Managing item records and building up the computer system<br>
                                   Systematizing parts supply<br>
                                   Affiliating with worldwide After-salesService network
                                          </p>
      															</blockquote>
      													</div>
                                <div class="item">
      															<blockquote>
                                      <h4><strong>Maximizing Profitability / efficiency</strong></h4>
                                        <p>Economic effect : cost cutting, maximizing profitability by professional dealing<br>
                                  Flexibility of use : At right time and place, providing optimal equipment
                                  SALES & RENTAL BACK : Purchasing customers’ equipment and renting back
                                        </p>

      															</blockquote>
      													</div>
                                <div class="item">
      															<blockquote>
                                      <h4 ><strong>Simplifying the work</strong></h4>
							                               <p>Simplifying the channel for the equipment<br>
																			Specializing the work  : Focusing on main field by outsourcing of production supply
							                               </p>

      															</blockquote>
      													</div>
      											</div>
      									</div>
      							</div>
      					</div>
      			</section>
      			<!-- End testimonials -->
            <!-- Begin footer -->
						<footer id="footer" class="clearfix">
						      <div id="footer-widgets">

						        <div class="container">

						        <div id="footer-wrapper">

						          <div class="row">
												<div class="col-sm-6 col-md-4">
	 						              		<div id="recent-posts-3" class="widget widgetFooter widget_recent_entries">
	 						                    <h4 class="widgettitle">Site Map :</h4>
	 																<ul class="bottom_ul" style="pull-left">
																		      <li><a href="/">Home</a></li>
	 																        <li><a class="page-scroll" href="#vision-section">Group Vision</a></li>
	 																        <li><a class="page-scroll" href="#history-section">Company History</a></li>
	 																        <li><a class="page-scroll" href="#rental-section">Rental System</a></li>
	 															  </ul>
	 															</div>
	 							 			</div> <!-- end widget1 -->

												<div class="col-md-4" style="margin-bottom:20px;">
						              <div id="meta-3" class="widget widgetFooter widget_meta">
						              <h4 class="widgettitle">Family Site :</h4>
						              <ul>
						    		  <li><a href="#" target="_blank"><i class="fa fa-arrow-circle-right"></i> KOREA RENTAL KOREA</a></li>
									    <li><a href="#" target="_blank"><i class="fa fa-arrow-circle-right"></i> KOREA RENTAL CHINA</a></li>
									    <li><a href="#" target="_blank"><i class="fa fa-arrow-circle-right"></i> IS DONGSEO</a></li></li>
											<li><a href="#" target="_blank"><i class="fa fa-arrow-circle-right"></i> INUS</a></li>
						             </ul>
											 	</div>
					             </div> <!-- end widget1 -->
										<div class="col-md-4">
											<div id="meta-3" class="widget widgetFooter widget_meta">
											<h4 class="widgettitle">Join Us :</h4>
											<ul>
												<ul class="social-list">
												 <li> <a href="https://www.facebook.com/iskorearentalvina" class="rotate-box-1 square-icon text-center wow zoomIn" data-wow-delay="0.3s"><span class="rotate-box-icon"><i class="fa fa-facebook"></i></span></a></li>
												 <li> <a href="https://www.facebook.com/iskorearentalvina" class="rotate-box-1 square-icon text-center wow zoomIn" data-wow-delay="0.4s"><span class="rotate-box-icon"><i class="fa fa-twitter"></i></span></a></li>
												  <div class="center"><button data-toggle="modal" data-target="#email2" class="btn btn-primary btn-md">Send Message</button></div>
											 </ul>
										 </ul>
										</div>
									 </div> <!-- end widget1 -->



						 </div><!-- end row -->

						          </div> <!-- end #footer-wrapper -->

						        </div> <!-- end .container -->

						        </div> <!-- end #footer-widgets -->


						      <div id="sub-floor">
						        <div class="container">
						          <div class="row">
						            <div class="col-md-8 copyright">
						             © 2016 Copy right IS_KOREARENTAL_VINA Corp.
						            </div>

						          </div> <!-- end .row -->
						        </div>
						      </div>

						    </footer>
            <!-- End footer -->


            <a href="#" class="scrolltotop"><i class="fa fa-arrow-up"></i></a> <!-- Scroll to top button -->
						<div id="email2" class="modal fade" role="dialog" style="margin-top:50px;">
							<div class="modal-dialog">
								<!-- Modal content-->
								<div class="modal-content">

									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal">×</button>
										<h4 class="modal-title">Write to us</h4>
									</div>
									<div class="modal-body">
										<div class="contact-form">
												<form role="form" action="/home/write" method="post">
														<div class="form-group">
																<input type="text" class="form-control input-lg" name="name" placeholder="Your Company Name" required>
														</div>
														<div class="form-group">
																<input type="email" class="form-control input-lg" name="email" placeholder="Your E-mail" required>
														</div>
														<div class="form-group">
																<textarea class="form-control input-lg" rows="5" name="content" placeholder="Message" required></textarea>
														</div>
														<div align="center">
														 <button type="submit" class="btn btn-lg" data-wow-delay="0.8s">Send</button>
														</div>
												</form>
										</div>

									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
									</div>

									</div>

								</div>

							</div>

        </div><!-- body ends -->
    </body>


</html>
