<!doctype html>
<html lang="en-US">
	<head>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>IS_KOREARENTAL_VINA</title>
		<link rel="icon" href="favicon.png" type="image/png">
    <link rel="shortcut icon" href="favicon.ico" type="img/x-icon">
		<meta name="description" content="Unika - Responsive One Page HTML5 Template">
		<meta name="keywords" content="HTML5, Bootsrtrap, One Page, Responsive, Template, Portfolio" />
		<meta name="author" content="imransdesign.com">
		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
<body data-spy="scroll" data-target="#main-navbar">
        <!--<div class="page-loader"></div>   Display loading image while page loads -->
    	<div class="body">
				<!--========== BEGIN HEADER ==========-->
				<header id="header" class="header-main">

						<!-- Begin Navbar -->
						<nav id="main-navbar" class="navbar navbar-default navbar-fixed-top" role="navigation"> <!-- Classes: navbar-default, navbar-inverse, navbar-fixed-top, navbar-fixed-bottom, navbar-transparent. Note: If you use non-transparent navbar, set "height: 98px;" to #header -->

							<div class="container">

								<!-- Brand and toggle get grouped for better mobile display -->
								<div class="navbar-header">
									<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
										<span class="sr-only">Toggle navigation</span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
									</button>
									<a class="navbar-brand page-scroll" href="#">IS_KOREARENTAL_VINA</a>
								</div>

								<!-- Collect the nav links, forms, and other content for toggling -->
								<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
										<ul class="nav navbar-nav navbar-right">
												<li><a class="page-scroll" href="/">Home</a></li>
												<li><a class="page-scroll" href="#group">Group Vision</a></li>
												<li><a class="page-scroll" href="#history">History</a></li>
												<li><a class="page-scroll" href="#rental">Rental System</a></li>
										</ul>
								</div><!-- /.navbar-collapse -->
							</div><!-- /.container -->
						</nav>
						<!-- End Navbar -->

				</header>
            <!-- ========= END HEADER =========-->

            <!-- Begin about section -->
			<section id="about" class="page bg-style1">
                <!-- Begin page header-->
                <div class="page-header-wrapper">
                    <div class="container">
                        <div class="page-header text-center wow fadeInUp" data-wow-delay="0.3s">
                            <h2>Group Vision</h2>
                            <div class="devider"></div>
                            <p class="subtitle">little information</p>
                        </div>
                    </div>
                </div>
                <!-- End page header-->

                <!-- Begin rotate box-1 -->
                <div class="rotate-box-1-wrapper">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <img src="/img/about/about-1.jpg">
                            </div>

                            <div class="col-md-6 col-sm-6">
                                <img src="/img/about/about-2.jpg">
                            </div>
                        </div> <!-- /.row -->
                    </div> <!-- /.container -->
                </div>
                <!-- End rotate box-1 -->

                <div class="extra-space-l"></div>

                <!-- End page header-->

          </section>
          <!-- End about section -->
          <!-- Begin partners -->
          <section id="rental">
              <!-- Begin page header-->
              <div class="page-header-wrapper">
                  <div class="container">
                      <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                          <h2>Advantage Of Rental</h2>
                          <div class="devider"></div>
                          <p class="subtitle">Those who trust us</p>
                      </div>
                    <div class="col-md-3">
                      <i class="fa-map-marker"></i>
                      <h3>branding &amp; identity</h3>
                      <p>Proin iaculis purus digni consequat sem digni ssim. Donec entum digni ssim.</p>
                   </div>
                   <div class="col-md-3">
                     <i class="fa-map-marker"></i>
                     <h3>branding &amp; identity</h3>
                     <p>Proin iaculis purus digni consequat sem digni ssim. Donec entum digni ssim.</p>
                  </div>
                  <div class="col-md-3">
                    <i class="fa-map-marker"></i>
                    <h3>branding &amp; identity</h3>
                    <p>Proin iaculis purus digni consequat sem digni ssim. Donec entum digni ssim.</p>
                 </div>
                 <div class="col-md-3">
                   <i class="fa-map-marker"></i>
                   <h3>branding &amp; identity</h3>
                   <p>Proin iaculis purus digni consequat sem digni ssim. Donec entum digni ssim.</p>
                </div>
              </div>

          </section>
          <!-- End partners -->

            <!-- Begin Services -->
            <section id="history" class="page text-center">
                <!-- Begin page header-->
                <div class="page-header-wrapper">
                    <div class="container">
                        <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                            <h2>History</h2>
                            <div class="devider"></div>
                            <p class="subtitle">what we really know how</p>
                        </div>
                    </div>
                </div>
                <!-- End page header-->

            <!-- Begin footer -->
            <footer class="text-off-white">

                <div class="footer-top">
                	<div class="container">
                    	<div class="row wow bounceInLeft" data-wow-delay="0.4s">

                            <div class="col-sm-6 col-md-4">
                            	<h4>Useful Links</h4>
                                <ul class="imp-links">
                                    	<li><a class="page-scroll" href="#about">About</a></li>
                           			 	<li><a class="page-scroll" href="#product">Rental Products</a></li>
                           				<li><a class="page-scroll" href="#recruit">Recruitment</a></li>
                            			<li><a class="page-scroll" href="#contact">Contact</a></li>
                                </ul>
                            </div>

                        	<div class="col-sm-6 col-md-4">
                                <h4>Subscribe</h4>
                            	<div id="footer_signup">
                                    <div id="email">
                                        <form id="subscribe" method="POST">
                                            <input type="text" placeholder="Enter email address" name="email" id="address" data-validate="validate(required, email)"/>
                                            <button type="submit">Submit</button>
                                            <span id="result" class="section-description"></span>
                                        </form>
                                    </div>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>

                            <div class="col-sm-12 col-md-4">
                                <h4>Recent Tweets</h4>
                                <div class="single-tweet">
                                    <div class="tweet-content"><span>@Unika</span> Excepteur sint occaecat cupidatat non proident</div>
                                    <div class="tweet-date">1 Hour ago</div>
                                </div>
                                <div class="single-tweet">
                                    <div class="tweet-content"><span>@Unika</span> Excepteur sint occaecat cupidatat non proident uku shumaru</div>
                                    <div class="tweet-date">1 Hour ago</div>
                                </div>
                            </div>

                        </div> <!-- /.row -->
                    </div> <!-- /.container -->
                </div>

                <div class="footer">
                    <div class="container text-center wow fadeIn" data-wow-delay="0.4s">
                        <p class="copyright">Copyright &copy; 2016 - IS_KOREARENTAL_VINA</p>
                    </div>
                </div>

            </footer>
            <!-- End footer -->
            <a href="#" class="scrolltotop"><i class="fa fa-arrow-up"></i></a> <!-- Scroll to top button -->
        </div><!-- body ends -->
<!-- product section-->
<script>
$(document).ready(function() {
    $('#list').click(function(event){event.preventDefault();$('#products .item').addClass('list-group-item');});
    $('#grid').click(function(event){event.preventDefault();$('#products .item').removeClass('list-group-item');$('#products .item').addClass('grid-group-item');});
});
</script>
  </body>


</html>
