<!doctype html>
<html lang="en-US">
	<head>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>IS_KOREARENTAL_VINA</title>
		<link rel="icon" href="favicon.png" type="image/png">
    <link rel="shortcut icon" href="favicon.ico" type="img/x-icon">
		<meta name="description" content="Unika - Responsive One Page HTML5 Template">
		<meta name="keywords" content="HTML5, Bootsrtrap, One Page, Responsive, Template, Portfolio" />
		<meta name="author" content="imransdesign.com">
		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
<body data-spy="scroll" data-target="#main-navbar">
        <!--<div class="page-loader"></div>   Display loading image while page loads -->
    	<div class="body">
				<!--========== BEGIN HEADER ==========-->
				<header id="header" class="header-main">

						<!-- Begin Navbar -->
						<nav id="main-navbar" class="navbar navbar-default navbar-fixed-top" role="navigation"> <!-- Classes: navbar-default, navbar-inverse, navbar-fixed-top, navbar-fixed-bottom, navbar-transparent. Note: If you use non-transparent navbar, set "height: 98px;" to #header -->

							<div class="container">

								<!-- Brand and toggle get grouped for better mobile display -->
								<div class="navbar-header">
									<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
										<span class="sr-only">Toggle navigation</span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
									</button>
									<a class="navbar-brand page-scroll" href="#">IS_KOREARENTAL_VINA</a>
								</div>

								<!-- Collect the nav links, forms, and other content for toggling -->
								<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
										<ul class="nav navbar-nav navbar-right">
												<li><a class="page-scroll" href="/">Home</a></li>
												<li><a class="page-scroll" href="#group">Group Vision</a></li>
												<li><a class="page-scroll" href="#history">History</a></li>
												<li><a class="page-scroll" href="#rental">Rental System</a></li>
										</ul>
								</div><!-- /.navbar-collapse -->
							</div><!-- /.container -->
						</nav>
						<!-- End Navbar -->

				</header>
            <!-- ========= END HEADER =========-->

            <!-- Begin about section -->
			<section id="about" class="page bg-style1" style="margin-top:100px;">
                <!-- Begin page header-->
                <div class="page-header-wrapper">
                    <div class="container">
                        <div class="page-header text-center wow fadeInUp" data-wow-delay="0.3s">
                            <h2>Group Vision</h2>
                            <div class="devider"></div>
                            <p class="subtitle">little information</p>
                        </div>
                    </div>
                </div>
                <!-- End page header-->

          <div class="container">
            <div class="col-md-6">
              <h2>IS DONGSEO</h2>
              <h6>Creates a new future space culture</h6>
                <div class="row">
                  <figure>
                    <img src="/img/about/about-1.jpg" alt="">
                  </figure>
                </div>
            </div>
          <div class="col-md-6">
              <h2>IS Korea Rental Corp.</h2>
              <h6>We always consider the customer, the society, and the world</h6>
                <div class="row">
                  <figure>
                    <img src="/img/about/about-2.jpg" alt="">
                  </figure>
                </div>
            </div>
            </div>

                <!-- End rotate box-1 -->

                <div class="extra-space-l"></div>

                <!-- End page header-->

          </section>
          <!-- End about section -->
          <!-- Begin partners -->
          <section id="history">
              <!-- Begin page header-->
              <div class="page-header-wrapper">
                  <div class="container">
                      <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                          <h2>History</h2>
                          <div class="devider"></div>
                          <p class="subtitle">Those who trust us</p>
                      </div>
                    <div class="col-md-3">
                      <i class="fa-map-marker"></i>
                      <h3>branding &amp; identity</h3>
                      <p>Proin iaculis purus digni consequat sem digni ssim. Donec entum digni ssim.</p>
                   </div>
                   <div class="col-md-3">
                     <i class="fa-map-marker"></i>
                     <h3>branding &amp; identity</h3>
                     <p>Proin iaculis purus digni consequat sem digni ssim. Donec entum digni ssim.</p>
                  </div>
                  <div class="col-md-3">
                    <i class="fa-map-marker"></i>
                    <h3>branding &amp; identity</h3>
                    <p>Proin iaculis purus digni consequat sem digni ssim. Donec entum digni ssim.</p>
                 </div>
                 <div class="col-md-3">
                   <i class="fa-map-marker"></i>
                   <h3>branding &amp; identity</h3>
                   <p>Proin iaculis purus digni consequat sem digni ssim. Donec entum digni ssim.</p>
                </div>
              </div>

          </section>
          <!-- End partners -->

            <!-- Begin Services -->
            <section id="rental" class="page text-center">
                <!-- Begin page header-->
                <div class="page-header-wrapper">
                    <div class="container">
                        <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                            <h2>Advantage Of Rental</h2>
                            <div class="devider"></div>
                            <p class="subtitle">what we really know how</p>
                        </div>
                    </div>
                </div>
                <!-- End page header-->

								<!-- End contact section -->
								<div class="copyright">
								  <div class="container">
								    <div class="row">
											<img src="/img/logo/menu-logo.png">
											<span class="copyright">&copy; IS KOREARENTAL CORP. ALL RIGHTS RESERVED.</span>
								    </div>
								    <div class="col-md-offset-2">
								      <ul class="bottom_ul">
								        <li><a href="#about">About</a></li>
								        <li><a href="#service">Services</a></li>
								        <li><a href="#product">Rental Products</a></li>
								        <li><a href="#recruit">Recruitment</a></li>
								        <li><a href="#contact">Contact</a></li>
								      </ul>
								    </div>
										<div class="col-md-2">
											<p class="text-muted credit">
										<div class="btn-group">
												<button type="button" class="btn btn-outlined btn-theme btn-sm dropdown-toggle" data-toggle="dropdown">
														Family Site <span class="caret caret-up"></span>
												</button>
												<ul class="dropdown-menu drop-up" role="menu">
														<li><a href="http://www.korearental.co.kr/"> KOREA RENTAL KOREA</a></li>
														<li class="divider"></li>
														<li><a href="http://www.korearental.co.kr/"> KOREA RENTAL CHINA</a></li>
														<li class="divider"></li>
														<li><a href="http://www.isdongseo.co.kr/"> IS DONGSEO</a></li>
														<li class="divider"></li>
														<li><a href="http://www.inushaus.co.kr/"> SAMHONG-TECH</a></li>
														<li class="divider"></li>
														<li><a href="http://www.inushaus.co.kr/"> INUS</a></li>
												</ul>
										</div>
								      </p>
								  </div>
								</div>
								</div>
            <a href="#" class="scrolltotop"><i class="fa fa-arrow-up"></i></a> <!-- Scroll to top button -->
        </div><!-- body ends -->
<!-- product section-->
<script>
$(document).ready(function() {
    $('#list').click(function(event){event.preventDefault();$('#products .item').addClass('list-group-item');});
    $('#grid').click(function(event){event.preventDefault();$('#products .item').removeClass('list-group-item');$('#products .item').addClass('grid-group-item');});
});
</script>
  </body>


</html>
