<!doctype html>

<html lang="en-US">
	<head>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Unika - Responsive One Page HTML5 Template</title>
		<meta name="description" content="Unika - Responsive One Page HTML5 Template">
		<meta name="keywords" content="HTML5, Bootsrtrap, One Page, Responsive, Template, Portfolio" />
		<meta name="author" content="imransdesign.com">

		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Google Fonts  -->
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,700,500' rel='stylesheet' type='text/css'> <!-- Body font -->
		<link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'> <!-- Navbar font -->
		<!-- Libs and Plugins CSS-->
		<link rel="stylesheet" href="/assets/bootstrap.min.css">
		<link rel="stylesheet" href="/assets/animate.min.css">
		<link rel="stylesheet" href="/assets/font-awesome.min.css">
		<link rel="stylesheet" href="/assets/owl.carousel.css">
		<link rel="stylesheet" href="/assets/owl.theme.css">


		<link rel="stylesheet" href="/assets/reset.css">
		<link rel="stylesheet" href="/assets/style.css">
		<link rel="stylesheet" href="/assets/mobile.css">

		<link rel="stylesheet" href="/assets/cool-gray.css">
		<script src="/assets/jquery-1.11.1.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
		<!--<script src="/assets/jquery.easing.min.js"></script>-->
		<script src="/assets/owl.carousel.min.js"></script>
		<script src="/assets/theme.js"></script>
		<script src="/assets/jquery.stellar.min.js"></script>
		<script src="/assets/wow.min.js"></script>
		<script src="/assets/waypoints.min.js"></script>
		<script src="/assets/isotope.pkgd.min.js"></script>
		<script src="/assets/classie.js"></script>
		<script src="/assets/jquery.counterup.min.js"></script>
		<script src="/assets/smoothscroll.js"></script>
		<script src="/assets/bootstrap.min.js"></script>
		<script src="/assets/jssor.slider.mini.js"></script>

</head>
    <body data-spy="scroll" data-target="#main-navbar">
      <!--  <div class="page-loader"></div>  <!-- Display loading image while page loads -->
    	<div class="body">

            <!--========== BEGIN HEADER ==========-->
            <header id="header" class="header-main">

                <!-- Begin Navbar -->
                <nav id="main-navbar" class="navbar navbar-default navbar-fixed-top" role="navigation"> <!-- Classes: navbar-default, navbar-inverse, navbar-fixed-top, navbar-fixed-bottom, navbar-transparent. Note: If you use non-transparent navbar, set "height: 98px;" to #header -->

                  <div class="container">

                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                      <a class="navbar-brand page-scroll" href="/">IS_KOREARENTAL_VINA</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a class="page-scroll" href="/">Home</a></li>
                            <li><a class="page-scroll" href="#vision-section">Group Vision</a></li>
                            <li><a class="page-scroll" href="#history-section">Company History</a></li>
                            <li><a class="page-scroll" href="#rental-section">Rental System</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                  </div><!-- /.container -->
                </nav>
                <!-- End Navbar -->

            </header>
            <!-- ========= END HEADER =========-->
						<div class="container" id="vision-section"></div>
            <!-- Begin about section -->
			<section id="service" style="margin-top:30px;" class="page bg-style1">
                <!-- Begin page header-->

                <div class="page-header-wrapper">
                    <div class="container">
                        <div class="page-header text-center wow fadeInUp" data-wow-delay="0.3s">
                            <h2>Group Vision</h2>
                            <div class="devider"></div>
                            <p class="subtitle">IS_DONGSEO & IS_KOREARENTAL</p>
                        </div>
                    </div>
                </div>
                <!-- End page header-->
			<div class="container" style="margin-top:50px;">

				<div class="page-header-wrapper">
						<div class="container">
								<div class="page-header wow text-center fadeInDown" data-wow-delay="0.4s">
									<h3>IS DONGSEO GROUP</h3>
										<p class="subtitle">Corporate management of IS Dongseo starts with pursuit of technology for customer satisfaction</p>

								</div>
						</div>
				</div>

				<section class="main-section alabaster"><!--main-section alabaster-start-->
					<div class="container">
				    	<div class="row">
							<figure class="col-lg-5 col-sm-4 wow fadeInLeft">
				            	<img src="/img/about/vision-1.png" alt="" width="300" height="300">
				            </figure>
				        	<div class="col-lg-7 col-sm-8 featured-work">
				            	<div class="featured-box">
				                	<div class="featured-box-col2 wow fadeInRight delay-02s">
				                        <h5><i class="fa fa-circle" aria-hidden="true" style="font-size:5px;"></i>&nbsp;&nbsp;&nbsp;IDEA</h5>
				                        <p>Pursuit of technologies and services that catch customer's heart Technologies that touches emotions.</p>
				                    </div>
				                </div>
				                <div class="featured-box">

				                	<div class="featured-box-col2 wow fadeInRight delay-04s">
				                        <h5><i class="fa fa-circle" aria-hidden="true" style="font-size:5px;"></i>&nbsp;&nbsp;&nbsp;CORE VALUES</h5>
				                        <p>Challenge is the future. Passion is the power. Trust is the fundamental.</p>
				                    </div>
				                </div>
				                <div class="featured-box">

				                	<div class="featured-box-col2 wow fadeInRight delay-06s">
				                        <h5><i class="fa fa-circle" aria-hidden="true" style="font-size:5px;"></i>&nbsp;&nbsp;&nbsp;VISION</h5>
				                        <p>A leading global company that creates unilimited possibilities and happiness by sharing growth.</p>
				                    </div>
				                </div>
												<div class="featured-box">

				                	<div class="featured-box-col2 wow fadeInRight delay-06s">
				                        <h5><i class="fa fa-circle" aria-hidden="true" style="font-size:5px;"></i>&nbsp;&nbsp;&nbsp;MISSION</h5>
				                        <p>Design a better future for the customers by their side to provide an affluent and happy life that everyone dreams of.</p>
				                    </div>
				                </div>
				            </div>
				        </div>
					</div>
				</section><!--main-section alabaster-end-->


											<div class="extra-space-l"></div>
          </section>

					<section id="vision2-section" class="page bg-style1">
							<!-- Begin page header-->

							<div class="page-header-wrapper">
									<div class="container">
											<div class="page-header wow text-center fadeInDown" style="pull-left" data-wow-delay="0.4s">
												<h3> IS KOREA RENTAL CORP. </h3>
													<p class="subtitle"><strong>VISION</strong> - We always consider the customer, the society, and the world</p>

											</div>
									</div>
							</div>
							<!-- End page header-->

							<!-- Begin roatet box-2 -->
							<div class="rotate-box-2-wrapper">
									<div class="container">
											<div class="row">
													<div class="col-md-3">
															<a class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0">
																	<img src="/img/about/total.png">
																	<div class="rotate-box-info">
																			<h5><strong>TOTAL SOLUTION</strong></h5>

																	</div>
															</a>
													</div>

													<div class="col-md-3">
															<a class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0.2s">
																	<img src="/img/about/responsible.png">
																	<div class="rotate-box-info">
																			<h5><strong>RESPONSIBLE MANAGEMENT</strong></h5>

																	</div>
															</a>
													</div>

													<div class="col-md-3">
															<a class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0.4s">
																	<img src="/img/about/needs.png">
																	<div class="rotate-box-info">
																			<h5><strong>CUSTOMER'S NEEDS</strong></h5>

																	</div>
															</a>
													</div>
													<div class="col-md-3">
															<a class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0.4s">
																	<img src="/img/about/satisfaction.png">
																	<div class="rotate-box-info">
																			<h5><strong>CUSTOMER'S SATISFACTION</strong></h5>

																	</div>
															</a>
													</div>

											</div> <!-- /.row -->
									</div> <!-- /.container -->
							</div>
							<!-- End rotate-box-2 -->
							<div class="extra-space-l"></div>
					</section>
					<!-- End Services -->
					<!-- Begin prices section -->
		 <section id="prices-section" class="page">

							 <!-- Begin page header-->

							 <div class="page-header-wrapper">
									 <div class="container">
											 <div class="page-header wow text-center fadeInDown" data-wow-delay="0.4s">
												 <h3> IS KOREA RENTAL CORP. </h3>
													 <p class="subtitle"><strong>BUSINESS MODEL</strong> - Our business model with the best service quality to maximize client's values</p>

											 </div>
									 </div>
							 </div>
							 <!-- End page header-->

			 <div class="extra-space-l"></div>

			 <!-- Begin prices -->
			 <div class="prices">
				 <div class="container">
					 <div class="row">

						 <div class="price-box col-sm-6 price-box-featured col-md-3 wow flipInY" data-wow-delay="0.3s">
							 <div class="panel panel-default">
								 <div class="panel-heading text-center">
									 <i class="fa fa-comments fa-2x"></i>
									 <h3>Consulting</h3>
								 </div>
								 <div class="panel-body text-center" align="center" >
									 	<img class="img-rounded" style="border-radius: 25px;" src="/img/about/consulting.jpg">
								 </div>
								 <ul class="list-group text-center">
									 <li class="list-group-item"><strong>Selecting Property</strong></li>
									 <li class="list-group-item"><strong>Quotation</strong></li>
									 <li class="list-group-item"><strong>Counseling</strong></li>
								 </ul>

							 </div>
						 </div>

						 <div class="price-box col-sm-6 col-md-3 wow flipInY" data-wow-delay="0.5s">
							 <div class="panel panel-default">
								 <div class="panel-heading text-center">
									 <i class="fa fa-credit-card fa-2x"></i>
									 <h3>Asset Management</h3>
								 </div>
								 <div class="panel-body text-center" align="center">
									 <img class="img-rounded" style="border-radius: 25px;" src="/img/about/asset.jpg">
								 </div>
								 <ul class="list-group text-center">
									 <li class="list-group-item"><strong>Rental Equipment</strong></li>
									 <li class="list-group-item"><strong>Purchase Proxy</strong></li>
									 <li class="list-group-item"><strong>Trading used equipment</strong></li>

								 </ul>

							 </div>
						 </div>

						 <div class="price-box col-sm-6 price-box-featured col-md-3 wow flipInY" data-wow-delay="0.7s">
							 <div class="panel panel-default">
								 <div class="panel-heading text-center">
									 <i class="fa fa-wrench fa-2x"></i>
									 <h3>Technical Support</h3>
								 </div>
								 <div class="panel-body text-center" align="center">
									 <img class="img-rounded" src="/img/about/support.jpg">
								 </div>
								 <ul class="list-group text-center">
									 <li class="list-group-item"><strong>Calibration</strong></li>
									 <li class="list-group-item"><strong>S/W</strong></li>
									 <li class="list-group-item"><strong>Repair</strong></li>
									 <li class="list-group-item"><strong>After Sales service</strong></li>
									 <li class="list-group-item"><strong>Skills Training</strong></li>
								 </ul>

							 </div>
						 </div>

						 <div class="price-box col-sm-6 col-md-3 wow flipInY" data-wow-delay="0.9s">
							 <div class="panel panel-default">
								 <div class="panel-heading text-center">
									 <i class="fa fa-cog fa-2x"></i>
									 <h3>Logistics</h3>
								 </div>
								 <div class="panel-body text-center" align="center">
									 <img class="img-rounded" style="border-radius: 25px;" src="/img/about/logistics.jpg">
								 </div>
								 <ul class="list-group text-center">
									 <li class="list-group-item"><strong>Delivery</strong></li>
									 <li class="list-group-item"><strong>Exchange</strong></li>
									 <li class="list-group-item"><strong>Return</strong></li>
								 </ul>

							 </div>
						 </div>

					 </div> <!-- /.row -->
				 </div> <!-- /.container -->
			 </div>
			 <!-- End prices -->
			 <div class="extra-space-l"></div>
		 </section>
		 <!-- End prices section -->



	<div class="container" id="history-section"></div>
            <!-- Begin Services -->
						<section id="cta-section" style="margin-top:100px;">
								<!-- Begin page header-->
								<div class="page-header-wrapper">
										<div class="container">
												<div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
														<h2>COMPANY HISTORY</h2>
														<div class="devider"></div>
														<p class="subtitle">2013's - 2016's</p>
												</div>
										</div>
								</div>
                <!-- End page header-->
                <!-- Begin roatet box-2 -->
							<div class="container">
								<ul class="timeline">
								    <li>
								        <div class="timeline-badge">
								          <a><i class="fa fa-circle" id=""></i></a>
								        </div>
								        <div class="timeline-panel">
								            <div class="timeline-heading">
								                <h5>2016's</h5>
								            </div>
								            <div class="timeline-body">
								                <p>Invitamus me testatur sed quod non dum animae tuae lacrimis ut libertatem deum rogus aegritudinis causet. Dicens hoc contra serpentibus isto.</p>
								            </div>
								            <div class="timeline-footer">
								                <p class="text-right"><h6>In Hochiminh Vietnam</h6></p>
								            </div>
								        </div>
								    </li>

								    <li class="timeline-inverted">
								        <div class="timeline-badge">
								            <a><i class="fa fa-circle invert" id=""></i></a>
								        </div>
								        <div class="timeline-panel">
								            <div class="timeline-heading">
								                <h5>2015's</h5>
								            </div>
								            <div class="timeline-body">
								                <p>Established IS KOREA RENTAL VINA CO., LTD_HOCHIMINH BRANCH in Hochiminh Vietnam.<br>

															Man-Lift and Car Rental Service Launching.</p>
								            </div>
								            <div class="timeline-footer">
								                <p class="text-right"><h6>In Hochiminh Vietnam</h6></p>
								            </div>
								        </div>
								    </li>

								    <li>
								        <div class="timeline-badge">
								            <a><i class="fa fa-circle" id=""></i></a>
								        </div>
								        <div class="timeline-panel">
								            <div class="timeline-heading">
								                <h5>2014's</h5>
								            </div>
								            <div class="timeline-body">
								                <p>Mesuring Equipment and Man-Lift & Fork-Lift Rental Service Launching.<br>

																	Office Equipment and Car Rental service Launching.</p>
								            </div>
								            <div class="timeline-footer">
								                <p class="text-right"><h6>In Hanoi Vietnam</h6></p>
								            </div>
								        </div>
								    </li>

								    <li class="timeline-inverted">
								        <div class="timeline-badge">
								            <a><i class="fa fa-circle invert" id=""></i></a>
								        </div>
								        <div class="timeline-panel">
								            <div class="timeline-heading">
								                <h5>2013's</h5>
								            </div>
								            <div class="timeline-body">
								                <p>Established IS KOREA RENTAL VINA CO., LTD in Hanoi Vietnam.<br>

																	Mesuring Equipment and Man-Lift Rental Service Launching.</p>
								            </div>
								            <div class="timeline-footer">
								                <p class="text-right"><h6>In Hanoi Vietnam</h6></p>
								            </div>
								        </div>
								    </li>

								    <li class="clearfix no-float"></li>
								</ul>

                <!-- End rotate-box-2 -->
							</div> <!-- container end -->
								<div class="extra-space-l"></div>
            </section>
            <!-- End Services -->
						<div class="container" id="rental-section"></div>
            <section>
      					<div id="testimonial-trigger" class="testimonial text-white parallax" data-stellar-background-ratio="0.5" style="background-image: url(../img/testimonial5-bg.jpg);">
      							<div class="cover"></div>
      							<!-- Begin page header-->
      							<div class="page-header-wrapper">
      									<div class="container">
      											<div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
      													<h2>Advantage Of Rental</h2>
      													<div class="devider"></div>
      													<p class="subtitle">Why we need to use Rental Products?</p>
      											</div>
      									</div>
      							</div>
      							<!-- End page header-->
      							<div class="container">
      									<div class="testimonial-inner center-block text-center">
      											<div id="owl-testimonial" class="owl-carousel">
      													<div class="item">
      															<blockquote>
                                      <h4><strong>Professional Purchase / Disposal</strong></h4>
                                        <p>Cost Reduction by a large purchase<br>
                                   Vast information about the brand new product & newly launched brand<br>
                                   Specialized in disposal of the used machinery: <br>
                                   Having many dealers, REFURBISHING project etc.
                                        </p>
      															</blockquote>
      													</div>
      													<div class="item">
      															<blockquote>
                                      <h4><strong>Professional Maintenance</strong></h4>
                                          <p>Experienced engineers for A/S<br>
                                   Managing item records and building up the computer system<br>
                                   Systematizing parts supply<br>
                                   Affiliating with worldwide After-salesService network
                                          </p>
      															</blockquote>
      													</div>
                                <div class="item">
      															<blockquote>
                                      <h4><strong>Maximizing Profitability / efficiency</strong></h4>
                                        <p>Economic effect : cost cutting, maximizing profitability by professional dealing<br>
                                  Flexibility of use : At right time and place, providing optimal equipment
                                  SALES & RENTAL BACK : Purchasing customers’ equipment and renting back
                                        </p>

      															</blockquote>
      													</div>
                                <div class="item">
      															<blockquote>
                                      <h4 ><strong>Simplifying the work</strong></h4>
							                               <p>Simplifying the channel for the equipment<br>
																			Specializing the work  : Focusing on main field by outsourcing of production supply
							                               </p>

      															</blockquote>
      													</div>
      											</div>
      									</div>
      							</div>
      					</div>
      			</section>
      			<!-- End testimonials -->
            <!-- Begin footer -->
						<footer id="footer" class="clearfix">
						      <div id="footer-widgets">

						        <div class="container">

						        <div id="footer-wrapper">

						          <div class="row">
												<div class="col-md-4 site">
	 						            <div id="recent-posts-3" class="widget widgetFooter widget_recent_entries">
	 						                    <h4 class="widgettitle">SiteMap :</h4>

																	<div id="recent-posts-3" class="widget widgetFooter widget_recent_entries row">
																		<p>About us</p>
																	<ul class="bottom_ul pull-left">
																		<li><a class="page-scroll" href="#vision-section">Group Vision</a></li>
																		<li><a class="page-scroll" href="#history-section">Company History</a></li>
																		<li><a class="page-scroll" href="#rental-section">Rental System</a></li>
	 															  </ul>
	 															  </div>

																<div id="recent-posts-3" class="widget widgetFooter widget_recent_entries row">
																	<p>Rental Products</p>
																	<ul class="bottom_ul">

																		<li><a href="/home/product#car-section">Car</a></li>
																		<li><a href="/home/product#pc-section">PC</a></li>
																		<li><a href="/home/product#copy-section">PhotoCopier</a></li>
																		<li><a href="/home/product#manlift-section">Lift</a></li>
																		<li><a href="/home/product#tmi-section">TMI</a></li>

																	</ul>
																</div>
																<div id="recent-posts-3" class="widget widgetFooter widget_recent_entries row">

																	<ul class="bottom_ul">
																		<li><a href="/home/index#recruit-section">Recruitment</a></li>
																		<li><a href="/home/index#contact-section">Contacts</a></li>

																	</ul>
																</div>

	 							 			  </div> <!-- end widget1 -->
											</div> <!-- col-md-4 -->

												<div class="col-md-4 col-sm-6 family" style="margin-bottom:20px;">
						              <div id="meta-3" class="widget widgetFooter widget_meta">
						              <h4 class="widgettitle">Family Site :</h4>
						              <ul>
														<li><a href="http://www.korearental.co.kr/" target="_blank"><i class="fa fa-arrow-circle-right"></i> KOREA RENTAL KOREA</a></li>
														<li><a href="http://www.krcchina.com/index.asp" target="_blank"><i class="fa fa-arrow-circle-right"></i> KOREA RENTAL CHINA</a></li>
														<li><a href="http://www.isdongseo.co.kr/main/" target="_blank"><i class="fa fa-arrow-circle-right"></i> IS DONGSEO</a></li>
														<li><a href="http://www.inushaus.com/main/index.asp" target="_blank"><i class="fa fa-arrow-circle-right"></i> INUS</a></li>
						             </ul>
											 	</div>
					             </div> <!-- end widget1 -->

										<div class="col-md-4 col-sm-6 join">
											<div id="meta-3" class="widget widgetFooter widget_meta">
											<h4 class="widgettitle">Join Us :</h4>

												 <li><a href="https://www.facebook.com/iskorearentalvina" target="_blank"><i class="fa fa-facebook-square fa-lg" aria-hidden="true"></i> &nbsp;&nbsp;&nbsp; IS_KOREARENTAL_VINA</a></li><br><br>
												 <div class="center"><button data-toggle="modal" data-target="#email_about" class="btn btn-yellow btn-sm">Send Message</button></div>


										</div>
									 </div> <!-- end widget1 -->



						 </div><!-- end row -->

						          </div> <!-- end #footer-wrapper -->

						        </div> <!-- end .container -->

						        </div> <!-- end #footer-widgets -->


						      <div id="sub-floor">
						        <div class="container">
						          <div class="row">
						            <div class="col-md-8 copyright">
						             © 2016 Copy right IS_KOREARENTAL_VINA Corp.
						            </div>

						          </div> <!-- end .row -->
						        </div>
						      </div>

						    </footer>
            <!-- End footer -->
            <!-- End footer -->


            <a href="#" class="scrolltotop"><i class="fa fa-arrow-up"></i></a> <!-- Scroll to top button -->
						<div id="email_about" class="modal fade" role="dialog" style="margin-top:50px;">
							<div class="modal-dialog">
								<!-- Modal content-->
								<div class="modal-content">

									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal">×</button>
										<h4 class="modal-title">Write to us</h4>
									</div>
									<div class="modal-body">
										<div class="contact-form">
												<form role="form" action="/home/write" method="post">
														<div class="form-group">
																<input type="text" class="form-control input-lg" name="name" placeholder="your (company) name" required>
														</div>
														<div class="form-group">
																<input type="email" class="form-control input-lg" name="email" placeholder="your e-mail" required>
														</div>
														<div class="form-group">
																<textarea class="form-control input-lg" rows="5" name="content" placeholder="message (please write your phone number)" required></textarea>
														</div>
														<div align="center">
														 <button type="submit" class="btn btn-lg" data-wow-delay="0.8s">Send</button>
													  </div>
												</form>
										</div>

									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
									</div>

									</div>

								</div>

							</div>

        </div><!-- body ends -->
    </body>


</html>
