<!doctype html>
<html lang="en-US">
	<head>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>IS_KOREARENTAL_VINA</title>
		<link rel="icon" href="favicon.png" type="image/png">
    <link rel="shortcut icon" href="favicon.ico" type="img/x-icon">
		<meta name="description" content="Unika - Responsive One Page HTML5 Template">
		<meta name="keywords" content="HTML5, Bootsrtrap, One Page, Responsive, Template, Portfolio" />
		<meta name="author" content="imransdesign.com">
		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Google Fonts  -->
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,700,500' rel='stylesheet' type='text/css'> <!-- Body font -->
		<link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'> <!-- Navbar font -->
	</head>
<body data-spy="scroll" data-target="#main-navbar">
        <!--<div class="page-loader"></div>   Display loading image while page loads -->
    	<div class="body">
        <header id="header" class="header-main">

            <!-- Begin Navbar -->
            <nav id="main-navbar" class="navbar navbar-default navbar-fixed-top" role="navigation"> <!-- Classes: navbar-default, navbar-inverse, navbar-fixed-top, navbar-fixed-bottom, navbar-transparent. Note: If you use non-transparent navbar, set "height: 98px;" to #header -->

              <div class="container">

                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand page-scroll" href="#">IS_KOREARENTAL_VINA</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="page-scroll" href="/">Home</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Other Rental Products <b class="caret"></b></a>
                              <ul class="dropdown-menu">
                                  <li><a href="#">PC</a></li>
                                  <li class="divider"></li>
                                  <li><a href="#">PhotoCopier</a></li>
                                  <li class="divider"></li>
                                  <li><a href="#">MAN-LIFT</a></li>
                                  <li class="divider"></li>
                                  <li><a href="#">FORK-LIFT</a></li>
                                  <li class="divider"></li>
                                  <li><a href="#">TMI</a></li>
                                  <li class="divider"></li>
                                  <li><a href="#">PRINTER</a></li>
                              </ul>
                      </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
              </div><!-- /.container -->
            </nav>
            <!-- End Navbar -->

        </header>
        <script>
        $('ul.nav li.dropdown').hover(function() {
          $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(500);
        }, function() {
          $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(500);
        });
        </script>

        <!-- Page Content -->
        <div class="container">
            <!-- Page Heading -->
            <div class="page-header-wrapper" style="margin-top:150px;">
                <div class="container">
                    <div class="page-header text-center wow fadeInUp" data-wow-delay="0.3s">
                        <h2>Rental Car</h2>
                        <div class="devider"></div>
                        <p class="subtitle">SEDAN - SUV - VAN</p>
                    </div>
                </div>
            </div>
            <!-- /.row -->

            <!-- Project One -->
            <div class="row">
                <div class="col-md-7">
                    <a href="#">
                        <img class="img-responsive" src="/img/car/innova.jpg" alt="">
                    </a>
                </div>
                <div class="col-md-5">
                  <div class="panel panel-default">
                      <div class="panel-heading">
                          Van
                      </div>
                      <!-- /.panel-heading -->
                      <div class="panel-body">
                              <table class="table table-hover">
                                  <thead>
                                      <tr>
                                          <th>#</th>
                                          <th>TOYOTA INNOVA 2.0E</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                      <tr>
                                          <td>Man-Lift Engineer</td>
                                          <td>High School Graduate / Major independent</td>
                                      </tr>
                                      <tr>
                                          <td>Man-Lift Engineer</td>
                                          <td>High School Graduate / Major independent</td>
                                      </tr>
                                      <tr>
                                          <td>Man-Lift Engineer</td>
                                          <td>High School Graduate / Major independent</td>
                                      </tr>
                                      <tr>
                                          <td>Man-Lift Engineer</td>
                                          <td>High School Graduate / Major independent</td>
                                      </tr>
                                      <tr>
                                          <td>Man-Lift Engineer</td>
                                          <td>High School Graduate / Major independent</td>
                                      </tr>
                                      <tr>
                                          <td>Man-Lift Engineer</td>
                                          <td>High School Graduate / Major independent</td>
                                      </tr>

                                  </tbody>
                              </table>
                          <!-- /.table-responsive -->
                      </div>
                      <!-- /.panel-body -->
                  </div>
                </div>
            </div>
            <!-- /.row -->

            <hr>

            <!-- Project Two -->
            <div class="row">
                <div class="col-md-7">
                    <a href="#">
                        <img class="img-responsive" src="/img/car/camry.jpg" alt="">
                    </a>
                </div>
                <div class="col-md-5">
                  <div class="panel panel-default">
                      <div class="panel-heading">
                          Van
                      </div>
                      <!-- /.panel-heading -->
                      <div class="panel-body">
                              <table class="table table-hover">
                                  <thead>
                                      <tr>
                                          <th>#</th>
                                          <th>TOYOTA INNOVA 2.0E</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                      <tr>
                                          <td>Man-Lift Engineer</td>
                                          <td>High School Graduate / Major independent</td>
                                      </tr>
                                      <tr>
                                          <td>Man-Lift Engineer</td>
                                          <td>High School Graduate / Major independent</td>
                                      </tr>
                                      <tr>
                                          <td>Man-Lift Engineer</td>
                                          <td>High School Graduate / Major independent</td>
                                      </tr>
                                      <tr>
                                          <td>Man-Lift Engineer</td>
                                          <td>High School Graduate / Major independent</td>
                                      </tr>
                                      <tr>
                                          <td>Man-Lift Engineer</td>
                                          <td>High School Graduate / Major independent</td>
                                      </tr>
                                      <tr>
                                          <td>Man-Lift Engineer</td>
                                          <td>High School Graduate / Major independent</td>
                                      </tr>

                                  </tbody>
                              </table>
                          <!-- /.table-responsive -->
                      </div>
                      <!-- /.panel-body -->
                  </div>
                </div>
            </div>
            <!-- /.row -->

            <hr>

            <!-- Project Three -->
            <div class="row">
                <div class="col-md-7">
                    <a href="#">
                        <img class="img-responsive" src="/img/car/sedona.jpg" alt="">
                    </a>
                </div>
                <div class="col-md-5">
                  <div class="panel panel-default">
                      <div class="panel-heading">
                          Van
                      </div>
                      <!-- /.panel-heading -->
                      <div class="panel-body">
                              <table class="table table-hover">
                                  <thead>
                                      <tr>
                                          <th>#</th>
                                          <th>TOYOTA INNOVA 2.0E</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                      <tr>
                                          <td>Man-Lift Engineer</td>
                                          <td>High School Graduate / Major independent</td>
                                      </tr>
                                      <tr>
                                          <td>Man-Lift Engineer</td>
                                          <td>High School Graduate / Major independent</td>
                                      </tr>
                                      <tr>
                                          <td>Man-Lift Engineer</td>
                                          <td>High School Graduate / Major independent</td>
                                      </tr>
                                      <tr>
                                          <td>Man-Lift Engineer</td>
                                          <td>High School Graduate / Major independent</td>
                                      </tr>
                                      <tr>
                                          <td>Man-Lift Engineer</td>
                                          <td>High School Graduate / Major independent</td>
                                      </tr>
                                      <tr>
                                          <td>Man-Lift Engineer</td>
                                          <td>High School Graduate / Major independent</td>
                                      </tr>

                                  </tbody>
                              </table>
                          <!-- /.table-responsive -->
                      </div>
                      <!-- /.panel-body -->
                  </div>
                </div>
            </div>
            <!-- /.row -->

            <hr>

            <!-- Project Four -->
            <div class="row">

                <div class="col-md-7">
                    <a href="#">
                        <img class="img-responsive" src="/img/car/everest.jpg" alt="">
                    </a>
                </div>
                <div class="col-md-5">
                  <div class="panel panel-default">
                      <div class="panel-heading">
                          Van
                      </div>
                      <!-- /.panel-heading -->
                      <div class="panel-body">
                              <table class="table table-hover">
                                  <thead>
                                      <tr>
                                          <th>#</th>
                                          <th>TOYOTA INNOVA 2.0E</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                      <tr>
                                          <td>Man-Lift Engineer</td>
                                          <td>High School Graduate / Major independent</td>
                                      </tr>
                                      <tr>
                                          <td>Man-Lift Engineer</td>
                                          <td>High School Graduate / Major independent</td>
                                      </tr>
                                      <tr>
                                          <td>Man-Lift Engineer</td>
                                          <td>High School Graduate / Major independent</td>
                                      </tr>
                                      <tr>
                                          <td>Man-Lift Engineer</td>
                                          <td>High School Graduate / Major independent</td>
                                      </tr>
                                      <tr>
                                          <td>Man-Lift Engineer</td>
                                          <td>High School Graduate / Major independent</td>
                                      </tr>
                                      <tr>
                                          <td>Man-Lift Engineer</td>
                                          <td>High School Graduate / Major independent</td>
                                      </tr>

                                  </tbody>
                              </table>
                          <!-- /.table-responsive -->
                      </div>
                      <!-- /.panel-body -->
                  </div>
                </div>
            </div>
            <!-- /.row -->

            <hr>

            <!-- Project Five -->
            <div class="row">
                <div class="col-md-7">
                    <a href="#">
                        <img class="img-responsive" src="/img/car/benz.jpg" alt="">
                    </a>
                </div>
                <div class="col-md-5">
                  <div class="panel panel-default">
                      <div class="panel-heading">
                          Van
                      </div>
                      <!-- /.panel-heading -->
                      <div class="panel-body">
                              <table class="table table-hover">
                                  <thead>
                                      <tr>
                                          <th>#</th>
                                          <th>TOYOTA INNOVA 2.0E</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                      <tr>
                                          <td>Man-Lift Engineer</td>
                                          <td>High School Graduate / Major independent</td>
                                      </tr>
                                      <tr>
                                          <td>Man-Lift Engineer</td>
                                          <td>High School Graduate / Major independent</td>
                                      </tr>
                                      <tr>
                                          <td>Man-Lift Engineer</td>
                                          <td>High School Graduate / Major independent</td>
                                      </tr>
                                      <tr>
                                          <td>Man-Lift Engineer</td>
                                          <td>High School Graduate / Major independent</td>
                                      </tr>
                                      <tr>
                                          <td>Man-Lift Engineer</td>
                                          <td>High School Graduate / Major independent</td>
                                      </tr>
                                      <tr>
                                          <td>Man-Lift Engineer</td>
                                          <td>High School Graduate / Major independent</td>
                                      </tr>

                                  </tbody>
                              </table>
                          <!-- /.table-responsive -->
                      </div>
                      <!-- /.panel-body -->
                  </div>
                </div>
            </div>
            <!-- /.row -->

            <hr>

            <div class="row">
                <div class="col-md-7">
                    <a href="#">
                        <img class="img-responsive" src="/img/car/sorento.jpg" alt="">
                    </a>
                </div>
                <div class="col-md-5">
                  <div class="panel panel-default">
                      <div class="panel-heading">
                          Van
                      </div>
                      <!-- /.panel-heading -->
                      <div class="panel-body">
                              <table class="table table-hover">
                                  <thead>
                                      <tr>
                                          <th>#</th>
                                          <th>TOYOTA INNOVA 2.0E</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                      <tr>
                                          <td>Man-Lift Engineer</td>
                                          <td>High School Graduate / Major independent</td>
                                      </tr>
                                      <tr>
                                          <td>Man-Lift Engineer</td>
                                          <td>High School Graduate / Major independent</td>
                                      </tr>
                                      <tr>
                                          <td>Man-Lift Engineer</td>
                                          <td>High School Graduate / Major independent</td>
                                      </tr>
                                      <tr>
                                          <td>Man-Lift Engineer</td>
                                          <td>High School Graduate / Major independent</td>
                                      </tr>
                                      <tr>
                                          <td>Man-Lift Engineer</td>
                                          <td>High School Graduate / Major independent</td>
                                      </tr>
                                      <tr>
                                          <td>Man-Lift Engineer</td>
                                          <td>High School Graduate / Major independent</td>
                                      </tr>

                                  </tbody>
                              </table>
                          <!-- /.table-responsive -->
                      </div>
                      <!-- /.panel-body -->
                  </div>
                </div>
            </div>


            <!-- End contact section -->
						<div class="copyright">
						  <div class="container">
						    <div class="row">
									<img src="/img/logo/menu-logo.png">
									<span class="copyright">&copy; IS KOREARENTAL CORP. ALL RIGHTS RESERVED.</span>
						    </div>
						    <div class="col-md-offset-2">
						      <ul class="bottom_ul">
						        <li><a href="#about">About</a></li>
						        <li><a href="#service">Services</a></li>
						        <li><a href="#product">Rental Products</a></li>
						        <li><a href="#recruit">Recruitment</a></li>
						        <li><a href="#contact">Contact</a></li>
						      </ul>
						    </div>
								<div class="col-md-2">
									<p class="text-muted credit">
								<div class="btn-group">
										<button type="button" class="btn btn-outlined btn-theme btn-sm dropdown-toggle" data-toggle="dropdown">
												Family Site <span class="caret caret-up"></span>
										</button>
										<ul class="dropdown-menu drop-up" role="menu">
												<li><a href="http://www.korearental.co.kr/"> KOREA RENTAL KOREA</a></li>
												<li class="divider"></li>
												<li><a href="http://www.korearental.co.kr/"> KOREA RENTAL CHINA</a></li>
												<li class="divider"></li>
												<li><a href="http://www.isdongseo.co.kr/"> IS DONGSEO</a></li>
												<li class="divider"></li>
												<li><a href="http://www.inushaus.co.kr/"> SAMHONG-TECH</a></li>
												<li class="divider"></li>
												<li><a href="http://www.inushaus.co.kr/"> INUS</a></li>
										</ul>
								</div>
						      </p>
						  </div>
						</div>
						</div>



        <!--    <!-- Begin footer
            <footer class="text-off-white">

                <div class="footer-top">
                	<div class="container">
                    	<div class="row wow bounceInLeft" data-wow-delay="0.4s">

                            <div class="col-sm-6 col-md-4">
                            		<img src="img/logo/menu-logo.png">
                                <ul class="imp-links">
                                    	<li><a class="page-scroll" href="#about">About</a></li>
                           			 	<li><a class="page-scroll" href="#product">Rental Products</a></li>
                           				<li><a class="page-scroll" href="#recruit">Recruitment</a></li>
                            			<li><a class="page-scroll" href="#contact">Contact</a></li>
                                </ul>
                            </div>

                        	 <div class="col-sm-6 col-md-4">
														 <div class="container text-center wow fadeIn" data-wow-delay="0.4s">
				                         <p class="copyright">Copyright &copy; 2016 - IS_KOREARENTAL_VINA</p>
				                     </div>
                            </div>

                            <div class="col-sm-12 col-md-4">
															<h4>Family Site</h4>
															<p class="text-muted credit">
																<div class="btn-group">
																	<button type="button" class="btn btn-outlined btn-theme btn-sm dropdown-toggle" data-toggle="dropdown">
																		Family Site <span class="caret caret-up"></span>
																	</button>
																	<ul class="dropdown-menu drop-up" role="menu">
																		<li><a href="http://www.korearental.co.kr/"> KOREA RENTAL KOREA</a></li>
																		<li class="divider"></li>
																		<li><a href="http://www.korearental.co.kr/"> KOREA RENTAL CHINA</a></li>
																		<li class="divider"></li>
																		<li><a href="http://www.isdongseo.co.kr/"> IS DONGSEO</a></li>
																		<li class="divider"></li>
																		<li><a href="http://www.inushaus.co.kr/"> SAMHONG-TECH</a></li>
																		<li class="divider"></li>
																		<li><a href="http://www.inushaus.co.kr/"> INUS</a></li>
																	</ul>
																</div>
															</p>
                            </div>

                        </div> <!-- /.row
                    </div> <!-- /.container
                </div>

                <div class="footer">
                    <div class="container text-center wow fadeIn" data-wow-delay="0.4s">
                        <p class="copyright">Copyright &copy; 2016 - IS_KOREARENTAL_VINA</p>
                    </div>
                </div>

            </footer>-->
            <!-- End footer -->

            <a href="#" class="scrolltotop"><i class="fa fa-arrow-up"></i></a> <!-- Scroll to top button -->

        </div><!-- body ends -->

  </body>


</html>
