<!doctype html>
<html lang="en-US">
	<head>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>IS_KOREARENTAL_VINA</title>
		<link rel="icon" href="favicon.png" type="image/png">
    <link rel="shortcut icon" href="favicon.ico" type="img/x-icon">
		<meta name="description" content="Unika - Responsive One Page HTML5 Template">
		<meta name="keywords" content="HTML5, Bootsrtrap, One Page, Responsive, Template, Portfolio" />
		<meta name="author" content="imransdesign.com">
		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Google Fonts  -->
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,700,500' rel='stylesheet' type='text/css'> <!-- Body font -->
		<link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'> <!-- Navbar font -->
	</head>
<body data-spy="scroll" data-target="#main-navbar">
        <!--<div class="page-loader"></div>   Display loading image while page loads -->
    	<div class="body">
        <!-- Page Content -->
        <div class="container">

            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Page Heading
                        <small>Secondary Text</small>
                    </h1>
                </div>
            </div>
            <!-- /.row -->

            <!-- Project One -->
            <div class="row">
                <div class="col-md-7">
                    <a href="#">
                        <img class="img-responsive" src="/img/car/car-1.jpg" alt="">
                    </a>
                </div>
                <div class="col-md-5">
                    <h3>Project One</h3>
                    <h4>Subheading</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.</p>
                    <a class="btn btn-primary" href="#">View Project <span class="glyphicon glyphicon-chevron-right"></span></a>
                </div>
            </div>
            <!-- /.row -->

            <hr>

            <!-- Project Two -->
            <div class="row">
                <div class="col-md-7">
                    <a href="#">
                        <img class="img-responsive" src="http://placehold.it/700x300" alt="">
                    </a>
                </div>
                <div class="col-md-5">
                    <h3>Project Two</h3>
                    <h4>Subheading</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, odit velit cumque vero doloremque repellendus distinctio maiores rem expedita a nam vitae modi quidem similique ducimus! Velit, esse totam tempore.</p>
                    <a class="btn btn-primary" href="#">View Project <span class="glyphicon glyphicon-chevron-right"></span></a>
                </div>
            </div>
            <!-- /.row -->

            <hr>

            <!-- Project Three -->
            <div class="row">
                <div class="col-md-7">
                    <a href="#">
                        <img class="img-responsive" src="http://placehold.it/700x300" alt="">
                    </a>
                </div>
                <div class="col-md-5">
                    <h3>Project Three</h3>
                    <h4>Subheading</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, temporibus, dolores, at, praesentium ut unde repudiandae voluptatum sit ab debitis suscipit fugiat natus velit excepturi amet commodi deleniti alias possimus!</p>
                    <a class="btn btn-primary" href="#">View Project <span class="glyphicon glyphicon-chevron-right"></span></a>
                </div>
            </div>
            <!-- /.row -->

            <hr>

            <!-- Project Four -->
            <div class="row">

                <div class="col-md-7">
                    <a href="#">
                        <img class="img-responsive" src="http://placehold.it/700x300" alt="">
                    </a>
                </div>
                <div class="col-md-5">
                    <h3>Project Four</h3>
                    <h4>Subheading</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, quidem, consectetur, officia rem officiis illum aliquam perspiciatis aspernatur quod modi hic nemo qui soluta aut eius fugit quam in suscipit?</p>
                    <a class="btn btn-primary" href="#">View Project <span class="glyphicon glyphicon-chevron-right"></span></a>
                </div>
            </div>
            <!-- /.row -->

            <hr>

            <!-- Project Five -->
            <div class="row">
                <div class="col-md-7">
                    <a href="#">
                        <img class="img-responsive" src="http://placehold.it/700x300" alt="">
                    </a>
                </div>
                <div class="col-md-5">
                    <h3>Project Five</h3>
                    <h4>Subheading</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, quo, minima, inventore voluptatum saepe quos nostrum provident ex quisquam hic odio repellendus atque porro distinctio quae id laboriosam facilis dolorum.</p>
                    <a class="btn btn-primary" href="#">View Project <span class="glyphicon glyphicon-chevron-right"></span></a>
                </div>
            </div>
            <!-- /.row -->

            <hr>

            <!-- Pagination -->
            <div class="row text-center">
                <div class="col-lg-12">
                    <ul class="pagination">
                        <li>
                            <a href="#">&laquo;</a>
                        </li>
                        <li class="active">
                            <a href="#">1</a>
                        </li>
                        <li>
                            <a href="#">2</a>
                        </li>
                        <li>
                            <a href="#">3</a>
                        </li>
                        <li>
                            <a href="#">4</a>
                        </li>
                        <li>
                            <a href="#">5</a>
                        </li>
                        <li>
                            <a href="#">&raquo;</a>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- End contact section -->
						<div class="copyright">
						  <div class="container">
						    <div class="row">
									<img src="/img/logo/menu-logo.png">
									<span class="copyright">&copy; IS KOREARENTAL CORP. ALL RIGHTS RESERVED.</span>
						    </div>
						    <div class="col-md-offset-2">
						      <ul class="bottom_ul">
						        <li><a href="#about">About</a></li>
						        <li><a href="#service">Services</a></li>
						        <li><a href="#product">Rental Products</a></li>
						        <li><a href="#recruit">Recruitment</a></li>
						        <li><a href="#contact">Contact</a></li>
						      </ul>
						    </div>
								<div class="col-md-2">
									<p class="text-muted credit">
								<div class="btn-group">
										<button type="button" class="btn btn-outlined btn-theme btn-sm dropdown-toggle" data-toggle="dropdown">
												Family Site <span class="caret caret-up"></span>
										</button>
										<ul class="dropdown-menu drop-up" role="menu">
												<li><a href="http://www.korearental.co.kr/"> KOREA RENTAL KOREA</a></li>
												<li class="divider"></li>
												<li><a href="http://www.korearental.co.kr/"> KOREA RENTAL CHINA</a></li>
												<li class="divider"></li>
												<li><a href="http://www.isdongseo.co.kr/"> IS DONGSEO</a></li>
												<li class="divider"></li>
												<li><a href="http://www.inushaus.co.kr/"> SAMHONG-TECH</a></li>
												<li class="divider"></li>
												<li><a href="http://www.inushaus.co.kr/"> INUS</a></li>
										</ul>
								</div>
						      </p>
						  </div>
						</div>
						</div>



        <!--    <!-- Begin footer
            <footer class="text-off-white">

                <div class="footer-top">
                	<div class="container">
                    	<div class="row wow bounceInLeft" data-wow-delay="0.4s">

                            <div class="col-sm-6 col-md-4">
                            		<img src="img/logo/menu-logo.png">
                                <ul class="imp-links">
                                    	<li><a class="page-scroll" href="#about">About</a></li>
                           			 	<li><a class="page-scroll" href="#product">Rental Products</a></li>
                           				<li><a class="page-scroll" href="#recruit">Recruitment</a></li>
                            			<li><a class="page-scroll" href="#contact">Contact</a></li>
                                </ul>
                            </div>

                        	 <div class="col-sm-6 col-md-4">
														 <div class="container text-center wow fadeIn" data-wow-delay="0.4s">
				                         <p class="copyright">Copyright &copy; 2016 - IS_KOREARENTAL_VINA</p>
				                     </div>
                            </div>

                            <div class="col-sm-12 col-md-4">
															<h4>Family Site</h4>
															<p class="text-muted credit">
																<div class="btn-group">
																	<button type="button" class="btn btn-outlined btn-theme btn-sm dropdown-toggle" data-toggle="dropdown">
																		Family Site <span class="caret caret-up"></span>
																	</button>
																	<ul class="dropdown-menu drop-up" role="menu">
																		<li><a href="http://www.korearental.co.kr/"> KOREA RENTAL KOREA</a></li>
																		<li class="divider"></li>
																		<li><a href="http://www.korearental.co.kr/"> KOREA RENTAL CHINA</a></li>
																		<li class="divider"></li>
																		<li><a href="http://www.isdongseo.co.kr/"> IS DONGSEO</a></li>
																		<li class="divider"></li>
																		<li><a href="http://www.inushaus.co.kr/"> SAMHONG-TECH</a></li>
																		<li class="divider"></li>
																		<li><a href="http://www.inushaus.co.kr/"> INUS</a></li>
																	</ul>
																</div>
															</p>
                            </div>

                        </div> <!-- /.row
                    </div> <!-- /.container
                </div>

                <div class="footer">
                    <div class="container text-center wow fadeIn" data-wow-delay="0.4s">
                        <p class="copyright">Copyright &copy; 2016 - IS_KOREARENTAL_VINA</p>
                    </div>
                </div>

            </footer>-->
            <!-- End footer -->

            <a href="#" class="scrolltotop"><i class="fa fa-arrow-up"></i></a> <!-- Scroll to top button -->

        </div><!-- body ends -->

  </body>


</html>
