<!doctype html>

<html lang="en-US">
	<head>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Unika - Responsive One Page HTML5 Template</title>
		<meta name="description" content="Unika - Responsive One Page HTML5 Template">
		<meta name="keywords" content="HTML5, Bootsrtrap, One Page, Responsive, Template, Portfolio" />
		<meta name="author" content="imransdesign.com">

		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Google Fonts  -->
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,700,500' rel='stylesheet' type='text/css'> <!-- Body font -->
		<link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'> <!-- Navbar font -->
		<!-- Libs and Plugins CSS -->
		<link rel="stylesheet" href="/assets/bootstrap.min.css">
		<link rel="stylesheet" href="/assets/animate.min.css">
		<link rel="stylesheet" href="/assets/font-awesome.min.css"> <!-- Font Icons -->
		<link rel="stylesheet" href="/assets/owl.carousel.css">
		<link rel="stylesheet" href="/assets/owl.theme.css">

		<!-- Theme CSS -->
    <link rel="stylesheet" href="/assets/reset.css">
		<link rel="stylesheet" href="/assets/style.css">
		<link rel="stylesheet" href="/assets/mobile.css">

	</head>

    <body data-spy="scroll" data-target="#main-navbar">
      <!--  <div class="page-loader"></div>  <!-- Display loading image while page loads -->
    	<div class="body">

            <!--========== BEGIN HEADER ==========-->
            <header id="header" class="header-main">

                <!-- Begin Navbar -->
                <nav id="main-navbar" class="navbar navbar-default navbar-fixed-top" role="navigation"> <!-- Classes: navbar-default, navbar-inverse, navbar-fixed-top, navbar-fixed-bottom, navbar-transparent. Note: If you use non-transparent navbar, set "height: 98px;" to #header -->

                  <div class="container">

                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                      <a class="navbar-brand page-scroll" href="index.html">IS_KOREARENTAL_VINA</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <!--<li><a class="page-scroll" href="header">Home</a></li>-->
                            <li><a class="page-scroll" href="#about-section">About</a></li>
                            <li><a class="page-scroll" href="#product-section">Home</a></li>
                            <li><a class="page-scroll" href="#recruit-section">Other Rental Products</a></li>

                        </ul>
                    </div><!-- /.navbar-collapse -->
                  </div><!-- /.container -->
                </nav>
                <!-- End Navbar -->

            </header>
            <!-- ========= END HEADER =========-->

            <!-- Begin about section -->
			<section id="about-section" class="page bg-style1">
                <!-- Begin page header-->
                <div class="page-header-wrapper">
                    <div class="container">
                        <div class="page-header text-center wow fadeInUp" data-wow-delay="0.3s">
                            <h2>Car</h2>
                            <div class="devider"></div>
                            <p class="subtitle">SEDAN & SUV - VAN</p>
                        </div>
                    </div>
                </div>

          </section>
          <!-- End about section -->
          <!-- Page Content -->
          <div class="container">


              <!-- Project One -->
              <div class="row">
                  <div class="col-md-7">
                      <a href="#">
                          <img class="img-responsive" src="/img/car/car-1.jpg" alt="">
                      </a>
                  </div>
                  <div class="col-md-5">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Sales
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Department</th>
                                            <th>Qualification</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>PhotoCopier / PC  Sales</td>
                                            <td>University Graduate / Major independent , Using Office Programs</td>

                                        </tr>


                                    </tbody>
                                </table>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                  </div>
              </div>
              <!-- /.row -->

              <hr>

              <!-- Project Two -->
              <div class="row">
                  <div class="col-md-7">
                      <a href="#">
                          <img class="img-responsive" src="/img/car/car-2.jpg" alt="">
                      </a>
                  </div>
                  <div class="panel-body">
                          <table class="table table-hover">
                              <thead>
                                  <tr>
                                      <th>Department</th>
                                      <th>Qualification</th>

                                  </tr>
                              </thead>
                              <tbody>
                                  <tr>
                                      <td>PhotoCopier / PC  Sales</td>
                                      <td>University Graduate / Major independent , Using Office Programs</td>

                                  </tr>


                              </tbody>
                          </table>
                      <!-- /.table-responsive -->
                  </div>
              </div>
              <!-- /.row -->

              <hr>
              <!-- Project Two -->
              <div class="row">
                  <div class="col-md-7">
                      <a href="#">
                          <img class="img-responsive" src="/img/car/car-3.jpg" alt="">
                      </a>
                  </div>
                  <div class="panel-body">
                          <table class="table table-hover">
                              <thead>
                                  <tr>
                                      <th>Department</th>
                                      <th>Qualification</th>

                                  </tr>
                              </thead>
                              <tbody>
                                  <tr>
                                      <td>PhotoCopier / PC  Sales</td>
                                      <td>University Graduate / Major independent , Using Office Programs</td>

                                  </tr>


                              </tbody>
                          </table>
                      <!-- /.table-responsive -->
                  </div>
              </div>
              <!-- /.row -->

              <hr>

              <!-- Project Three -->
              <div class="row">
                  <div class="col-md-7">
                      <a href="#">
                        <img class="img-responsive" src="/img/car/car-4.jpg" alt="">
                      </a>
                  </div>
                  <div class="panel-body">
                          <table class="table table-hover">
                              <thead>
                                  <tr>
                                      <th>Department</th>
                                      <th>Qualification</th>

                                  </tr>
                              </thead>
                              <tbody>
                                  <tr>
                                      <td>PhotoCopier / PC  Sales</td>
                                      <td>University Graduate / Major independent , Using Office Programs</td>

                                  </tr>


                              </tbody>
                          </table>
                      <!-- /.table-responsive -->
                  </div>
              </div>
              <!-- /.row -->

              <hr>

              <!-- Project Four -->
              <div class="row">

                  <div class="col-md-7">
                      <a href="#">
                        <img class="img-responsive" src="/img/car/car-5.jpg" alt="">
                      </a>
                  </div>
                  <div class="panel-body">
                          <table class="table table-hover">
                              <thead>
                                  <tr>
                                      <th>Department</th>
                                      <th>Qualification</th>

                                  </tr>
                              </thead>
                              <tbody>
                                  <tr>
                                      <td>PhotoCopier / PC  Sales</td>
                                      <td>University Graduate / Major independent , Using Office Programs</td>

                                  </tr>


                              </tbody>
                          </table>
                      <!-- /.table-responsive -->
                  </div>
              </div>
              <!-- /.row -->

              <hr>

              <!-- Project Five -->
              <div class="row">
                  <div class="col-md-7">
                      <a href="#">
                        <img class="img-responsive" src="/img/car/car-6.jpg" alt="">
                      </a>
                  </div>
                  <div class="panel-body">
                          <table class="table table-hover">
                              <thead>
                                  <tr>
                                      <th>Department</th>
                                      <th>Qualification</th>

                                  </tr>
                              </thead>
                              <tbody>
                                  <tr>
                                      <td>PhotoCopier / PC  Sales</td>
                                      <td>University Graduate / Major independent , Using Office Programs</td>

                                  </tr>


                              </tbody>
                          </table>
                      <!-- /.table-responsive -->
                  </div>
              </div>
              <!-- /.row -->


          </div>
          <!-- /.container -->

            <!-- Begin footer -->
            <footer class="text-off-white">

                <div class="footer-top">
                	<div class="container">
                    	<div class="row wow bounceInLeft" data-wow-delay="0.4s">

                            <div class="col-sm-6 col-md-4">
                            	<img src="/img/logo/menu-logo.png">
                                <ul class="imp-links">
                                	<li><a href="">About</a></li>
                                	<li><a href="">Services</a></li>
                                	<li><a href="">Press</a></li>
                                	<li><a href="">Copyright</a></li>
                                	<li><a href="">Advertise</a></li>
                                	<li><a href="">Legal</a></li>
                                </ul>
                            </div>

                        	<div class="col-sm-6 col-md-4">
                                <h4>Subscribe</h4>
                            	<div id="footer_signup">
                                    <div id="email">
                                        <form id="subscribe" method="POST">
                                            <input type="text" placeholder="Enter email address" name="email" id="address" data-validate="validate(required, email)"/>
                                            <button type="submit">Submit</button>
                                            <span id="result" class="section-description"></span>
                                        </form>
                                    </div>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>

                            <div class="col-sm-12 col-md-4">
                                <h4>Recent Tweets</h4>
                                <div class="single-tweet">
                                    <div class="tweet-content"><span>@Unika</span> Excepteur sint occaecat cupidatat non proident</div>
                                    <div class="tweet-date">1 Hour ago</div>
                                </div>
                                <div class="single-tweet">
                                    <div class="tweet-content"><span>@Unika</span> Excepteur sint occaecat cupidatat non proident uku shumaru</div>
                                    <div class="tweet-date">1 Hour ago</div>
                                </div>
                            </div>

                        </div> <!-- /.row -->
                    </div> <!-- /.container -->
                </div>

                <div class="footer">
                    <div class="container text-center wow fadeIn" data-wow-delay="0.4s">
                        <p class="copyright">Copyright &copy; 2016 - IS_KOREARENTAL_VINA Corp.</p>
                    </div>
                </div>

            </footer>
            <!-- End footer -->

            <a href="#" class="scrolltotop"><i class="fa fa-arrow-up"></i></a> <!-- Scroll to top button -->

        </div><!-- body ends -->

				<!-- Plugins JS -->
			<script src="/assets/jquery-1.11.1.min.js"></script>
			<script src="/assets/bootstrap.min.js"></script>
			<script src="/assets/owl.carousel.min.js"></script>
			<script src="/assets/jquery.stellar.min.js"></script>
			<script src="/assets/wow.min.js"></script>
			<script src="/assets/waypoints.min.js"></script>
			<script src="/assets/isotope.pkgd.min.js"></script>
			<script src="/assets/classie.js"></script>
			<script src="/assets/jquery.easing.min.js"></script>
			<script src="/assets/jquery.counterup.min.js"></script>
			<script src="/assets/smoothscroll.js"></script>
			<script src="/assets/jssor.slider.mini.js"></script>

			<!-- Theme JS -->
			<script src="/assets/theme.js"></script>

    </body>


</html>
