<!doctype html>
<html lang="en-US">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>IS_KOREARENTAL_VINA</title>
		<meta name="description" content="Unika - Responsive One Page HTML5 Template">
		<meta name="keywords" content="HTML5, Bootsrtrap, One Page, Responsive, Template, Portfolio" />
		<meta name="author" content="imransdesign.com">

		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- javascript file -->
		<script src="/assets/jquery-1.11.1.min.js"></script>
		<!-- jquery.easing.min.js cdn -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
		<!--<script src="/assets/jquery.easing.min.js"></script>-->
		<!--<script src="/assets/jssor.slider.mini.js"></script>-->
		<script src="/assets/owl.carousel.min.js"></script>
		<script src="/assets/theme.js"></script>
		<script src="/assets/jquery.stellar.min.js"></script>
		<script src="/assets/wow.min.js"></script>
		<script src="/assets/waypoints.min.js"></script>
		<script src="/assets/isotope.pkgd.min.js"></script>
		<script src="/assets/classie.js"></script>
		<script src="/assets/jquery.counterup.min.js"></script>
		<script src="/assets/smoothscroll.js"></script>
		<script src="/assets/bootstrap.min.js"></script>

		<!-- Google Fonts  -->
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,700,500' rel='stylesheet' type='text/css'> <!-- Body font -->
		<link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'> <!-- Navbar font -->
		<!-- Libs and Plugins CSS-->
		<link rel="stylesheet" href="/assets/bootstrap.min.css">
		<link rel="stylesheet" href="/assets/animate.min.css">
		<link rel="stylesheet" href="/assets/font-awesome.min.css">
		<link rel="stylesheet" href="/assets/owl.carousel.css">
		<link rel="stylesheet" href="/assets/owl.theme.css">
		<link rel="stylesheet" href="/assets/reset.css">
		<!-- main css file -->
		<link rel="stylesheet" href="/assets/style.css">
		<!-- screen css file -->
		<link rel="stylesheet" href="/assets/mobile.css">
		<!-- color css file -->
		<link rel="stylesheet" href="/assets/cool-gray.css">
		<!-- validation -->
		<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/css/bootstrapValidator.min.css"/>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/js/bootstrapValidator.min.js"></script>

	</head>

<body data-spy="scroll" data-target="#main-navbar">

   				<div class="page-loader"></div>   <!--Display loading image while page loads -->

<div class="body">

		<div class"container">
				<header id="header" class="header-main">

						<!-- Begin Navbar-->
						<nav id="main-navbar" class="navbar navbar-default navbar-fixed-top" role="navigation"> <!-- Classes: navbar-default, navbar-inverse, navbar-fixed-top, navbar-fixed-bottom, navbar-transparent. Note: If you use non-transparent navbar, set "height: 98px;" to #header-->
							<div class="container">
								<!-- Brand and toggle get grouped for better mobile display-->
								<div class="navbar-header">
									<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
										<span class="sr-only">Toggle navigation</span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
									</button>
									<a class="navbar-brand page-scroll" href="/home/index_vn">IS_KOREARENTAL_VINA</a>

								</div>

								<!-- Collect the nav links, forms, and other content for toggling-->
								<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

										<ul class="nav navbar-nav navbar-right">
											<!--	<li><a class="page-scroll" href="#header">Home</a></li>-->
												<li><a class="page-scroll" href="#about-section">Về chúng tôi</a></li>
												<li><a class="page-scroll" href="#product-section">SẢN PHẨM CHO THUÊ</a></li>
												<li><a class="page-scroll" href="#recruit-section">TUYỂN DỤNG</a></li>
												<!--<li><a class="page-scroll" href="#team-section">Team</a></li>-->
												<!--<li><a class="page-scroll" href="#prices-section">Prices</a></li>-->
												<li><a class="page-scroll" href="#contact-section">LIÊN HỆ</a></li>
												<li class="dropdown" style="cursor: pointer; cursor: hand;">
														<a class="dropdown-toggle" data-toggle="dropdown">SƠ ĐỒ TRANG WEB<span class="caret"></span></a>

														<ul style="width:300px;" class="dropdown-menu dropdown-lr animated slideInRight" role="menu">
																<div class="row">

																	<div class="container">
																			<li style="margin-bottom:5px; color:#fff;"><strong>Về chúng tôi</strong></li>
																		<ul class="bottom_ul">
																			<li><a href="/home/about_vn#vision-section">TẦM NHÌN&nbsp;|</a></li>
																			<li><a href="/home/about_vn#history-section">&nbsp;LỊCH SỬ &nbsp;|</a></li>
																			<li><a href="/home/about_vn#rental-section">&nbsp;Hệ thống cho thuê</a></li>
																		</ul>
																	</div>

																	<div class="container">
																		<li style="margin-bottom:5px; color:#fff;"><strong>SẢN PHẨM CHO THUÊ</strong></li>
																		<ul class="bottom_ul">

																			<li><a href="/home/product_vn#car-section">Xe&nbsp;|</a></li>
																			<li><a href="/home/product_vn#pc-section">&nbsp;PC&nbsp;|</a></li>
																			<li><a href="/home/product_vn#copy-section">&nbsp;Máy in &nbsp;|</a></li>
																			<li><a href="/home/product_vn#manlift-section">&nbsp;Thang nâng&nbsp;|</a></li>
																			<li><a href="/home/product_vn#tmi-section">&nbsp;TMI</a></li>

																		</ul>
																	</div>

																				<!--<li class="divider" style="display: block;"></li>-->

														<div class="container">
															<li style="margin-bottom:5px; color:#fff;"><strong>Chủ yếu</strong></li>
																		<ul class="bottom_ul">
																			<li><a class="page-scroll" href="#recruit-section">TUYỂN DỤNG&nbsp;|</a></li>
																			<li><a class="page-scroll" href="#contact-section">&nbsp;LIÊN HỆ</a></li>
																		</ul>
														</div>

																</div>
														</ul>
												</li>
												<!-- language -->
												<li class="dropdown"><a href="#" id="drop" data-toggle="dropdown" class="dropdown-toggle" role="button"><img src="/img/language/vietnam.png"><b class="caret"></b></a>
													<ul style="width:100px;" role="menu" class="dropdown-menu" aria-labelledby="drop">
														<li role="presentation"><a href="/" role="menuitem"><img src="/img/language/united-states.png">&nbsp;&nbsp;<strong>English</strong></a></li>
													</ul>
												</li>

										</ul>

								</div><!-- /.navbar-collapse-->

							</div>
						</nav>
						<!-- End Navbar -->

				</header>
			</div>
				<!-- ========= END HEADER =========-->
				<div id="slider" class="container">
			        <div id="Carousel" class="carousel slide">
			          <div class="carousel-inner">
			            <article class="item active">
			              <img src="/img/slide/create.png" height="450">
			              <div class="carousel-caption"></div>
			            </article>
			             <article class="item">
			              <img src="/img/slide/best4.png" height="450">
			              <div class="carousel-caption"></div>
			            </article>
			            <article class="item">
			              <img src="/img/slide/innovate.png" height="450">
			              <div class="carousel-caption"></div>
			            </article>
			          </div>
			          <!-- Indicators -->
			          <ol class="carousel-indicators">
			            <li data-target="#Carousel" data-slide-to="0" class="active"></li>
			            <li data-target="#Carousel" data-slide-to="1"></li>
			            <li data-target="#Carousel" data-slide-to="2"></li>
			          </ol>
								<!-- Controls -->
								<div class="carousel-controls">
										<a class="carousel-control left" href="#Carousel" data-slide="prev">
											<span class="glyphicon glyphicon-circle-arrow-left"></span>
										</a>
										<a class="carousel-control right" href="#Carousel" data-slide="next">
											<span class="glyphicon glyphicon-circle-arrow-right"></span>
										</a>
								</div>
			        </div>
			    </div>
					<script>
							$('#Carousel').carousel({
									interval:   10000 //7 seconds
							});
		      </script>


		<!-- Begin about section -->
					<section id="about-section" class="page bg-style1">
		                <!-- Begin page header-->
		                <div class="page-header-wrapper">
		                    <div class="container">
		                        <div class="page-header text-center wow fadeInUp" data-wow-delay="0.3s">
		                            <h2>Về chúng tôi</h2>
		                            <div class="devider"></div>
		                            <p class="subtitle"><strong><u>Xem</u></strong> thông tin dưới đây</p>
		                        </div>
		                    </div>
		                </div>
		                <!-- End page header-->

										<!-- Begin rotate box-1 -->
                <div class="rotate-box-1-wrapper">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <a href="/home/about_vn#vision-section" class="rotate-box-1 square-icon wow zoomIn" data-wow-delay="0">
                                    <span class="rotate-box-icon"><i class="fa fa-globe"></i></span>
                                    <div class="rotate-box-info">
                                        <h4><strong>Tầm nhìn</strong></h4>
                                        <p>Tạo ra một văn hóa mới trong tương lai.</p>
                                    </div>
                                </a>
                            </div>
														<div class="col-md-4">
                                <a href="/home/about_vn#history-section" class="rotate-box-1 square-icon wow zoomIn" data-wow-delay="0.2">
                                    <span class="rotate-box-icon"><i class="fa fa-history"></i></span>
                                    <div class="rotate-box-info">
                                        <h4><strong>Lịch sử</strong></h4>
                                        <p>Từ 2013's <strong>tại VIETNAM</strong>.</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="/home/about_vn#rental-section" class="rotate-box-1 square-icon wow zoomIn" data-wow-delay="0.4s">
                                    <span class="rotate-box-icon"><i class="fa fa-cog"></i></span>
                                    <div class="rotate-box-info">
                                        <h4><strong>Hệ thống cho thuê</strong></h4>
                                        <p>Tại sao chúng ta cần sử dụng các sản phẩm cho thuê.</p>
                                    </div>
                                </a>
                            </div>
                        </div> <!-- /.row -->
                    </div> <!-- /.container -->
                </div>
                <!-- End rotate box-1 -->

		                <div class="extra-space-l"></div>

		                <!-- Begin page header
		                <div class="page-header-wrapper">
		                    <div class="container">
		                        <div class="page-header text-center wow fadeInUp" data-wow-delay="0.3s">
		                            <h4>Our Skills</h4>
		                        </div>
		                    </div>
		                </div>

		                <!-- End page header

		                <!-- Begin Our Skills
		                <div class="our-skills">
		                	<div class="container">
		                    	<div class="row">

		                        	<div class="col-sm-6">
		                                <div class="skill-bar wow slideInLeft" data-wow-delay="0.2s">
		                                    <div class="progress-lebel">
		                                        <h6>Photoshop & Illustrator</h6>
		                                    </div>
		                                    <div class="progress">
		                                      <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
		                                      </div>
		                                    </div>
		                                </div>
		                            </div>

		                            <div class="col-sm-6">
		                                <div class="skill-bar wow slideInRight" data-wow-delay="0.2s">
		                                    <div class="progress-lebel">
		                                        <h6>WordPress</h6>
		                                    </div>
		                                    <div class="progress">
		                                      <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%;">
		                                      </div>
		                                    </div>
		                                </div>
		                            </div>

		                            <div class="col-sm-6">
		                                <div class="skill-bar wow slideInLeft" data-wow-delay="0.4s">
		                                    <div class="progress-lebel">
		                                        <h6>Html & Css</h6>
		                                    </div>
		                                    <div class="progress">
		                                      <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%;">
		                                      </div>
		                                    </div>
		                                </div>
		                            </div>

		                            <div class="col-sm-6">
		                                <div class="skill-bar wow slideInRight" data-wow-delay="0.4s">
		                                    <div class="progress-lebel">
		                                        <h6>Javascript</h6>
		                                    </div>
		                                    <div class="progress">
		                                      <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
		                                      </div>
		                                    </div>
		                                </div>
		                            </div>

		                        </div> <!-- /.row
		                    </div> <!-- /.container
		                </div>
		                <!-- End Our Skill -->
		          </section>
		          <!-- End about section -->

							<!-- Begin Services -->
												<section id="services-section" class="page text-center">
														<!-- Begin page header-->
														<div class="page-header-wrapper">
																<div class="container">
																		<div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
																				<h2>Dịch vụ</h2>
																				<div class="devider"></div>
																				<p class="subtitle">Chúng tôi cung cấp dịch vụ Cho thuê & Sửa chữa & Tư vấn</p>
																		</div>
																</div>
														</div>
														<!-- End page header-->

														<!-- Begin roatet box-2 -->
														<div class="rotate-box-2-wrapper">
																<div class="container">
																		<div class="row">
																				<div class="col-md-4">
																						<a class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0">
																								<span class="rotate-box-icon"><i class="fa fa-shopping-cart"></i></span>
																								<div class="rotate-box-info">
																										<h4><strong>Cho thuê</strong></h4>
																										<p>Cung cấp các thiết bị tại công trường xây dựng, cho thuê các thiết bị văn phòng và dịch vụ thuê xe.</p>
																								</div>
																						</a>
																				</div>

																				<div class="col-md-4">
																						<a class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0.2s">
																								<span class="rotate-box-icon"><i class="fa fa-wrench"></i></span>
																								<div class="rotate-box-info">
																										<h4><strong>Sửa chữa</strong></h4>
																										<p>Cung cấp dịch vụ sửa chữa & bảo trì bởi đội ngũ kỹ sư chuyên nghiệp.</p>
																								</div>
																						</a>
																				</div>

																				<div class="col-md-4">
																						<a class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0.4s">
																								<span class="rotate-box-icon"><i class="fa fa-comments"></i></span>
																								<div class="rotate-box-info">
																										<h4><strong>Tư vấn</strong></h4>
																										<p>Tư vấn quản lý tài sản của công ty bằng tiếng Hàn, tiếng Anh và tiếng Việt.</p>
																								</div>
																						</a>
																				</div>
																		</div> <!-- /.row -->
																</div> <!-- /.container -->
														</div>
														<!-- End rotate-box-2 -->
												</section>
												<!-- End Services -->


            <!-- Begin Portfolio -->
            <section id="product-section" class="page bg-style1">
            	<div class="container">
                    <div class="row">
                            <div class="portfolio">
                                <!-- Begin page header-->
                                <div class="page-header-wrapper">
                                    <div class="container">
                                        <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                                            <h2>Sản phẩm cho thuê</h2>
                                            <div class="devider"></div>
                                            <p class="subtitle">Thuê dễ dàng & Hợp lý</p>
                                        </div>
                                    </div>
                                </div>
																<div class="container">

																    <div id="products" class="row list-group">

																				<div class="item col-md-4">
															            <div class="thumbnail">
															                <img class="img-responsive group list-group-image" src="/img/main/car-main.jpg" alt="" />
															                <div class="caption">
															                             <h5>Xe</h5>
															                            <a class="btn btn-dark" href="/home/product_vn#car-section">Xem tiếp</a>
															                </div>
															            </div>
															        	</div>
																				<div class="item col-md-4">
																					<div class="thumbnail">
																							<img class="img-responsive group list-group-image" src="/img/main/pc-main.jpg" alt="" />
																							<div class="caption">
																													 <h5>PC</h5>
																													<a class="btn btn-dark" href="/home/product_vn#pc-section">Xem tiếp</a>
																							</div>
																					</div>
																				</div>
																				<div class="item col-md-4">
																					<div class="thumbnail">
																							<img class="img-responsive group list-group-image" src="/img/main/tmi-main.jpg" alt="" />
																							<div class="caption">
																													 <h5>TMI</h5>
																													<a class="btn btn-dark" href="/home/product_vn#tmi-section">Xem tiếp</a>
																							</div>
																					</div>
																				</div>

																				<div class="item col-md-6">
																					<div class="thumbnail">
																							<img class="img-responsive group list-group-image" src="/img/main/copy-main.jpg" alt="" />
																							<div class="caption">
																													 <h5>Máy in </h5>
																													<a class="btn btn-dark" href="/home/product_vn#copy-section">Xem tiếp</a>
																							</div>
																					</div>
																				</div>
																				<div class="item col-md-6">
																					<div class="thumbnail">
																							<img class="img-responsive group list-group-image" src="/img/main/manlift-main.jpg" alt="" />
																							<div class="caption">
																													 <h5>Thang nâng</h5>
																													<a class="btn btn-dark" href="/home/product_vn#manlift-section">Xem tiếp</a>
																							</div>
																					</div>
																				</div>
																			</div>

																    </div><!-- container -->
																</div><!-- portfolio -->
														</div><!-- row -->
											</div><!-- container -->
  						</section>



        <!-- End portfolio -->
						<!-- product section
<script>
$(document).ready(function() {
    $('#list').click(function(event){event.preventDefault();$('#products .item').addClass('list-group-item');});
    $('#grid').click(function(event){event.preventDefault();$('#products .item').removeClass('list-group-item');$('#products .item').addClass('grid-group-item');});
});
</script>
-->



<!--
            <!-- Begin team
            <section id="team-section" class="page">
                <!-- Begin page header
                <div class="page-header-wrapper">
                    <div class="container">
                        <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                            <h2>Our Team</h2>
                            <div class="devider"></div>
                            <p class="subtitle">Meat our experts</p>
                        </div>
                    </div>
                </div>
                <!-- End page header
                <div class="container">
                    <div class="row">
                        <div class="team-items">
                            <div class="col-md-2 col-xs-2">
                                <div class="team-container wow bounceIn" data-wow-delay="0.2s">
                                    <div class="team-item">
                                        <div class="team-triangle">
                                            <div class="content">
                                                <img src="img/team/1.jpg" alt="title"/>
                                                <div class="team-hover text-center">
                                                    <i class="fa fa-male"></i>
                                                    <p>John Doe</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 col-xs-2">
                                <div class="team-container wow bounceIn" data-wow-delay="0.3s">
                                    <div class="team-item">
                                        <div class="team-triangle">
                                            <div class="content">
                                                <img src="img/team/1.jpg" alt="title"/>
                                                <div class="team-hover text-center">
                                                    <i class="fa fa-female"></i>
                                                    <p>Jane Doe</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 col-xs-2">
                                <div class="team-container wow bounceIn" data-wow-delay="0.4s">
                                    <div class="team-item">
                                        <div class="team-triangle">
                                            <div class="content">
                                                <img src="img/team/1.jpg" alt="title"/>
                                                <div class="team-hover text-center">
                                                    <i class="fa fa-male"></i>
                                                    <p>John Doe</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2 col-xs-2">
                                <div class="team-container wow bounceIn" data-wow-delay="0.5s">
                                    <div class="team-item">
                                        <div class="team-triangle">
                                            <div class="content">
                                                <img src="img/team/1.jpg" alt="title"/>
                                                <div class="team-hover text-center">
                                                    <i class="fa fa-male"></i>
                                                    <p>John Doe</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 col-xs-2">
                                <div class="team-container wow bounceIn" data-wow-delay="0.6s">
                                    <div class="team-item">
                                        <div class="team-triangle">
                                            <div class="content">
                                                <img src="img/team/1.jpg" alt="title"/>
                                                <div class="team-hover text-center">
                                                    <i class="fa fa-male"></i>
                                                    <p>John Doe</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 col-xs-2">
                                <div class="team-container wow bounceIn" data-wow-delay="0.7s">
                                    <div class="team-item">
                                        <div class="team-triangle">
                                            <div class="content">
                                                <img src="img/team/1.jpg" alt="title"/>
                                                <div class="team-hover text-center">
                                                    <i class="fa fa-male"></i>
                                                    <p>John Doe</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 col-xs-2">
                                <div class="team-container wow bounceIn" data-wow-delay="0.8s">
                                    <div class="team-item">
                                        <div class="team-triangle">
                                            <div class="content">
                                                <img src="img/team/1.jpg" alt="title"/>
                                                <div class="team-hover text-center">
                                                    <i class="fa fa-female"></i>
                                                    <p>Jane Doe</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>

            </section>
            <!-- End team

<div class="container">

            <!-- Begin partners
            <section id="partners-section">
                <!-- Begin page header
                <div class="page-header-wrapper">
                    <div class="container">
                        <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                            <h2>Our Clients</h2>
                            <div class="devider"></div>
                            <p class="subtitle">IS_KOREARENTAL_VINA CLIENTS</p>
                        </div>
												<!-- Begin counter up -->
									<!-- style="background-image: url(img/counter-bg.jpg);" -->
									<!--
										<div id="counter-up-trigger" class="counter-up parallax">
																<!-- End page header
											<div class="container" align="center">

												<div class="row">

													<div class="fact text-center col-md-6">
														<div class="fact-inner">
															<i class="fa fa-users fa-2x"></i>
															<div class="extra-space-l"></div>
															<span class="counter">50</span>
															<p class="lead">Clients Worked With IS_KOREARENTAL_VINA</p>
														</div>
													</div>

													<div class="fact text-center col-md-6">
														<div class="fact-inner">
															<i class="fa fa-leaf fa-2x"></i>
																<div class="extra-space-l"></div>
															<span class="counter">800</span>
															<p class="lead">Completed Projects</p>
														</div>
													</div>

												</div> <!-- /.row
											</div> <!-- /.container
									</div>
								-->
									<!--
								</div>
								<div align="center">
									<ul id="menu">
										<li><a><span>Sunjin Vina</span></a></li>
										<li><a><span>Keum Ah</span></a></li>
										<li><a><span>Doosan</span></a></li>
										<li><a><span>CJ</span></a></li>
										<li><a><span>Vesco</span></a></li>
									</ul>
									<div class="extra-space-l"></div>
									<ul id="menu">
										<li><a><span>Welstory</span></a></li>
										<li><a><span>Nobland</span></a></li>
										<li><a><span>iMarket</span></a></li>
										<li><a><span>Kookmin Bank</span></a></li>
										<li><a><span>Shinhan Bank</span></a></li>
									</ul>
									<div class="extra-space-l"></div>
									<ul id="menu">
										<li><a><span>Kyung Seung</span></a></li>
										<li><a><span>JJ Foam & Tape</span></a></li>
										<li><a><span>Phuoc Giang</span></a></li>
										<li><a><span>Cooltex</span></a></li>
										<li><a><span>Korean School </span></a></li>
									</ul>
									<div class="extra-space-l"></div>
									<ul id="menu">
										<li><a><span>TSL Networ</span></a></li>
										<li><a><span>Asia Bolt</span></a></li>
										<li><a><span>Platel Vina</span></a></li>
										<li><a><span>Attolife</span></a></li>
										<li><a><span>Probank</span></a></li>
									</ul>
									<div class="extra-space-l"></div>
									<ul id="menu">
										<li><a><span>Nifco</span></a></li>
										<li><a><span>H & Friends </span></a></li>
										<li><a><span>Sae A</span></a></li>
										<li><a><span>Global FB</span></a></li>
										<li><a><span>Cargobus</span></a></li>
									</ul>
							</div>
						-->

                <!-- End page header	-->
								<!--
                <div class="container" align="center">
                    <div id="owl-partners" class="owl-carousel" style="align-items: center;">
                        <img class="img-responsive" src="/img/partners/cj-logo.png" alt="img">
                        <img class="img-responsive" style="margin-top:20px;" src="/img/partners/doosan-logo.png" alt="img">
												<img class="img-responsive" style="margin-top:20px;" src="/img/partners/lg-logo.png" alt="img">
												<img class="img-responsive" style="margin-top:20px;" src="/img/partners/samsung-logo.png" alt="img">
												<img class="img-responsive" src="/img/partners/samsungdisplay-logo.png" height="100px;" alt="img">
												<img class="img-responsive" src="/img/partners/samsungwelstory-logo.png" width="150px;"height="70px;" alt="img">
                        <img class="img-responsive" src="/img/partners/shinhan-logo.png" alt="img">
												<img class="img-responsive" src="/img/partners/woori-logo.png" alt="img">
												<img class="img-responsive" style="margin-top:20px;" src="/img/partners/kb-logo.png" alt="img">
												<img class="img-responsive" style="margin-top:30px;" src="/img/partners/ibk-logo.png" alt="img">
												<img class="img-responsive" style="margin-top:25px;" src="/img/partners/hansae-logo.png" alt="img">
												<img class="img-responsive" src="/img/partners/welcron-logo.png" alt="img">
												<img class="img-responsive" style="margin-top:35px;"src="/img/partners/hanjin-logo.png" alt="img">
												<img class="img-responsive" style="margin-top:35px;" contenteditable=""src="/img/partners/platel-logo.png" alt="img">
												<img class="img-responsive" src="/img/partners/lock-logo.png" alt="img">

                    </div>
                </div>
							-->

					<!-- End counter up -->

            <!-- End partners -->




            <!-- Begin prices section -->
			<section id="recruit-section" class="page">

                <!-- Begin page header-->
                <div class="page-header-wrapper">
                    <div class="container">
                        <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                            <h2>TUYỂN DỤNG</h2>
                            <div class="devider"></div>
                            <p class="subtitle">Nộp hồ sơ tới IS_KOREARENTAL_VINA</p>
                        </div>
                    </div>
                </div>
                <!-- End page header-->

				<div class="extra-space-l"></div>


				<div class="container">

					<div class="panel panel-default panel-fade">

						<!-- table header -->
						<div class="panel-heading">
							<span class="panel-title">
								<div class="pull-left">
								<ul class="nav nav-tabs">
									<li class="active"><a href="#business" data-toggle="tab"><i class="fa fa-user"></i> <strong>Kinh doanh</strong></a></li>
									<li><a href="#sales" data-toggle="tab"><i class="fa fa-user"></i> <strong>Bán hàng</strong></a></li>
									<li><a href="#copy" data-toggle="tab"><i class="fa fa-user"></i> <strong>Kỹ sư máy Photocopy</strong></a></li>
									<li><a href="#man" data-toggle="tab"><i class="fa fa-user"></i> <strong>Kỹ sư Man-Lift</strong></a></li>
									<li><a href="#driver" data-toggle="tab"><i class="fa fa-user"></i> <strong>Lái xe</strong></a></li>
								</ul>
								</div>
								<div class="clearfix"></div>
							</span>
						</div><!-- heading -->

						<div class="panel-body">
							<div class="tab-content">
									<!-- business part -->
                <div class="tab-pane fade in active" id="business" style="border: 3px solid #dddddd;">
									<table class="table table-striped" style="table-layout:fixed;">
									<thead>
										<tr><th>Bộ phận</th><th>Trình độ chuyên môn</th><th>Ưu tiên</th><th>Điều kiện làm việc</th></tr>
									</thead>
									<tbody>
										<tr>
												<td><strong>Hành chính – Nhân sự</strong></td>
												<td>Tốt nghiệp đại học / chứng chỉ liên quan,  <br> Sử dụng các chương trình văn phòng</td>
												<td>Chuyên ngành Hành chính – Nhân sự,  <br> Kinh nghiệm làm việc liên quan</td>
												<td>Văn phòng Hà Nội / Hồ Chí Minh, <br>
												    Làm việc 5 ngày / tuần
												</td>
										</tr>
										<tr>
											 <td><strong>Kế toán</strong></td>
											 <td>Tốt nghiệp đại học/ chứng chỉ liên quan,  <br> Sử dụng các chương trình văn phòng</td>
											 <td>Chuyên ngành Kế toán/ Tài chính,   <br> Kinh nghiệm làm việc liên quan</td>
											 <td>Văn phòng Hà Nội / Hồ Chí Minh, <br>
													 Làm việc 5 ngày / tuần
											 </td>
									 </tr>
								 </tbody>
							 </table>
							</div>
								<!-- sales part -->
							<div class="tab-pane fade" id="sales" style="border: 3px solid #dddddd;">
									<table class="table table-striped" style="table-layout:fixed;">
									<thead>
										<tr><th>Bộ phận</th><th>Trình độ chuyên môn</th><th>Ưu tiên</th><th>Điều kiện làm việc</th></tr>
									</thead>
									<tbody>
										<tr>
											 <td><strong>Cho thuê máy Photocopy / PC</strong></td>
											 <td>Tốt nghiệp đại học / chứng chỉ liên quan, <br> Sử dụng các chương trình văn phòng</td>
											 <td>Chuyên ngành công nghệ thông tin,  <br> Kinh nghiệm làm việc liên quan</td>
											 <td>Văn phòng Hà Nội / Hồ Chí Minh, <br>
											   	Làm việc 5 ngày / tuần
												</td>
								  	</tr>
								  	<tr>
				 								<td><strong>Cho thuê Xe</strong></td>
				 								<td>Tốt nghiệp đại học / chứng chỉ liên quan, <br> Sử dụng các chương trình văn phòng</td>
				 								<td>Chuyên ngành xe tự động, <br> Kinh nghiệm làm việc liên quan</td>
				 								<td>Văn phòng Hà Nội / Hồ Chí Minh,
				 								<br>Làm việc 5 ngày / tuần
				 								</td>
				 						</tr>
										<tr>
												<td><strong>Cho thuê Man-lift</strong></td>
												<td>Tốt nghiệp đại học / chứng chỉ liên quan, <br> Sử dụng các chương trình văn phòng</td>
												<td>Kinh nghiệm làm việc liên quan</td>
												<td>Văn phòng Hà Nội / Hồ Chí Minh,
											  <br>Làm việc 5 ngày / tuần
										    </td>
										</tr>
									</tbody>
								</table>
								</div>
								<!-- photocopier engineer part -->
								<div class="tab-pane fade" id="copy" style="border: 3px solid #dddddd;">
										<table class="table table-striped" style="table-layout:fixed;">
										<thead>
										<tr><th>Bộ phận</th><th>Trình độ chuyên môn</th><th>Ưu tiên</th><th>Điều kiện làm việc</th></tr>
										</thead>
										<tbody>
											<tr>
												<td><strong>Kỹ sư máy Photocopy</strong></td>
												<td>Tốt nghiệp đại học / chứng chỉ liên quan</td>
												<td>Kinh nghiệm làm việc tại các nhà máy sản xuất, <br> Kinh nghiệp làm việc có liên quan</td>
												<td>Văn phòng Hà Nội / Hồ Chí Minh,
												<br>Làm việc 6 ngày / tuần
												</td>
											</tr>
										</tbody>
									  </table>
									</div>
									<!-- man-lift engineer part -->
									<div class="tab-pane fade" id="man" style="border: 3px solid #dddddd;">
											<table class="table table-striped" style="table-layout:fixed;">
												<thead>
													<tr><th>Bộ phận</th><th>Trình độ chuyên môn</th><th>Ưu tiên</th><th>Điều kiện làm việc</th></tr>
												</thead>
												<tbody>
												<tr>
														<td><strong>Kỹ sư Man-Lift</strong></td>
														<td>Tốt nghiệp Trung học phổ thông / chứng chỉ liên quan</td>
														<td>Có bằng / giấy phép bảo trì máy, <br> Kinh nghiệm làm việc liên quan</td>
														<td>Bãi đỗ xe ngoài trời,
														<br>Làm việc 6 ngày/ tuần
														</td>
											 	</tr>
										  </tbody>
										 </table>
									</div>
										<!-- driver part -->
										<div class="tab-pane fade" id="driver" style="border: 3px solid #dddddd;">
												<table class="table table-striped" style="table-layout:fixed;">
													<thead>
														<tr><th>Bộ phận</th><th>Trình độ chuyên môn</th><th>Ưu tiên</th><th>Điều kiện làm việc</th></tr>
													</thead>
													<tbody>
													<tr>
														 <td><strong>Lái xe</strong></td>
														 <td>Hơn 2 năm kinh nghiệm lái xe, <br>trên 25 tuổi</td>
														 <td>Có bằng lái xe hạng D, <br> Trên 5 năm kinh nghiệm lái xe, <br> Kinh nghiệm lái xe cho thuê</td>
														 <td>Dựa vào yêu cầu của khách hàng,
														 <br>Làm việc 6 ngày/ tuần và thời gian làm thêm giờ
														 </td>
												  </tr>
												</tbody>
											</table>
							    	</div>

							</div><!-- tab content -->
							<!-- job apply address -->
							<div align="center" style="margin-top:15px;">
								<li><i class="fa fa-envelope"></i><strong>&nbsp;&nbsp;&nbsp;Nộp đơn xin việc&nbsp; :&nbsp;&nbsp;&nbsp;ytkim@korearental.co.kr</strong></li>
							</div>

						</div>
					</div>
			</div>

				<div class="extra-space-l"></div>

			</section>

			<!-- End prices section -->
			<!-- Begin testimonials
			<section id="testimonial-section">
					<div id="testimonial-trigger" class="testimonial text-white parallax" data-stellar-background-ratio="0.5" style="background-image: url(img/map-bg.jpg);">
							<!--<div class="cover"></div>
							<!-- Begin page header
							<div class="page-header-wrapper">
									<div class="container">
											<div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
													<h2>Our Location</h2>
													<div class="devider"></div>
													<p class="subtitle">Hanoi Head Office & Hochiminh Branch</p>
											</div>
									</div>
							</div>
						 End page header
							<div class="container">
									<div class="testimonial-inner center-block text-center">
											<div id="owl-testimonial" class="owl-carousel">
													<div class="item">
															<blockquote>
																<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.397121886777!2d105.78198556501896!3d21.01679043600487!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab54e29650c5%3A0x453b5c2a98dc5e98!2z6rK964KoIO2VmOuFuOydtCDrnpzrk5zrp4jtgawg7YOA7JuMIEtlYW5nbmFtLCBN4buFIFRyw6wsIFThu6sgTGnDqm0sIEjDoCBO4buZaSwg67Kg7Yq464Ko!5e0!3m2!1sko!2skr!4v1478504326355"
	width="1500" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
															</blockquote>
													</div>
													<div class="item">
															<blockquote>
																<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.3806698532544!2d106.70350971489194!3d10.782128692317649!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f494ab1a7ab%3A0xca5d3f36e8edd13!2zQ0ogQnVpbGRpbmcsIEzDqiBUaMOhbmggVMO0biwgQuG6v24gTmdow6ksIFF14bqtbiAxLCBI4buTIENow60gTWluaCwg67Kg7Yq464Ko!5e0!3m2!1sko!2skr!4v1478504391172"
		width="1500" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
															</blockquote>
													</div>
											</div>
									</div>
							</div>
					</div>
			</section>
			<!-- End testimonials -->




            <!-- Begin social section
			<section id="social-section" class="page text-white parallax" data-stellar-background-ratio="0.5" style="background-image: url(img/testimonial4-bg.jpg);">
					<div class="cover"></div>
                 <!-- Begin page header
                <div class="page-header-wrapper">
                    <div class="container">
                        <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                            <h2>Join Us</h2>
                            <div class="devider"></div>
                            <p class="subtitle">Follow us on social networks</p>
                        </div>
                    </div>
                </div>
                <!-- End page header

                <div class="container">
                	<ul class="social-list">
                		<li> <a href="https://www.facebook.com/iskorearentalvina" class="rotate-box-1 square-icon text-center wow zoomIn" data-wow-delay="0.3s"><span class="rotate-box-icon"><i class="fa fa-facebook"></i></span></a></li>
                		<li> <a href="https://www.facebook.com/iskorearentalvina" class="rotate-box-1 square-icon text-center wow zoomIn" data-wow-delay="0.4s"><span class="rotate-box-icon"><i class="fa fa-twitter"></i></span></a></li>
                		<li> <a href="https://www.facebook.com/iskorearentalvina" class="rotate-box-1 square-icon text-center wow zoomIn" data-wow-delay="0.5s"><span class="rotate-box-icon"><i class="fa fa-google-plus"></i></span></a></li>
                		<li> <a href="https://www.facebook.com/iskorearentalvina" class="rotate-box-1 square-icon text-center wow zoomIn" data-wow-delay="0.6s"><span class="rotate-box-icon"><i class="fa fa-pinterest-p"></i></span></a></li>
                		<li> <a href="https://www.facebook.com/iskorearentalvina" class="rotate-box-1 square-icon text-center wow zoomIn" data-wow-delay="0.7s"><span class="rotate-box-icon"><i class="fa fa-tumblr"></i></span></a></li>
                		<li> <a href="https://www.facebook.com/iskorearentalvina" class="rotate-box-1 square-icon text-center wow zoomIn" data-wow-delay="0.8s"><span class="rotate-box-icon"><i class="fa fa-dribbble"></i></span></a></li>
                    </ul>
                </div>

      </section>
		-->
            <!-- End social section -->

		<div class="container">
            <!-- Begin contact section --> <!-- style="background-image: url(img/map-bg.jpg);"-->
			<section id="contact-section" class="page text-white parallax" data-stellar-background-ratio="0.5">
            <div class="cover"></div>

                 <!-- Begin page header-->
                <div class="page-header-wrapper">
                    <div class="container">
                        <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                            <h2>LIÊN HỆ</h2>
                            <div class="devider"></div>
                            <p class="subtitle">Liên hệ với chúng tôi</p>
                        </div>
                    </div>
                </div>
                <!-- End page header-->

                <div class="contact wow bounceInRight" data-wow-delay="0.4s">
                    <div class="container">
                    	<div class="row col-md-12">

												<div class="row">
													<div class="container">
														<!-- hanoi address -->
                            <div class="col-md-6 address">
                                <div class="contact-info">
                                    <i class="fa fa-home fa-lg"></i>&nbsp;&nbsp;<h4>Văn phòng trụ sở chính tại Hà Nội</h4>
                                    <ul class="contact-address">
			                            <li><i class="fa fa-map-marker fa-lg"></i>&nbsp;Trụ sở chính : <br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Tầng 14, tòa nhà Landmark Keangnam Hà Nội, khu E6, <br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Khu đô thị mới Cầu Giấy, Mễ Trì, Nam Từ Liêm, Hà Nội.</li>
																	<li><i class="fa fa-phone"></i>&nbsp;KOR :  +82-2-3450-2375&nbsp;&nbsp;/&nbsp;&nbsp;+84-(0)12-8233-1131<br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;VN : +84-(0)4-6282-3031</li>
			                            <li><i class="fa fa-envelope"></i>&nbsp; ytkim@korearental.co.kr

			                        </ul>
                                </div>
                            </div>
														<!-- hanoi map -->
														<div class="col-md-6 map" align="center" text-align="center">
																		<h4>Vị trí Trụ sở chính Hà Nội</h4>
																		<iframe class="hanoimap" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.397121886777!2d105.78198556501896!3d21.01679043600487!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab54e29650c5%3A0x453b5c2a98dc5e98!2z6rK964KoIO2VmOuFuOydtCDrnpzrk5zrp4jtgawg7YOA7JuMIEtlYW5nbmFtLCBN4buFIFRyw6wsIFThu6sgTGnDqm0sIEjDoCBO4buZaSwg67Kg7Yq464Ko!5e0!3m2!1sko!2skr!4v1478504326355"
			 															 width="400" height="400" frameborder="0" style="border:2px;" allowfullscreen></iframe>
														</div>
													</div>
														<!-- hochiminh address -->
														<div class="container" style="margin-top:30px;">
														<div class="col-md-6 address">
                                <div class="contact-info">
                                    <i class="fa fa-home fa-lg"></i>&nbsp;&nbsp;<h4>Văn phòng chi nhánh Hồ Chí Minh</h4>
                                    <ul class="contact-address">
			                            <li><i class="fa fa-map-marker fa-lg"></i>&nbsp;Chi nhánh HCM : <br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Lầu 6, tòa nhà CJ, số 2Bis-4-6 Lê Thánh Tôn, phường Bến Nghé, Quận 1</li>
			                            <li><i class="fa fa-phone"></i>&nbsp;KOR : +82-2-3450-2376&nbsp;&nbsp;/&nbsp;&nbsp;+84-(0)12-6774-0633<br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;VN : +84-(0)8-3521-0051~3</li>
			                            <li><i class="fa fa-envelope"></i>&nbsp; shjang@korearental.co.kr
			                              </ul>
                                </div>
                            </div>
														<!-- hochiminh map -->
														<div class="col-md-6 map" align="center" text-align="center">
														    	<h4>Vị trí văn phòng chi nhánh HCM</h4>
																	<iframe class="hochiminhmap" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.3806698532544!2d106.70350971489194!3d10.782128692317649!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f494ab1a7ab%3A0xca5d3f36e8edd13!2zQ0ogQnVpbGRpbmcsIEzDqiBUaMOhbmggVMO0biwgQuG6v24gTmdow6ksIFF14bqtbiAxLCBI4buTIENow60gTWluaCwg67Kg7Yq464Ko!5e0!3m2!1sko!2skr!4v1478504391172"
			 															width="400" height="400" frameborder="0" style="border:2px;" allowfullscreen></iframe>
														</div>
													</div>
												</div>
												<!--
                        	<div class="col-sm-6">
                                <div class="contact-form">
                                	<h4>Write to us</h4>
                                    <form role="form" action="/home/write" method="post">
                                        <div class="form-group">
                                            <input type="text" class="form-control input-lg" name="name" placeholder="Company Name" required>
                                        </div>
                                        <div class="form-group">
                                            <input type="email" class="form-control input-lg" name="your email" placeholder="E-mail" required>
                                        </div>
                                        <div class="form-group">
                                            <textarea class="form-control input-lg" rows="5" name="content" placeholder="Message" required></textarea>
                                        </div>
                                        <button type="submit" class="btn wow bounceInRight" data-wow-delay="0.8s">Send</button>
                                    </form>
                                </div>
                            </div>
													-->

                        </div> <!-- /.row -->
                    </div> <!-- /.container -->
										<div class="extra-space-l"></div>

                </div>
            </section>
					</div><!-- container -->

	<div class="container">
						<!-- End contact section -->
						<footer id="footer" class="clearfix">
						      <div id="footer-widgets">
						        <div id="footer-wrapper">
						          <div class="container">
												<!--
												<div class="col-md-4 site">
	 						            <div id="recent-posts-3" class="widget widgetFooter widget_recent_entries">

	 						                    <h4 class="widgettitle">SiteMap :</h4>

																	<div id="recent-posts-3" class="widget widgetFooter widget_recent_entries row">
																		<p style="margin-bottom:5px;">About us</p>
																	<ul class="bottom_ul">
																		<li><a href="/home/about#vision-section">Vision</a></li>
																		<li><a href="/home/about#history-section">History</a></li>
																		<li><a href="/home/about#rental-section">Rental System</a></li>
	 															  </ul>
	 															  </div>

																<div id="recent-posts-3" class="widget widgetFooter widget_recent_entries row">
																	<p style="margin-bottom:5px;">Rental Products</p>
																	<ul class="bottom_ul">

																		<li><a href="/home/product#car-section">Car</a></li>
																		<li><a href="/home/product#pc-section">PC</a></li>
																		<li><a href="/home/product#copy-section">PhotoCopier</a></li>
																		<li><a href="/home/product#manlift-section">Lift</a></li>
																		<li><a href="/home/product#tmi-section">TMI</a></li>


																	</ul>
																</div>
																<div id="recent-posts-3" class="widget widgetFooter widget_recent_entries row">

																	<ul class="bottom_ul">
																		<li><a class="page-scroll" href="#recruit-section">Recruitment</a></li>
																		<li><a class="page-scroll" href="#contact-section">Contacts</a></li>

																	</ul>
																</div>

	 							 			     </div>  end widget1
											</div>  col-md-4 -->

											<!-- family site -->
												<div class="col-md-6 family" style="margin-bottom:20px;">
						              <div id="meta-3" class="widget widgetFooter widget_meta">
						              	<h4 class="widgettitle">Website liên quan :</h4>
						              	<ul>
															<li><a href="http://www.korearental.co.kr/" target="_blank"><i class="fa fa-arrow-circle-right"></i> KOREA RENTAL KOREA</a></li>
															<li><a href="http://52.79.123.78/" target="_blank"><i class="fa fa-arrow-circle-right"></i> KOREA RENTAL SAUDI</a></li>
															<li><a href="http://52.79.134.199/" target="_blank"><i class="fa fa-arrow-circle-right"></i> KOREA RENTAL QATAR</a></li>
									    				<li><a href="http://www.krcchina.com/index.asp" target="_blank"><i class="fa fa-arrow-circle-right"></i> KOREA RENTAL CHINA</a></li>
									    				<li><a href="http://www.isdongseo.co.kr/main/" target="_blank"><i class="fa fa-arrow-circle-right"></i> IS DONGSEO Co., Ltd.</a></li>
															<li><a href="http://www.inushaus.com/main/index.asp" target="_blank"><i class="fa fa-arrow-circle-right"></i> INUS</a></li>
						             		</ul>
											 		</div>
					             	</div> <!-- family -->
										<!-- join -->
										<div class="col-md-6 join">
											<div id="meta-3" class="widget widgetFooter widget_meta">
											<h4 class="widgettitle">Tham gia :</h4>
											<li><a href="https://www.facebook.com/iskorearentalvina" target="_blank"><i class="fa fa-facebook fa-lg" aria-hidden="true"></i> &nbsp;&nbsp;&nbsp; IS_KOREARENTAL_VINA FACEBOOK</a></li><br><br>
											<li><a href="https://www.facebook.com/KoreaRental/" target="_blank"><i class="fa fa-facebook fa-lg" aria-hidden="true"></i> &nbsp;&nbsp;&nbsp; IS_KOREARENTAL_KOREA FACEBOOK</a></li><br><br>
											<li><a href="http://blog.naver.com/krc15601" target="_blank"><img src="/img/blogger-logo-silhouette.png"> &nbsp;&nbsp;&nbsp; IS_KOREARENTAL_KOREA BLOG</a></li><br><br>
											<!-- message button -->
											<div class="center"><button data-toggle="modal" data-target="#email1" class="btn btn-yellow btn-sm">Send Message</button></div>
										</div>
									</div> <!-- join -->
						 </div><!-- container -->
					</div> <!-- footer wrapper -->
        </div> <!-- end #footer-widgets -->


						      <div id="sub-floor">
						        <div class="container">
						          <div class="row">
						            <div class="col-md-8 copyright">
						             © Copyright IS_KOREARENTAL_VINA Co., Ltd.
						            </div>
						          </div> <!-- end .row -->
						        </div>
						      </div>
						    </footer>
		</div><!-- End footer -->


            <a href="#" class="scrolltotop"><i class="fa fa-arrow-up"></i></a> <!-- Scroll to top button -->

  </div><!-- body ends -->

				<div id="email1" class="modal fade" role="dialog" style="margin-top:50px;">
					<div class="modal-dialog">
						<!-- Modal content-->
						<div class="modal-content">

							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">×</button>
								<h4 class="modal-title">Write to us</h4>
							</div>
							<div class="modal-body">
								<form action="/home/write" method="POST" role="form" id="contact-form" class="contact-form">
									<div class="form-group">
												<input type="text" class="form-control" name="name" autocomplete="off" id="Name" placeholder="Company Name">
									</div>
									<div class="form-group">
												<input type="email" class="form-control" name="email" autocomplete="off" id="email" placeholder="Your E-mail">
									</div>
									<div class="form-group">
												<textarea class="form-control textarea" rows="5" name="content" id="Message" placeholder="Message( + phone number )"></textarea>
									</div>
									<div align="center">
										<button type="submit" class="btn main-btn">Send a message</button>
									</div>
							 </form>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							</div>

							</div>

						</div>

					</div>

			</div><!-- body -->
    </body>


</html>
