<!doctype html>
<html lang="en-US">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Unika - Responsive One Page HTML5 Template</title>
		<meta name="description" content="Unika - Responsive One Page HTML5 Template">
		<meta name="keywords" content="HTML5, Bootsrtrap, One Page, Responsive, Template, Portfolio" />
		<meta name="author" content="imransdesign.com">

		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="/assets/jquery-1.11.1.min.js"></script>
		<!-- jquery.easing.min.js cdn -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
		<!--<script src="/assets/jquery.easing.min.js"></script>-->
		<script src="/assets/jssor.slider.mini.js"></script>
		<script src="/assets/owl.carousel.min.js"></script>
		<script src="/assets/theme.js"></script>
		<script src="/assets/jquery.stellar.min.js"></script>
		<script src="/assets/wow.min.js"></script>
		<script src="/assets/waypoints.min.js"></script>
		<script src="/assets/isotope.pkgd.min.js"></script>
		<script src="/assets/classie.js"></script>
		<script src="/assets/jquery.counterup.min.js"></script>
		<script src="/assets/smoothscroll.js"></script>
		<script src="/assets/bootstrap.min.js"></script>
		<!-- Google Fonts  -->
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,700,500' rel='stylesheet' type='text/css'> <!-- Body font -->
		<link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'> <!-- Navbar font -->
		<!-- Libs and Plugins CSS-->
		<link rel="stylesheet" href="/assets/bootstrap.min.css">
		<link rel="stylesheet" href="/assets/animate.min.css">
		<link rel="stylesheet" href="/assets/font-awesome.min.css">
		<link rel="stylesheet" href="/assets/owl.carousel.css">
		<link rel="stylesheet" href="/assets/owl.theme.css">


		<link rel="stylesheet" href="/assets/reset.css">
		<link rel="stylesheet" href="/assets/style.css">
		<link rel="stylesheet" href="/assets/mobile.css">

		<link rel="stylesheet" href="/assets/cool-gray.css">

	</head>

    <body data-spy="scroll" data-target="#main-navbar">
     <div class="page-loader"></div>  <!-- Display loading image while page loads -->
    	<div class="body">

				<header id="header" class="header-main">

						<!-- Begin Navbar-->
						<nav id="main-navbar" class="navbar navbar-default navbar-fixed-top" role="navigation"> <!-- Classes: navbar-default, navbar-inverse, navbar-fixed-top, navbar-fixed-bottom, navbar-transparent. Note: If you use non-transparent navbar, set "height: 98px;" to #header-->
							<div class="container">
								<!-- Brand and toggle get grouped for better mobile display-->
								<div class="navbar-header">
									<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
										<span class="sr-only">Toggle navigation</span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
									</button>
									<a class="navbar-brand page-scroll" href="/">IS_KOREARENTAL_VINA</a>

								</div>

								<!-- Collect the nav links, forms, and other content for toggling-->
								<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

										<ul class="nav navbar-nav navbar-right">
												<li><a class="page-scroll" href="#header">Home</a></li>
												<li><a class="page-scroll" href="#about-section">About Us</a></li>
												<li><a class="page-scroll" href="#product-section">Rental Products</a></li>
												<li><a class="page-scroll" href="#recruit-section">Recruitment</a></li>
												<!--<li><a class="page-scroll" href="#team-section">Team</a></li>-->
												<!--<li><a class="page-scroll" href="#prices-section">Prices</a></li>-->
												<li><a class="page-scroll" href="#contact-section">Contact</a></li>
												<li class="divider"></li>
												<li><a href="/home/index_vn"><font color="#fff"><i class="fa fa-search"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;VN</font></a></li>
										</ul>

								</div><!-- /.navbar-collapse-->

							</div>
						</nav>
						<!-- End Navbar -->
				</header>

				<!-- ========= END HEADER =========-->


        	<!-- Begin text carousel intro section --><!-- style="background-image: url(img/slider-bg.jpg);"-->
					<div id="slider1_container" style="visibility: hidden; position: relative; margin: 0 auto; width: 1140px; height: 442px; overflow: hidden;">

				<!-- Loading Screen -->
				<div u="loading" style="position: absolute; top: 0px; left: 0px;">
						<div style="filter: alpha(opacity=70); opacity:0.7; position: absolute; display: block;

						background-color: #000; top: 0px; left: 0px;width: 100%; height:100%;">
						</div>
						<div style="position: absolute; display: block; background: url(../img/loading.gif) no-repeat center center;

						top: 0px; left: 0px;width: 100%;height:100%;">
						</div>
				</div>

				<!-- Slides Container -->
				<div u="slides" style="position: absolute; left: 0px; top: 0px; width: 1140px; height: 442px;
				overflow: hidden;">
						<div>
								<img u="image" src2="../img/slide/create.png" />
						</div>
						<div>
								<img u="image" src2="../img/slide/best.png" />
						</div>
						<div>
							<img u="image" src2="../img/slide/innovate.png" />
						</div>
				</div>

				<!-- bullet navigator container -->
				<div u="navigator" class="jssorb05" style="bottom: 16px; right: 6px;">
						<!-- bullet navigator item prototype -->
						<div u="prototype"></div>
				</div>

				<!-- Arrow Left -->
				<span u="arrowleft" class="jssora11l" style="top: 123px; left: 8px;">
				</span>
				<!-- Arrow Right -->
				<span u="arrowright" class="jssora11r" style="top: 123px; right: 8px;">
				</span>
		</div>
		<!-- Jssor Slider End -->

		<!-- Begin about section -->
					<section id="about-section" class="page bg-style1">
		                <!-- Begin page header-->
		                <div class="page-header-wrapper">
		                    <div class="container">
		                        <div class="page-header text-center wow fadeInUp" data-wow-delay="0.3s">
		                            <h2>About Us</h2>
		                            <div class="devider"></div>
		                            <p class="subtitle">Click Information</p>
		                        </div>
		                    </div>
		                </div>
		                <!-- End page header-->

										<!-- Begin rotate box-1 -->
                <div class="rotate-box-1-wrapper">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <a href="/home/about#vision-section" class="rotate-box-1 square-icon wow zoomIn" data-wow-delay="0">
                                    <span class="rotate-box-icon"><i class="fa fa-globe"></i></span>
                                    <div class="rotate-box-info">
                                        <h4><strong>Group Vision</strong></h4>
                                        <p>Creates a new future space culture.</p>
                                    </div>
                                </a>
                            </div>
														<div class="col-md-4">
                                <a href="/home/about#history-section" class="rotate-box-1 square-icon wow zoomIn" data-wow-delay="0.2">
                                    <span class="rotate-box-icon"><i class="fa fa-history"></i></span>
                                    <div class="rotate-box-info">
                                        <h4><strong>Company History</strong></h4>
                                        <p>Since 2013's ~ 2016's in VINA</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="/home/about#rental-section" class="rotate-box-1 square-icon wow zoomIn" data-wow-delay="0.4s">
                                    <span class="rotate-box-icon"><i class="fa fa-shopping-cart"></i></span>
                                    <div class="rotate-box-info">
                                        <h4><strong>Rental System</strong></h4>
                                        <p>why we need to use rental products.</p>
                                    </div>
                                </a>
                            </div>
                        </div> <!-- /.row -->
                    </div> <!-- /.container -->
                </div>
                <!-- End rotate box-1 -->

		                <div class="extra-space-l"></div>

		                <!-- Begin page header
		                <div class="page-header-wrapper">
		                    <div class="container">
		                        <div class="page-header text-center wow fadeInUp" data-wow-delay="0.3s">
		                            <h4>Our Skills</h4>
		                        </div>
		                    </div>
		                </div>

		                <!-- End page header

		                <!-- Begin Our Skills
		                <div class="our-skills">
		                	<div class="container">
		                    	<div class="row">

		                        	<div class="col-sm-6">
		                                <div class="skill-bar wow slideInLeft" data-wow-delay="0.2s">
		                                    <div class="progress-lebel">
		                                        <h6>Photoshop & Illustrator</h6>
		                                    </div>
		                                    <div class="progress">
		                                      <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
		                                      </div>
		                                    </div>
		                                </div>
		                            </div>

		                            <div class="col-sm-6">
		                                <div class="skill-bar wow slideInRight" data-wow-delay="0.2s">
		                                    <div class="progress-lebel">
		                                        <h6>WordPress</h6>
		                                    </div>
		                                    <div class="progress">
		                                      <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%;">
		                                      </div>
		                                    </div>
		                                </div>
		                            </div>

		                            <div class="col-sm-6">
		                                <div class="skill-bar wow slideInLeft" data-wow-delay="0.4s">
		                                    <div class="progress-lebel">
		                                        <h6>Html & Css</h6>
		                                    </div>
		                                    <div class="progress">
		                                      <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%;">
		                                      </div>
		                                    </div>
		                                </div>
		                            </div>

		                            <div class="col-sm-6">
		                                <div class="skill-bar wow slideInRight" data-wow-delay="0.4s">
		                                    <div class="progress-lebel">
		                                        <h6>Javascript</h6>
		                                    </div>
		                                    <div class="progress">
		                                      <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
		                                      </div>
		                                    </div>
		                                </div>
		                            </div>

		                        </div> <!-- /.row
		                    </div> <!-- /.container
		                </div>
		                <!-- End Our Skill -->
		          </section>
		          <!-- End about section -->

							<!-- Begin Services -->
												<section id="services-section" class="page text-center">
														<!-- Begin page header-->
														<div class="page-header-wrapper">
																<div class="container">
																		<div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
																				<h2>Services</h2>
																				<div class="devider"></div>
																				<p class="subtitle">We are providing Rental & Repair & Consulting Services</p>
																		</div>
																</div>
														</div>
														<!-- End page header-->

														<!-- Begin roatet box-2 -->
														<div class="rotate-box-2-wrapper">
																<div class="container">
																		<div class="row">
																				<div class="col-md-4">
																						<a class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0">
																								<span class="rotate-box-icon"><i class="fa fa-shopping-cart"></i></span>
																								<div class="rotate-box-info">
																										<h4><strong>Rental</strong></h4>
																										<p>Providing equipments at the construction site, office equipments rental and car rental service.</p>
																								</div>
																						</a>
																				</div>

																				<div class="col-md-4">
																						<a class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0.2s">
																								<span class="rotate-box-icon"><i class="fa fa-wrench"></i></span>
																								<div class="rotate-box-info">
																										<h4><strong>Repair</strong></h4>
																										<p>Providing preventive maintenance & repair services through a professional engineer.</p>
																								</div>
																						</a>
																				</div>

																				<div class="col-md-4">
																						<a class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0.4s">
																								<span class="rotate-box-icon"><i class="fa fa-comments"></i></span>
																								<div class="rotate-box-info">
																										<h4><strong>Counsulting</strong></h4>
																										<p>Consulting your company's asset management by korean, english, vietnamese.</p>
																								</div>
																						</a>
																				</div>
																		</div> <!-- /.row -->
																</div> <!-- /.container -->
														</div>
														<!-- End rotate-box-2 -->
												</section>
												<!-- End Services -->


            <!-- Begin Portfolio -->
            <section id="product-section" class="page bg-style1">
            	<div class="container">
                    <div class="row">
                            <div class="portfolio">
                                <!-- Begin page header-->
                                <div class="page-header-wrapper">
                                    <div class="container">
                                        <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                                            <h2>Rental Products</h2>
                                            <div class="devider"></div>
                                            <p class="subtitle">Rent to easily & Reasonably</p>
                                        </div>
                                    </div>
                                </div>
																<div class="container">
																	<!--
																    <div class="well well-sm">
																        <strong>Category Title</strong>
																        <div class="btn-group hidden-sm-down">
																            <a href="#" id="list" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-th-list">
																            </span>List</a> <a href="#" id="grid" class="btn btn-default btn-sm"><span
																                class="glyphicon glyphicon-th"></span>Grid</a>
																        </div>
																    </div>
																	-->
																    <div id="products" class="row list-group">
																        <div class="item col-md-4">
																            <div class="thumbnail">
																                <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
																              <div class="caption">
																									<h5>CAR</h5><a class="btn btn-block btn-dark" href="/home/product#car-section"><h6>View More</h6></a>
																              </div>

																            </div>
																        </div>
																        <div class="item col-md-4">
																            <div class="thumbnail">
																                <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
																								<div class="caption">
																									<h5>PC</h5><a class="btn btn-block btn-dark" href="/home/product#pc-section"><h6>View More</h6></a>
																	              </div>
																            </div>
																        </div>
																        <div class="item col-md-4">
																            <div class="thumbnail">
																                <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
																								<div class="caption">
																									 <h5>PHOTOCOPIER</h5><a class="btn btn-block btn-dark" href="/home/product#copy-section"><h6>View More</h6></a>
																	              </div>
																            </div>
																        </div>
																        <div class="item col-md-4">
																            <div class="thumbnail">
																                <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
																								<div class="caption">
																								 <h5>MAN-LIFT</h5><a class="btn btn-block btn-dark" href="/home/product#manlift-section"><h6>View More</h6></a>
																	              </div>
																            </div>
																        </div>
																        <div class="item col-md-4">
																            <div class="thumbnail">
																                <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
																								<div class="caption">
																									 <h5>FORK-LIFT</h5><a class="btn btn-block btn-dark" href="/home/product#forklift-section"><h6>View More</h6></a>
																	              </div>
																            </div>
																        </div>
																        <div class="item col-md-4">
																            <div class="thumbnail">
																                <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
																								<div class="caption">
																									 <h5>TMI</h5><a class="btn btn-block btn-dark" href="/home/product#tmi-section"><h6>View More</h6></a>
																	              </div>
																            </div>
																        </div>
																    </div>
																</div>

														</div>
											</div>
  								</div><!-- id product -->
  						</section>
        <!-- End portfolio -->
						<!-- product section
<script>
$(document).ready(function() {
    $('#list').click(function(event){event.preventDefault();$('#products .item').addClass('list-group-item');});
    $('#grid').click(function(event){event.preventDefault();$('#products .item').removeClass('list-group-item');$('#products .item').addClass('grid-group-item');});
});
</script>
-->



<!--
            <!-- Begin team
            <section id="team-section" class="page">
                <!-- Begin page header
                <div class="page-header-wrapper">
                    <div class="container">
                        <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                            <h2>Our Team</h2>
                            <div class="devider"></div>
                            <p class="subtitle">Meat our experts</p>
                        </div>
                    </div>
                </div>
                <!-- End page header
                <div class="container">
                    <div class="row">
                        <div class="team-items">
                            <div class="col-md-2 col-xs-2">
                                <div class="team-container wow bounceIn" data-wow-delay="0.2s">
                                    <div class="team-item">
                                        <div class="team-triangle">
                                            <div class="content">
                                                <img src="img/team/1.jpg" alt="title"/>
                                                <div class="team-hover text-center">
                                                    <i class="fa fa-male"></i>
                                                    <p>John Doe</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 col-xs-2">
                                <div class="team-container wow bounceIn" data-wow-delay="0.3s">
                                    <div class="team-item">
                                        <div class="team-triangle">
                                            <div class="content">
                                                <img src="img/team/1.jpg" alt="title"/>
                                                <div class="team-hover text-center">
                                                    <i class="fa fa-female"></i>
                                                    <p>Jane Doe</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 col-xs-2">
                                <div class="team-container wow bounceIn" data-wow-delay="0.4s">
                                    <div class="team-item">
                                        <div class="team-triangle">
                                            <div class="content">
                                                <img src="img/team/1.jpg" alt="title"/>
                                                <div class="team-hover text-center">
                                                    <i class="fa fa-male"></i>
                                                    <p>John Doe</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2 col-xs-2">
                                <div class="team-container wow bounceIn" data-wow-delay="0.5s">
                                    <div class="team-item">
                                        <div class="team-triangle">
                                            <div class="content">
                                                <img src="img/team/1.jpg" alt="title"/>
                                                <div class="team-hover text-center">
                                                    <i class="fa fa-male"></i>
                                                    <p>John Doe</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 col-xs-2">
                                <div class="team-container wow bounceIn" data-wow-delay="0.6s">
                                    <div class="team-item">
                                        <div class="team-triangle">
                                            <div class="content">
                                                <img src="img/team/1.jpg" alt="title"/>
                                                <div class="team-hover text-center">
                                                    <i class="fa fa-male"></i>
                                                    <p>John Doe</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 col-xs-2">
                                <div class="team-container wow bounceIn" data-wow-delay="0.7s">
                                    <div class="team-item">
                                        <div class="team-triangle">
                                            <div class="content">
                                                <img src="img/team/1.jpg" alt="title"/>
                                                <div class="team-hover text-center">
                                                    <i class="fa fa-male"></i>
                                                    <p>John Doe</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 col-xs-2">
                                <div class="team-container wow bounceIn" data-wow-delay="0.8s">
                                    <div class="team-item">
                                        <div class="team-triangle">
                                            <div class="content">
                                                <img src="img/team/1.jpg" alt="title"/>
                                                <div class="team-hover text-center">
                                                    <i class="fa fa-female"></i>
                                                    <p>Jane Doe</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>

            </section>
            <!-- End team-->


            <!-- Begin partners -->
            <section id="partners-section">
                <!-- Begin page header-->
                <div class="page-header-wrapper">
                    <div class="container">
                        <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                            <h2>Our Clients</h2>
                            <div class="devider"></div>
                            <p class="subtitle">IS_KOREARENTAL_VINA CLIENTS</p>
                        </div>
												<!-- Begin counter up -->
									<!-- style="background-image: url(img/counter-bg.jpg);" -->
										<div id="counter-up-trigger" class="counter-up parallax">
																<!-- End page header-->
											<div class="container" align="center">

												<div class="row">

													<div class="fact text-center col-md-6">
														<div class="fact-inner">
															<i class="fa fa-users fa-2x"></i>
															<div class="extra-space-l"></div>
															<span class="counter">50</span>
															<p class="lead">Clients Worked With IS_KOREARENTAL_VINA</p>
														</div>
													</div>

													<div class="fact text-center col-md-6">
														<div class="fact-inner">
															<i class="fa fa-leaf fa-2x"></i>
																<div class="extra-space-l"></div>
															<span class="counter">800</span>
															<p class="lead">Completed Projects</p>
														</div>
													</div>

												</div> <!-- /.row -->
											</div> <!-- /.container -->
									</div>

								</div>
								<div align="center">
									<ul id="menu">
										<li><a><span>SAMSUNG</span></a></li>
										<li><a><span>LG</span></a></li>
										<li><a><span>KOREA</span></a></li>
										<li><a><span>HELLO</span></a></li>
										<li><a><span>HANOI</span></a></li>
									</ul>
									<div class="extra-space-l"></div>
									<ul id="menu">
										<li><a><span>SAMSUNG</span></a></li>
										<li><a><span>LG</span></a></li>
										<li><a><span>KOREA</span></a></li>
										<li><a><span>HELLO</span></a></li>
										<li><a><span>HANOI</span></a></li>
									</ul>
									<div class="extra-space-l"></div>
									<ul id="menu">
										<li><a><span>SAMSUNG</span></a></li>
										<li><a><span>LG</span></a></li>
										<li><a><span>KOREA</span></a></li>
										<li><a><span>HELLO</span></a></li>
										<li><a><span>HANOI</span></a></li>
									</ul>
							</div>

							<div class="extra-space-l"></div>
                <!-- End page header-->
                <div class="container">
                    <div id="owl-partners" class="owl-carousel">
                        <img src="img/partners/1.png" alt="img">
                        <img src="img/partners/2.png" alt="img">
                        <img src="img/partners/3.png" alt="img">
                        <img src="img/partners/4.png" alt="img">
                        <img src="img/partners/5.png" alt="img">
                        <img src="img/partners/6.png" alt="img">
                        <img src="img/partners/7.png" alt="img">
                    </div>
                </div>
								<!-- End page header-->
								<div class="container">
										<div id="owl-partners" class="owl-carousel">
												<img src="img/partners/1.png" alt="img">
												<img src="img/partners/2.png" alt="img">
												<img src="img/partners/3.png" alt="img">
												<img src="img/partners/4.png" alt="img">
												<img src="img/partners/5.png" alt="img">
												<img src="img/partners/6.png" alt="img">
												<img src="img/partners/7.png" alt="img">
										</div>
								</div>

					<!-- End counter up -->
            </section>
            <!-- End partners -->




            <!-- Begin prices section -->
			<section id="recruit-section" class="page">

                <!-- Begin page header-->
                <div class="page-header-wrapper">
                    <div class="container">
                        <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                            <h2>Recruitment</h2>
                            <div class="devider"></div>
                            <p class="subtitle">Apply To IS_KOREARENTAL_VINA</p>
                        </div>
                    </div>
                </div>
                <!-- End page header-->

				<div class="extra-space-l"></div>


				<div class="container">

					<div class="panel panel-default panel-fade">

						<div class="panel-heading">

							<span class="panel-title">

								<div class="pull-left">

								<ul class="nav nav-tabs">
									<li class="active"><a href="#business" data-toggle="tab"><i class="fa fa-user"></i> Business Management</a></li>
									<li><a href="#sales" data-toggle="tab"><i class="fa fa-user"></i> Sales</a></li>
									<li><a href="#copy" data-toggle="tab"><i class="fa fa-user"></i> PhotoCopier Engineer</a></li>
									<li><a href="#man" data-toggle="tab"><i class="fa fa-user"></i> Man-lift Engineer</a></li>
									<li><a href="#driver" data-toggle="tab"><i class="fa fa-user"></i> Driver</a></li>
								</ul>


								</div>

								<div class="clearfix"></div>

							</span>

						</div>

						<div class="panel-body">
							<div class="tab-content">

                <div class="tab-pane fade in active" id="business">

									<table class="table table-striped" style="table-layout:fixed;">
									<thead>
										<tr><th>Department</th><th>Qualification</th><th>Preference</th><th>Working Condition</th></tr>
									</thead>
									<tbody>
										<tr>
												<td><strong>HR</strong></td>
												<td>University Graduate / Major independent, <br> Using Office Programs</td>
												<td>HR Majors, <br> Related Work Experience</td>
												<td> Hanoi / Hochiminh Office,<br>
												    Working 5 days a week
												</td>
										</tr>
										<tr>
											 <td><strong>ACCOUNTING</strong></td>
											 <td>University Graduate / Major independent, <br> Using Office Programs</td>
											 <td>Accounting / Finance Majors, <br> Related Work Experience</td>
											 <td>Hanoi / Hochiminh Office,<br>
												 Working 5 days a week
											 </td>
									 </tr>
								 </tbody>
							 </table>


								</div>


							<div class="tab-pane fade" id="sales">

									<table class="table table-striped" style="table-layout:fixed;">
									<thead>
										<tr><th>Department</th><th>Qualification</th><th>Preference</th><th>Working Condition</th></tr>
									</thead>
									<tbody>
										<tr>
																							 <td><strong>PhotoCopier / PC  Sales</strong></td>
																							 <td>University Graduate / Major independent, <br> Using Office Programs</td>
																							 <td>Computer Technology Majors, <br> Related Work Experience</td>
																							 <td>Hanoi / Hochiminh Office,
																								 <br>Working 5 days a week
																							 </td>
																					 </tr>
																					 <tr>
				 																			<td><strong>Car Sales</strong></td>
				 																			<td>University Graduate / Major independent, <br> Using Office Programs</td>
				 																			<td>Automobile Majors, <br> Related Work Experience</td>
				 																			<td>Hanoi / Hochiminh Office,
				 																				<br>Working 5 days a week
				 																			</td>
				 																	</tr>
																					<tr>
																						 <td><strong>Man-Lift Sales</strong></td>
																						 <td>University Graduate / Major independent, <br> Using Office Programs</td>
																						 <td>Related Work Experience</td>
																						 <td>Hanoi / Hochiminh Office,
																							 <br>Working 5 days a week
																						 </td>
																				 </tr>
									</tbody>
								</table>

								</div>

								<div class="tab-pane fade" id="copy">

										<table class="table table-striped" style="table-layout:fixed;">
										<thead>
											<tr><th>Department</th><th>Qualification</th><th>Preference</th><th>Working Condition</th></tr>
										</thead>
										<tbody>
																						<tr>
																								<td><strong>PhotoCopier Engineer</strong></td>
																								<td>University Graduate / Major independent</td>
																								<td>Manufacturers Work Experience, <br> Related Work Experience</td>
																								<td>Hanoi / Hochiminh Office,
																									<br>Working 6 days a week
																								</td>
																						</tr>
										</tbody>
									  </table>

									</div>
									<div class="tab-pane fade" id="man">



											<table class="table table-striped" style="table-layout:fixed;">
												<thead>
													<tr><th>Department</th><th>Qualification</th><th>Preference</th><th>Working Condition</th></tr>
												</thead>
												<tbody>
												<tr>
														<td><strong>Man-Lift Engineer</strong></td>
														<td>High School Graduate / Major independent</td>
														<td>Maintenance License Holders, <br> Related Work Experience</td>
														<td>Outdoor Parking lot,
															<br>Working 6 days a week
														</td>
												</tr>
											</tbody>
										</table>


										</div>
										<div class="tab-pane fade" id="driver">


												<table class="table table-striped" style="table-layout:fixed;">
													<thead>
														<tr><th>Department</th><th>Qualification</th><th>Preference</th><th>Working Condition</th></tr>
													</thead>
													<tbody>
													<tr>
																										 <td><strong>Driver</strong></td>
																										 <td>More than 2 years driving experience, <br>25 years over</td>
																										 <td>Level D Licensing Holdings, <br> Driving Experience 5 years over, <br> Rental Car Driver Work Experience</td>
																										 <td>Depending on the customer's request,
																											 <br>Working 6 days a week and Providing OT
																										 </td>
																								 </tr>
												</tbody>
											</table>


											</div>

							</div>

						</div>

					</div>

			</div>

				<!-- End prices -->
				<div class="extra-space-l"></div>
			</section>

			<!-- End prices section -->
			<!-- Begin testimonials
			<section id="testimonial-section">
					<div id="testimonial-trigger" class="testimonial text-white parallax" data-stellar-background-ratio="0.5" style="background-image: url(img/map-bg.jpg);">
							<!--<div class="cover"></div>
							<!-- Begin page header
							<div class="page-header-wrapper">
									<div class="container">
											<div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
													<h2>Our Location</h2>
													<div class="devider"></div>
													<p class="subtitle">Hanoi Head Office & Hochiminh Branch</p>
											</div>
									</div>
							</div>
						 End page header
							<div class="container">
									<div class="testimonial-inner center-block text-center">
											<div id="owl-testimonial" class="owl-carousel">
													<div class="item">
															<blockquote>
																<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.397121886777!2d105.78198556501896!3d21.01679043600487!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab54e29650c5%3A0x453b5c2a98dc5e98!2z6rK964KoIO2VmOuFuOydtCDrnpzrk5zrp4jtgawg7YOA7JuMIEtlYW5nbmFtLCBN4buFIFRyw6wsIFThu6sgTGnDqm0sIEjDoCBO4buZaSwg67Kg7Yq464Ko!5e0!3m2!1sko!2skr!4v1478504326355"
	width="1500" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
															</blockquote>
													</div>
													<div class="item">
															<blockquote>
																<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.3806698532544!2d106.70350971489194!3d10.782128692317649!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f494ab1a7ab%3A0xca5d3f36e8edd13!2zQ0ogQnVpbGRpbmcsIEzDqiBUaMOhbmggVMO0biwgQuG6v24gTmdow6ksIFF14bqtbiAxLCBI4buTIENow60gTWluaCwg67Kg7Yq464Ko!5e0!3m2!1sko!2skr!4v1478504391172"
		width="1500" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
															</blockquote>
													</div>
											</div>
									</div>
							</div>
					</div>
			</section>
			<!-- End testimonials -->




            <!-- Begin social section
			<section id="social-section" class="page text-white parallax" data-stellar-background-ratio="0.5" style="background-image: url(img/testimonial4-bg.jpg);">
					<div class="cover"></div>
                 <!-- Begin page header
                <div class="page-header-wrapper">
                    <div class="container">
                        <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                            <h2>Join Us</h2>
                            <div class="devider"></div>
                            <p class="subtitle">Follow us on social networks</p>
                        </div>
                    </div>
                </div>
                <!-- End page header

                <div class="container">
                	<ul class="social-list">
                		<li> <a href="https://www.facebook.com/iskorearentalvina" class="rotate-box-1 square-icon text-center wow zoomIn" data-wow-delay="0.3s"><span class="rotate-box-icon"><i class="fa fa-facebook"></i></span></a></li>
                		<li> <a href="https://www.facebook.com/iskorearentalvina" class="rotate-box-1 square-icon text-center wow zoomIn" data-wow-delay="0.4s"><span class="rotate-box-icon"><i class="fa fa-twitter"></i></span></a></li>
                		<li> <a href="https://www.facebook.com/iskorearentalvina" class="rotate-box-1 square-icon text-center wow zoomIn" data-wow-delay="0.5s"><span class="rotate-box-icon"><i class="fa fa-google-plus"></i></span></a></li>
                		<li> <a href="https://www.facebook.com/iskorearentalvina" class="rotate-box-1 square-icon text-center wow zoomIn" data-wow-delay="0.6s"><span class="rotate-box-icon"><i class="fa fa-pinterest-p"></i></span></a></li>
                		<li> <a href="https://www.facebook.com/iskorearentalvina" class="rotate-box-1 square-icon text-center wow zoomIn" data-wow-delay="0.7s"><span class="rotate-box-icon"><i class="fa fa-tumblr"></i></span></a></li>
                		<li> <a href="https://www.facebook.com/iskorearentalvina" class="rotate-box-1 square-icon text-center wow zoomIn" data-wow-delay="0.8s"><span class="rotate-box-icon"><i class="fa fa-dribbble"></i></span></a></li>
                    </ul>
                </div>

      </section>
		-->
            <!-- End social section -->




            <!-- Begin contact section --> <!-- style="background-image: url(img/map-bg.jpg);"-->
			<section id="contact-section" class="page text-white parallax" data-stellar-background-ratio="0.5">
            <div class="cover"></div>

                 <!-- Begin page header-->
                <div class="page-header-wrapper">
                    <div class="container">
                        <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                            <h2>Contacts</h2>
                            <div class="devider"></div>
                            <p class="subtitle">All to contact us</p>
                        </div>
                    </div>
                </div>
                <!-- End page header-->

                <div class="contact wow bounceInRight" data-wow-delay="0.4s">
                    <div class="container">
                    	<div class="row col-md-12">

                            <div class="col-md-6">
                                <div class="contact-info">
                                    <h4>Hanoi Headquarter Address</h4>
                                    <ul class="contact-address">
			                            <li><i class="fa fa-map-marker fa-lg"></i>&nbsp; Head Office : <br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 14th Floor. Keangnam Hanoi Landmark Tower, plot E6,<br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; CauGiay new urban area, Me tri, Nam Tu Liem, Hanoi.</li>
																	<li><i class="fa fa-phone"></i>&nbsp;KOR : 070-4694-0619,&nbsp;&nbsp;<br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;VN : +84-(0)4-6282-3031</li>
																	<li><i class="fa fa-mobile fa-lg"></i>&nbsp; Tel. : +84-(0)12-8233-1131 &nbsp;&nbsp;or&nbsp;&nbsp; +84-(0)96-935-0613</li>
			                            <li><i class="fa fa-envelope"></i>&nbsp;KOR : jtkim@korearental.co.kr &nbsp;&nbsp;or&nbsp;&nbsp; jyhwang@korearental.co.kr<br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;VN : jyhwang@korearental.co.kr</li>

			                        </ul>
                                </div>
                            </div>


														<div class="col-md-6">
                                <div class="contact-info">
                                    <h4>Hochiminh Branch Address</h4>
                                    <ul class="contact-address">
			                            <li><i class="fa fa-map-marker fa-lg"></i>&nbsp;HCM Branch : <br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 6F, CJ Building 2Bis-4-6 Le Thanh Ton, Ben Nghe Ward, Dist 1</li>
			                            <li><i class="fa fa-phone"></i>&nbsp;KOR : 070-4694-1223,&nbsp;&nbsp;1481<br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;VN : +84-(0)8-3521-0051~3</li>
																	<li><i class="fa fa-mobile fa-lg"></i>&nbsp; Tel. : +84-(0)12-6774-0633 &nbsp;&nbsp;or&nbsp;&nbsp; +84-(0)12-0212-0844</li>
			                            <li><i class="fa fa-envelope"></i>&nbsp;KOR : shjang@korearental.co.krytjung@ &nbsp;&nbsp;or&nbsp;&nbsp; ytjung@korearental.co.kr<br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;VN : shjang@korearental.co.kr</li>
																	</li>

			                        </ul>
                                </div>
                            </div>
												<!--
                        	<div class="col-sm-6">
                                <div class="contact-form">
                                	<h4>Write to us</h4>
                                    <form role="form" action="/home/write" method="post">
                                        <div class="form-group">
                                            <input type="text" class="form-control input-lg" name="name" placeholder="Company Name" required>
                                        </div>
                                        <div class="form-group">
                                            <input type="email" class="form-control input-lg" name="your email" placeholder="E-mail" required>
                                        </div>
                                        <div class="form-group">
                                            <textarea class="form-control input-lg" rows="5" name="content" placeholder="Message" required></textarea>
                                        </div>
                                        <button type="submit" class="btn wow bounceInRight" data-wow-delay="0.8s">Send</button>
                                    </form>
                                </div>
                            </div>
													-->

                        </div> <!-- /.row -->
                    </div> <!-- /.container -->

										<div class="extra-space-l"></div>

										<div class="container">
                    	<div class="row">
                            <div class="col-md-6">

                                    <h4>Hanoi Head Office Location</h4>
																		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.397121886777!2d105.78198556501896!3d21.01679043600487!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab54e29650c5%3A0x453b5c2a98dc5e98!2z6rK964KoIO2VmOuFuOydtCDrnpzrk5zrp4jtgawg7YOA7JuMIEtlYW5nbmFtLCBN4buFIFRyw6wsIFThu6sgTGnDqm0sIEjDoCBO4buZaSwg67Kg7Yq464Ko!5e0!3m2!1sko!2skr!4v1478504326355"
			 width="450" height="450" frameborder="0" style="border:2px;" allowfullscreen></iframe>

                            </div>

                          	<div class="col-md-6">

                                	<h4>HCM Branch Office Location</h4>
																	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.3806698532544!2d106.70350971489194!3d10.782128692317649!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f494ab1a7ab%3A0xca5d3f36e8edd13!2zQ0ogQnVpbGRpbmcsIEzDqiBUaMOhbmggVMO0biwgQuG6v24gTmdow6ksIFF14bqtbiAxLCBI4buTIENow60gTWluaCwg67Kg7Yq464Ko!5e0!3m2!1sko!2skr!4v1478504391172"
			 width="450" height="450" frameborder="2" style="border:2px;" allowfullscreen></iframe>

                            </div>

                        </div> <!-- /.row -->
                    </div> <!-- /.container -->
                </div>
            </section>
            <!-- End contact section -->
						<footer id="footer" class="clearfix">
						      <div id="footer-widgets">

						        <div class="container">

						        <div id="footer-wrapper">

						          <div class="row">
												<div class="col-sm-6 col-md-4">
	 						              		<div id="recent-posts-3" class="widget widgetFooter widget_recent_entries">
	 						                    <h4 class="widgettitle">SiteMap :</h4>

	 																<ul class="bottom_ul">

	 																        <li><a class="page-scroll" href="#about-section">About</a></li>
	 																        <li><a class="page-scroll" href="#product-section">Rental Products</a></li>
	 																        <li><a class="page-scroll" href="#recruit-section">Recruitment</a></li>
	 																        <li><a class="page-scroll" href="#contact-section">Contact</a></li>
	 															  </ul>
	 															</div>
																<div id="recent-posts-3" class="widget widgetFooter widget_recent_entries">

																	<ul class="bottom_ul">

																					<li><a href="/home/about#vision-section">Group Vision</a></li>
																					<li><a href="/home/about#history-section">Company History</a></li>
																					<li><a href="/home/about#rental-section">Rental System</a></li>
																	</ul>
																</div>
																<div id="recent-posts-3" class="widget widgetFooter widget_recent_entries">

																	<ul class="bottom_ul">

																					<li><a href="/home/product#car-section">Car</a></li>
																					<li><a href="/home/product#pc-section">PC</a></li>
																					<li><a href="/home/product#copy-section">PhotoCopier</a></li>
																					<li><a href="/home/product#manlift-section">Man-Lift</a></li>
																					<li><a href="/home/product#manlift-section">Fork-Lift</a></li>
        																	<li><a href="/home/product#tmi-section">TMI</a></li>
																	</ul>
																</div>
	 							 			  </div> <!-- end widget1 -->

												<div class="col-md-4" style="margin-bottom:20px;">
						              <div id="meta-3" class="widget widgetFooter widget_meta">
						              <h4 class="widgettitle">Family Site :</h4>
						              <ul>
						    		  <li><a href="#" target="_blank"><i class="fa fa-arrow-circle-right"></i> KOREA RENTAL KOREA</a></li>
									    <li><a href="#" target="_blank"><i class="fa fa-arrow-circle-right"></i> KOREA RENTAL CHINA</a></li>
									    <li><a href="#" target="_blank"><i class="fa fa-arrow-circle-right"></i> IS DONGSEO</a></li>
											<li><a href="#" target="_blank"><i class="fa fa-arrow-circle-right"></i> INUS</a></li>
						             </ul>
											 	</div>
					             </div> <!-- end widget1 -->
										<div class="col-md-4">
											<div id="meta-3" class="widget widgetFooter widget_meta">
											<h4 class="widgettitle">Join Us :</h4>

												 <li><a href=""><i class="fa fa-facebook-square fa-lg" aria-hidden="true"></i> &nbsp;&nbsp;&nbsp; IS_KOREARENTAL_VINA</a></li><br><br>
												 <div class="center"><button data-toggle="modal" data-target="#email1" class="btn btn-yellow btn-sm">Send Message</button></div>


										</div>
									 </div> <!-- end widget1 -->



						 </div><!-- end row -->

						          </div> <!-- end #footer-wrapper -->

						        </div> <!-- end .container -->

						        </div> <!-- end #footer-widgets -->


						      <div id="sub-floor">
						        <div class="container">
						          <div class="row">
						            <div class="col-md-8 copyright">
						              2016 Copy right IS_KOREARENTAL_VINA Corp.
						            </div>

						          </div> <!-- end .row -->
						        </div>
						      </div>

						    </footer>
            <!-- End footer -->

            <a href="#" class="scrolltotop"><i class="fa fa-arrow-up"></i></a> <!-- Scroll to top button -->

        </div><!-- body ends -->
				<div id="email1" class="modal fade" role="dialog" style="margin-top:50px;">
					<div class="modal-dialog">
						<!-- Modal content-->
						<div class="modal-content">

							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal"></button>
								<h4 class="modal-title">Write to us</h4>
							</div>
							<div class="modal-body">
								<div class="contact-form">
										<form role="form" action="/home/write" method="post">
												<div class="form-group">
														<input type="text" class="form-control input-lg" name="name" placeholder="Your Company Name" required>
												</div>
												<div class="form-group">
														<input type="email" class="form-control input-lg" name="email" placeholder="Your E-mail" required>
												</div>
												<div class="form-group">
														<textarea class="form-control input-lg" rows="5" name="content" placeholder="Message" required></textarea>
												</div>
												<div align="center">
												 <button type="submit" class="btn btn-lg" data-wow-delay="0.8s">Send</button>
											  </div>
										</form>
								</div>

							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							</div>

							</div>

						</div>

					</div>
			</div><!-- body -->
    </body>


</html>
