<!doctype html>
<html lang="en-US">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Unika - Responsive One Page HTML5 Template</title>
		<meta name="description" content="Unika - Responsive One Page HTML5 Template">
		<meta name="keywords" content="HTML5, Bootsrtrap, One Page, Responsive, Template, Portfolio" />
		<meta name="author" content="imransdesign.com">

		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Google Fonts  -->
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,700,500' rel='stylesheet' type='text/css'> <!-- Body font -->
		<link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'> <!-- Navbar font -->
		<!-- Libs and Plugins CSS -->
		<link rel="stylesheet" href="/assets/bootstrap.min.css">
		<link rel="stylesheet" href="/assets/animate.min.css">
		<link rel="stylesheet" href="/assets/font-awesome.min.css"> <!-- Font Icons -->
		<link rel="stylesheet" href="/assets/owl.carousel.css">
		<link rel="stylesheet" href="/assets/owl.theme.css">

		<!-- Theme CSS -->
    <link rel="stylesheet" href="/assets/reset.css">
		<link rel="stylesheet" href="/assets/style.css">
		<link rel="stylesheet" href="/assets/mobile.css">

		<link rel="stylesheet" href="/assets/cool-gray.css">

	</head>

    <body data-spy="scroll" data-target="#main-navbar">
      <!--  <div class="page-loader"></div>  <!-- Display loading image while page loads -->
    	<div class="body">

				<header id="header" class="header-main">

						<!-- Begin Navbar-->
						<nav id="main-navbar" class="navbar navbar-default navbar-fixed-top" role="navigation"> <!-- Classes: navbar-default, navbar-inverse, navbar-fixed-top, navbar-fixed-bottom, navbar-transparent. Note: If you use non-transparent navbar, set "height: 98px;" to #header-->
							<div class="container">
								<!-- Brand and toggle get grouped for better mobile display-->
								<div class="navbar-header">
									<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
										<span class="sr-only">Toggle navigation</span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
									</button>
									<a class="navbar-brand page-scroll">IS_KOREARENTAL_VINA</a>
								</div>

								<!-- Collect the nav links, forms, and other content for toggling-->
								<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

										<ul class="nav navbar-nav navbar-right">
												<li><a class="page-scroll" href="header">Home</a></li>
												<li><a class="page-scroll" href="#about-section">About</a></li>
												<li><a class="page-scroll" href="#product-section">Rental Products</a></li>
												<li><a class="page-scroll" href="#recruit-section">Recruitment</a></li>
												<!--<li><a class="page-scroll" href="#team-section">Team</a></li>-->
												<!--<li><a class="page-scroll" href="#prices-section">Prices</a></li>-->
												<li><a class="page-scroll" href="#contact-section">Contact</a></li>
										</ul>
								</div><!-- /.navbar-collapse-->

							</div>
						</nav>
						<!-- End Navbar -->
				</header>
				<!-- ========= END HEADER =========-->


        	<!-- Begin text carousel intro section --><!-- style="background-image: url(img/slider-bg.jpg);"-->
					<div id="slider1_container" style="visibility: hidden; position: relative; margin: 0 auto; width: 1140px; height: 442px; overflow: hidden;">

				<!-- Loading Screen -->
				<div u="loading" style="position: absolute; top: 0px; left: 0px;">
						<div style="filter: alpha(opacity=70); opacity:0.7; position: absolute; display: block;

						background-color: #000; top: 0px; left: 0px;width: 100%; height:100%;">
						</div>
						<div style="position: absolute; display: block; background: url(../img/loading.gif) no-repeat center center;

						top: 0px; left: 0px;width: 100%;height:100%;">
						</div>
				</div>

				<!-- Slides Container -->
				<div u="slides" style="position: absolute; left: 0px; top: 0px; width: 1140px; height: 442px;
				overflow: hidden;">
						<div>
								<img u="image" src2="../img/slide/innovate.png" />
						</div>
						<div>
								<img u="image" src2="../img/slide/create.png" />
						</div>
						<div>
							<img u="image" src2="../img/slide/challenge.png" />
						</div>
				</div>

				<!-- bullet navigator container -->
				<div u="navigator" class="jssorb05" style="bottom: 16px; right: 6px;">
						<!-- bullet navigator item prototype -->
						<div u="prototype"></div>
				</div>

				<!-- Arrow Left -->
				<span u="arrowleft" class="jssora11l" style="top: 123px; left: 8px;">
				</span>
				<!-- Arrow Right -->
				<span u="arrowright" class="jssora11r" style="top: 123px; right: 8px;">
				</span>
		</div>
		<!-- Jssor Slider End -->





            <!-- Begin about section -->
			<section id="about-section" class="page bg-style1">
                <!-- Begin page header-->
                <div class="page-header-wrapper">
                    <div class="container">
                        <div class="page-header text-center wow fadeInUp" data-wow-delay="0.3s">
                            <h2>About</h2>
                            <div class="devider"></div>
                            <p class="subtitle">simple information</p>
                        </div>
                    </div>
                </div>
                <!-- End page header-->

                <!-- Begin rotate box-1 -->
                <div class="rotate-box-1-wrapper">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 col-sm-6">
                                <a href="/home/about#about-section" class="rotate-box-1 square-icon wow zoomIn" data-wow-delay="0">
                                    <span class="rotate-box-icon"><i class="fa fa-globe"></i></span>
                                    <div class="rotate-box-info">
                                        <h4>Group Vision</h4>
                                        <p>Lorem ipsum dolor sit amet set, consectetur utes anet adipisicing elit, sed do eiusmod tempor incidist.</p>
                                    </div>
                                </a>
                            </div>

                            <div class="col-md-4 col-sm-6">
                                <a href="/home/about#history-section" class="rotate-box-1 square-icon wow zoomIn" data-wow-delay="0.2s">
                                    <span class="rotate-box-icon"><i class="fa fa-history"></i></span>
                                    <div class="rotate-box-info">
                                        <h4>History</h4>
                                        <p>Lorem ipsum dolor sit amet set, consectetur utes anet adipisicing elit, sed do eiusmod tempor incidist.</p>
                                    </div>
                                </a>
                            </div>

                            <div class="col-md-4 col-sm-6">
                                <a href="/home/about#rental-section" class="rotate-box-1 square-icon wow zoomIn" data-wow-delay="0.4s">
                                    <span class="rotate-box-icon"><i class="fa fa-shopping-cart"></i></span>
                                    <div class="rotate-box-info">
                                        <h4>Rental System</h4>
                                        <p>Lorem ipsum dolor sit amet set, consectetur utes anet adipisicing elit, sed do eiusmod tempor incidist.</p>
                                    </div>
                                </a>
                            </div>
                        </div> <!-- /.row -->
                    </div> <!-- /.container -->
                </div>
                <!-- End rotate box-1 -->

                <div class="extra-space-l"></div>
								<!-- Begin cta
								<section id="cta-section">
									<div class="cta">
										<div class="container">
												<div class="row">

														<div class="col-md-9">
																<h1>More Information - About IS_KOREA</h1>
																	<p>Inspired by nature, follow technology, appreciate the classics. You can build modern & professional websites with Unika. The possibilities are just endless.</p>
															</div>

															<div class="col-md-3">
																<div class="cta-btn wow bounceInRight" data-wow-delay="0.4s">
															<a class="btn btn-default btn-lg" href="/home/about#about-section" role="button">Click Here</a>

																</div>
															</div>

													</div> <!-- /.row
											</div> <!-- /.container
									</div>
								</section>
								<!-- End cta -->

                <!-- Begin page header
                <div class="page-header-wrapper">
                    <div class="container">
                        <div class="page-header text-center wow fadeInUp" data-wow-delay="0.3s">
                            <h4>Our Skills</h4>
                        </div>
                    </div>
                </div>
                <!-- End page header

                <!-- Begin Our Skills
                <div class="our-skills">
                	<div class="container">
                    	<div class="row">

                        	<div class="col-sm-6">
                                <div class="skill-bar wow slideInLeft" data-wow-delay="0.2s">
                                    <div class="progress-lebel">
                                        <h6>Photoshop & Illustrator</h6>
                                    </div>
                                    <div class="progress">
                                      <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
                                      </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="skill-bar wow slideInRight" data-wow-delay="0.2s">
                                    <div class="progress-lebel">
                                        <h6>WordPress</h6>
                                    </div>
                                    <div class="progress">
                                      <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%;">
                                      </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="skill-bar wow slideInLeft" data-wow-delay="0.4s">
                                    <div class="progress-lebel">
                                        <h6>Html & Css</h6>
                                    </div>
                                    <div class="progress">
                                      <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%;">
                                      </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="skill-bar wow slideInRight" data-wow-delay="0.4s">
                                    <div class="progress-lebel">
                                        <h6>Javascript</h6>
                                    </div>
                                    <div class="progress">
                                      <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
                                      </div>
                                    </div>
                                </div>
                            </div>

                        </div> <!-- /.row
                    </div> <!-- /.container
                </div>
                <!-- End Our Skill
          </section>
          <!-- End about section -->

            <!-- Begin Services -->
            <section id="services-section" class="page text-center">
                <!-- Begin page header-->
                <div class="page-header-wrapper">
                    <div class="container">
                        <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                            <h2>Services</h2>
                            <div class="devider"></div>
                            <p class="subtitle">We are providing Rental & Repair & Counseling Services</p>
                        </div>
                    </div>
                </div>
                <!-- End page header-->

                <!-- Begin roatet box-2 -->
                <div class="rotate-box-2-wrapper">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 col-sm-6">
                                <a class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0">
                                    <span class="rotate-box-icon"><i class="fa fa-shopping-cart"></i></span>
                                    <div class="rotate-box-info">
                                        <h4>Rental Service</h4>
                                        <p>Providing the necessary Laptop, Multi-Copier and Car rental services</p>
                                    </div>
                                </a>
                            </div>

                            <div class="col-md-4 col-sm-6">
                                <a class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0.2s">
                                    <span class="rotate-box-icon"><i class="fa fa-wrench"></i></span>
                                    <div class="rotate-box-info">
                                        <h4>Repair Service</h4>
                                        <p>Providing preventive maintenance & repair services through a professional engineer</p>
                                    </div>
                                </a>
                            </div>

                            <div class="col-md-4 col-sm-6">
                                <a class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0.4s">
                                    <span class="rotate-box-icon"><i class="fa fa-comments"></i></span>
                                    <div class="rotate-box-info">
                                        <h4>Counseling Service</h4>
                                        <p>Counseliing by korean, english, vietnamese</p>
                                    </div>
                                </a>
                            </div>
                        </div> <!-- /.row -->
                    </div> <!-- /.container -->
                </div>
                <!-- End rotate-box-2 -->
            </section>
            <!-- End Services -->


            <!-- Begin Portfolio -->
            <section id="product-section" class="page bg-style1">
            	<div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="portfolio">
                                <!-- Begin page header-->
                                <div class="page-header-wrapper">
                                    <div class="container">
                                        <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                                            <h2>Rental Products</h2>
                                            <div class="devider"></div>
                                            <p class="subtitle">Rent to easily & Reasonably</p>
                                        </div>
                                    </div>
                                </div>
																<div id="container">
  <!-- tab panes -->
  <div id="prod_wrapper">
    <div id="panes">
      <div> <img src="img/pc/NT200B5C.jpg" alt="">
        <h5>Mauris elementum</h5>
        <p>Nulla hendrerit commodo tortor, vitae elementum magna convallis nec. Nam tempor nibh a purus aliquam et adipiscing elit gravida. Ut vitae nunc a libero volutpat gravida. Nullam egestas mi sit amet dui scelerisque eu laoreet nisi ultrices. Ut vitae nunc a libero volutpat gravida. Nam tempor nibh a purus aliquam. </p>
        <p style="text-align:right; margin-right: 16px"><a href="#" class="button">More Info</a> <a href="#" class="button">Buy Now</a></p>
      </div>
      <div> <img src="img/pc/NT200B5C.jpg" alt="">
        <h5>Nulla hendrerit</h5>
        <p>Nulla hendrerit commodo tortor, vitae elementum magna convallis nec. Nam tempor nibh a purus aliquam et adipiscing elit gravida. Ut vitae nunc a libero volutpat gravida. Nullam egestas mi sit amet dui scelerisque eu laoreet nisi ultrices. Ut vitae nunc a libero volutpat gravida. Nam tempor nibh a purus aliquam. </p>
        <p style="text-align:right; margin-right: 16px"><a href="#" class="button">More Info</a> <a href="#" class="button">Buy Now</a></p>
      </div>
      <div> <img src="img/pc/NT200B5C.jpg" alt="">
        <h5>Mauris elementum</h5>
        <p>Nulla hendrerit commodo tortor, vitae elementum magna convallis nec. Nam tempor nibh a purus aliquam et adipiscing elit gravida. Ut vitae nunc a libero volutpat gravida. Nullam egestas mi sit amet dui scelerisque eu laoreet nisi ultrices. Ut vitae nunc a libero volutpat gravida. Nam tempor nibh a purus aliquam. </p>
        <p style="text-align:right; margin-right: 16px"><a href="#" class="button">More Info</a> <a href="#" class="button">Buy Now</a></p>
      </div>
      <div> <img src="img/pc/NT200B5C.jpg" alt="">
        <h5>Nam tempor nibh</h5>
        <p>Nulla hendrerit commodo tortor, vitae elementum magna convallis nec. Nam tempor nibh a purus aliquam et adipiscing elit gravida. Ut vitae nunc a libero volutpat gravida. Nullam egestas mi sit amet dui scelerisque eu laoreet nisi ultrices. Ut vitae nunc a libero volutpat gravida. Nam tempor nibh a purus aliquam. </p>
        <p style="text-align:right; margin-right: 16px"><a href="#" class="button">More Info</a> <a href="#" class="button">Buy Now</a></p>
      </div>
      <div> <img src="img/pc/NT200B5C.jpg" alt="">
        <p>Nulla hendrerit commodo tortor, vitae elementum magna convallis nec. Nam tempor nibh a purus aliquam et adipiscing elit gravida. Ut vitae nunc a libero volutpat gravida. Nullam egestas mi sit amet dui scelerisque eu laoreet nisi ultrices. Ut vitae nunc a libero volutpat gravida. Nam tempor nibh a purus aliquam. </p>
        <p style="text-align:right; margin-right: 16px"><a href="#" class="button">More Info</a> <a href="#" class="button">Buy Now</a></p>
      </div>
			<div> <img src="img/pc/NT200B5C.jpg" alt="">
				<p>Nulla hendrerit commodo tortor, vitae elementum magna convallis nec. Nam tempor nibh a purus aliquam et adipiscing elit gravida. Ut vitae nunc a libero volutpat gravida. Nullam egestas mi sit amet dui scelerisque eu laoreet nisi ultrices. Ut vitae nunc a libero volutpat gravida. Nam tempor nibh a purus aliquam. </p>
				<p style="text-align:right; margin-right: 16px"><a href="#" class="button">More Info</a> <a href="#" class="button">Buy Now</a></p>
			</div>
			<div> <img src="img/pc/NT200B5C.jpg" alt="">
				<p>Nulla hendrerit commodo tortor, vitae elementum magna convallis nec. Nam tempor nibh a purus aliquam et adipiscing elit gravida. Ut vitae nunc a libero volutpat gravida. Nullam egestas mi sit amet dui scelerisque eu laoreet nisi ultrices. Ut vitae nunc a libero volutpat gravida. Nam tempor nibh a purus aliquam. </p>
				<p style="text-align:right; margin-right: 16px"><a href="#" class="button">More Info</a> <a href="#" class="button">Buy Now</a></p>
			</div>
    </div>
    <!-- END tab panes -->
    <br clear="all">
    <!-- navigator -->
    <div id="prod_nav">
      <ul>

        <li><a href="#1"><img src="/img/pc/123.jpg" alt=""><strong>Class aptent</strong> $ 199</a></li>
        <li><a href="#2"><img src="/img/pc/123.jpg" alt=""><strong>Sed dui risus</strong> $ 125</a></li>
        <li><a href="#3"><img src="/img/pc/123.jpg" alt=""><strong>Pellentesque quis</strong> $ 480</a></li>
        <li><a href="#4"><img src="/img/pc/123.jpg" alt=""><strong>Mauris elementum</strong> $ 1099</a></li>
        <li><a href="#5"><img src="/img/pc/123.jpg" alt=""><strong>Cras et malesuada</strong> $ 99</a></li>
				<li><a href="#6"><img src="/img/pc/123.jpg" alt=""><strong>Mauris elementum</strong> $ 1099</a></li>
        <li><a href="#7"><img src="/img/pc/123.jpg" alt=""><strong>Cras et malesuada</strong> $ 99</a></li>
      </ul>
    </div>
    <!-- close navigator -->
  </div>

</div>


														</div>
												</div>
											</div>
  								</div><!-- id product -->
  </section>
        <!-- End portfolio -->
						<!-- product section-->
<script>
$(document).ready(function() {
    $('#list').click(function(event){event.preventDefault();$('#products .item').addClass('list-group-item');});
    $('#grid').click(function(event){event.preventDefault();$('#products .item').removeClass('list-group-item');$('#products .item').addClass('grid-group-item');});
});
</script>





            <!-- Begin team-->
            <section id="team-section" class="page">
                <!-- Begin page header-->
                <div class="page-header-wrapper">
                    <div class="container">
                        <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                            <h2>Our Team</h2>
                            <div class="devider"></div>
                            <p class="subtitle">Meat our experts</p>
                        </div>
                    </div>
                </div>
                <!-- End page header-->
                <div class="container">
                    <div class="row">
                        <div class="team-items">
                            <div class="col-md-2">
                                <div class="team-container wow bounceIn" data-wow-delay="0.2s">
                                    <div class="team-item">
                                        <div class="team-triangle">
                                            <div class="content">
                                                <img src="img/team/1.jpg" alt="title"/>
                                                <div class="team-hover text-center">
                                                    <i class="fa fa-male"></i>
                                                    <p>John Doe</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="team-container wow bounceIn" data-wow-delay="0.3s">
                                    <div class="team-item">
                                        <div class="team-triangle">
                                            <div class="content">
                                                <img src="img/team/1.jpg" alt="title"/>
                                                <div class="team-hover text-center">
                                                    <i class="fa fa-female"></i>
                                                    <p>Jane Doe</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="team-container wow bounceIn" data-wow-delay="0.4s">
                                    <div class="team-item">
                                        <div class="team-triangle">
                                            <div class="content">
                                                <img src="img/team/1.jpg" alt="title"/>
                                                <div class="team-hover text-center">
                                                    <i class="fa fa-male"></i>
                                                    <p>John Doe</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="team-container wow bounceIn" data-wow-delay="0.5s">
                                    <div class="team-item">
                                        <div class="team-triangle">
                                            <div class="content">
                                                <img src="img/team/1.jpg" alt="title"/>
                                                <div class="team-hover text-center">
                                                    <i class="fa fa-male"></i>
                                                    <p>John Doe</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="team-container wow bounceIn" data-wow-delay="0.6s">
                                    <div class="team-item">
                                        <div class="team-triangle">
                                            <div class="content">
                                                <img src="img/team/1.jpg" alt="title"/>
                                                <div class="team-hover text-center">
                                                    <i class="fa fa-male"></i>
                                                    <p>John Doe</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="team-container wow bounceIn" data-wow-delay="0.7s">
                                    <div class="team-item">
                                        <div class="team-triangle">
                                            <div class="content">
                                                <img src="img/team/1.jpg" alt="title"/>
                                                <div class="team-hover text-center">
                                                    <i class="fa fa-male"></i>
                                                    <p>John Doe</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="team-container wow bounceIn" data-wow-delay="0.8s">
                                    <div class="team-item">
                                        <div class="team-triangle">
                                            <div class="content">
                                                <img src="img/team/1.jpg" alt="title"/>
                                                <div class="team-hover text-center">
                                                    <i class="fa fa-female"></i>
                                                    <p>Jane Doe</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>

            </section>
            <!-- End team-->


            <!-- Begin partners -->
            <section id="partners-section">
                <!-- Begin page header-->
                <div class="page-header-wrapper">
                    <div class="container">
                        <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                            <h2>Our Clients</h2>
                            <div class="devider"></div>
                            <p class="subtitle">IS_KOREARENTAL_VINA CLIENTS</p>
                        </div>
												<!-- Begin counter up -->
									<!-- style="background-image: url(img/counter-bg.jpg);" -->
										<div id="counter-up-trigger" class="counter-up parallax">
																<!-- End page header-->
											<div class="container" align="center">

												<div class="row">

													<div class="fact text-center col-md-6 col-sm-6">
														<div class="fact-inner">
															<i class="fa fa-users fa-2x"></i>
																								<div class="extra-space-l"></div>
															<span class="counter">50</span>
															<p class="lead">Clients Worked With IS_KOREARENTAL_VINA</p>
														</div>
													</div>

													<div class="fact text-center col-md-6 col-sm-6">
														<div class="fact-inner">
															<i class="fa fa-leaf fa-2x"></i>
																								<div class="extra-space-l"></div>
															<span class="counter">800</span>
															<p class="lead">Completed Projects</p>
														</div>
													</div>

												</div> <!-- /.row -->
											</div> <!-- /.container -->
										</div>

									</div>
							</div>
                <!-- End page header-->
                <div class="container">
                    <div id="owl-partners" class="owl-carousel">
                        <img src="img/partners/1.png" alt="img">
                        <img src="img/partners/2.png" alt="img">
                        <img src="img/partners/3.png" alt="img">
                        <img src="img/partners/4.png" alt="img">
                        <img src="img/partners/5.png" alt="img">
                        <img src="img/partners/6.png" alt="img">
                        <img src="img/partners/7.png" alt="img">
                    </div>
                </div>
					<!-- End counter up -->
            </section>
            <!-- End partners -->




            <!-- Begin prices section -->
			<section id="recruit-section" class="page">

                <!-- Begin page header-->
                <div class="page-header-wrapper">
                    <div class="container">
                        <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                            <h2>Recruitment</h2>
                            <div class="devider"></div>
                            <p class="subtitle">Apply To IS_KOREARENTAL_VINA</p>
                        </div>
                    </div>
                </div>
                <!-- End page header-->

				<div class="extra-space-l"></div>


				<div class="container">

				<div class="col-md-12">

					<div class="panel panel-default panel-fade">

						<div class="panel-heading">

							<span class="panel-title">

								<div class="pull-left">

								<ul class="nav nav-tabs">
									<li class="active"><a href="#business" data-toggle="tab"><i class="fa fa-user"></i> Business Management</a></li>
									<li><a href="#sales" data-toggle="tab"><i class="fa fa-user"></i> Sales</a></li>
									<li><a href="#copy" data-toggle="tab"><i class="fa fa-user"></i> PhotoCopier Engineer</a></li>
									<li><a href="#man" data-toggle="tab"><i class="fa fa-user"></i> Man-lift Engineer</a></li>
									<li><a href="#driver" data-toggle="tab"><i class="fa fa-user"></i> Driver</a></li>
								</ul>


								</div>

								<div class="clearfix"></div>

							</span>

						</div>

						<div class="panel-body">
							<div class="tab-content">

                <div class="tab-pane fade in active" id="business">
								 <form>
									<inpput type="hidden" name="FormName" value="PrintLetters">
									<table class="table table-striped">
									<thead>
										<TR><TH>Department</TH><TH style="text-align:left">Qualification</TH><TH style="text-align:left">Preference</TH><TH>Working Condition</TH></TR>
									</thead>
									<TBODY>
										<tr>
												<td>HR</td>
												<td>University Graduate / Major independent <br> Using Office Programs</td>
												<td>HR Majors <br> Related Work Experience</td>
												<td>Working Area : <br> Hanoi / Hochiminh Office
													<br>Working 5 days a week
												</td>
										</tr>
										<tr>
											 <td>ACCOUNTING</td>
											 <td>University Graduate / Major independent <br> Using Office Programs</td>
											 <td>AACOUNTING / Finance Majors <br> Related Work Experience</td>
											 <td>Working Area : <br> Hanoi / Hochiminh Office
												 <br>Working 5 days a week
											 </td>
									 </tr>
									</TBODY>
									</TABLE>

								</FORM>
								</div>


							<div class="tab-pane fade" id="sales">

								 <FORM >
									<INPUT TYPE="hidden" NAME="FormName" VALUE="PrintLetters">
									<TABLE class="table table-striped">
									<THEAD>
										<TR><TH>Department</TH><TH style="text-align:left">Qualification</TH><TH style="text-align:left">Preference</TH><TH>Working Condition</TH></TR>
									</THEAD>
									<TBODY>
										<tr>
																							 <td>PhotoCopier / PC  Sales</td>
																							 <td>University Graduate / Major independent , Using Office Programs</td>
																							 <td>Computer Technology Majors, Related Work Experience</td>
																							 <td>Working Area: Hanoi / Hochiminh Office
																								 <br>Working 5 days a week
																							 </td>
																					 </tr>
																					 <tr>
				 																			<td>Car Sales</td>
				 																			<td>University Graduate / Major independent , Using Office Programs</td>
				 																			<td>Automobile Majors, Related Work Experience</td>
				 																			<td>Working Area: Hanoi / Hochiminh Office
				 																				<br>Working 5 days a week
				 																			</td>
				 																	</tr>
																					<tr>
																						 <td>Man-Lift Sales</td>
																						 <td>University Graduate / Major independent , Using Office Programs</td>
																						 <td>Related Work Experience</td>
																						 <td>Working Area: Hanoi / Hochiminh Office
																							 <br>Working 5 days a week
																						 </td>
																				 </tr>
									</TBODY>
									</TABLE>

								</FORM>
								</div>

								<div class="tab-pane fade" id="copy">

									 <FORM ACTION="" METHOD="post">
										<INPUT TYPE="hidden" NAME="FormName" VALUE="PrintLetters">
										<TABLE class="table table-striped">
										<THEAD>
											<TR><TH>Department</TH><TH style="text-align:left">Qualification</TH><TH style="text-align:left">Preference</TH><TH>Working Condition</TH></TR>
										</THEAD>
										<TBODY>
																						<tr>
																								<td>PhotoCopier Engineer</td>
																								<td>University Graduate / Major independent</td>
																								<td>Manufacturers Work Experience, Related Work Experience</td>
																								<td>Working Area: Hanoi / Hochiminh Office
																									<br>Working 6 days a week
																								</td>
																						</tr>
										</TBODY>
										</TABLE>

									</FORM>
									</div>
									<div class="tab-pane fade" id="man">

										 <FORM ACTION="" METHOD="post">
											<INPUT TYPE="hidden" NAME="FormName" VALUE="PrintLetters">
											<TABLE class="table table-striped">
											<THEAD>
												<TR><TH>Department</TH><TH style="text-align:left">Qualification</TH><TH style="text-align:left">Preference</TH><TH>Working Condition</TH></TR>
											</THEAD>
											<TBODY>
												<tr>
														<td>Man-Lift Engineer</td>
														<td>High School Graduate / Major independent</td>
														<td>Maintenance License Holders, Related Work Experience</td>
														<td>Working Area: Outdoor Parking lot
															<br>Working 6 days a week
														</td>
												</tr>
											</TBODY>
											</TABLE>

										</FORM>
										</div>
										<div class="tab-pane fade" id="driver">

											 <FORM ACTION="" METHOD="post">
												<INPUT TYPE="hidden" NAME="FormName" VALUE="PrintLetters">
												<TABLE class="table table-striped">
												<THEAD>
													<TR><TH>Department</TH><TH style="text-align:left">Qualification</TH><TH style="text-align:left">Preference</TH><TH>Working Condition</TH></TR>
												</THEAD>
												<TBODY>
													<tr>
																										 <td>Driver</td>
																										 <td>More than 2 years driving experience, 25 years over</td>
																										 <td>Level D Licensing Holdings, Driving Experience 5 years over, Rental Car Driver Work Experience</td>
																										 <td>Working Area: Depending on the customer's request
																											 <br>Working 6 days a week and Providing OT
																										 </td>
																								 </tr>
												</TBODY>
												</TABLE>

											</FORM>
											</div>

							</div>

						</div>

					</div>

				</div>

			</div>

				<!-- End prices -->
				<div class="extra-space-l"></div>
			</section>
			<!-- End prices section -->
			<!-- Begin testimonials -->
			<section id="testimonial-section">
					<div id="testimonial-trigger" class="testimonial text-white parallax" data-stellar-background-ratio="0.5" style="background-image: url(img/map-bg.jpg);">
							<!--<div class="cover"></div>-->
							<!-- Begin page header-->
							<div class="page-header-wrapper">
									<div class="container">
											<div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
													<h2>Our Location</h2>
													<div class="devider"></div>
													<p class="subtitle">Hanoi Head Office & Hochiminh Branch</p>
											</div>
									</div>
							</div>
							<!-- End page header-->
							<div class="container">
									<div class="testimonial-inner center-block text-center">
											<div id="owl-testimonial" class="owl-carousel">
													<div class="item">
															<blockquote>
																<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.397121886777!2d105.78198556501896!3d21.01679043600487!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab54e29650c5%3A0x453b5c2a98dc5e98!2z6rK964KoIO2VmOuFuOydtCDrnpzrk5zrp4jtgawg7YOA7JuMIEtlYW5nbmFtLCBN4buFIFRyw6wsIFThu6sgTGnDqm0sIEjDoCBO4buZaSwg67Kg7Yq464Ko!5e0!3m2!1sko!2skr!4v1478504326355"
	width="1500" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
															</blockquote>
													</div>
													<div class="item">
															<blockquote>
																<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.3806698532544!2d106.70350971489194!3d10.782128692317649!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f494ab1a7ab%3A0xca5d3f36e8edd13!2zQ0ogQnVpbGRpbmcsIEzDqiBUaMOhbmggVMO0biwgQuG6v24gTmdow6ksIFF14bqtbiAxLCBI4buTIENow60gTWluaCwg67Kg7Yq464Ko!5e0!3m2!1sko!2skr!4v1478504391172"
		width="1500" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
															</blockquote>
													</div>
											</div>
									</div>
							</div>
					</div>
			</section>
			<!-- End testimonials -->




            <!-- Begin social section -->
			<section id="social-section" class="page text-white parallax" data-stellar-background-ratio="0.5" style="background-image: url(img/testimonial4-bg.jpg);">
					<div class="cover"></div>
                 <!-- Begin page header-->
                <div class="page-header-wrapper">
                    <div class="container">
                        <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                            <h2>Join Us</h2>
                            <div class="devider"></div>
                            <p class="subtitle">Follow us on social networks</p>
                        </div>
                    </div>
                </div>
                <!-- End page header-->

                <div class="container">
                	<ul class="social-list">
                		<li> <a href="https://www.facebook.com/iskorearentalvina" class="rotate-box-1 square-icon text-center wow zoomIn" data-wow-delay="0.3s"><span class="rotate-box-icon"><i class="fa fa-facebook"></i></span></a></li>
                		<li> <a href="https://www.facebook.com/iskorearentalvina" class="rotate-box-1 square-icon text-center wow zoomIn" data-wow-delay="0.4s"><span class="rotate-box-icon"><i class="fa fa-twitter"></i></span></a></li>
                		<li> <a href="https://www.facebook.com/iskorearentalvina" class="rotate-box-1 square-icon text-center wow zoomIn" data-wow-delay="0.5s"><span class="rotate-box-icon"><i class="fa fa-google-plus"></i></span></a></li>
                		<li> <a href="https://www.facebook.com/iskorearentalvina" class="rotate-box-1 square-icon text-center wow zoomIn" data-wow-delay="0.6s"><span class="rotate-box-icon"><i class="fa fa-pinterest-p"></i></span></a></li>
                		<li> <a href="https://www.facebook.com/iskorearentalvina" class="rotate-box-1 square-icon text-center wow zoomIn" data-wow-delay="0.7s"><span class="rotate-box-icon"><i class="fa fa-tumblr"></i></span></a></li>
                		<li> <a href="https://www.facebook.com/iskorearentalvina" class="rotate-box-1 square-icon text-center wow zoomIn" data-wow-delay="0.8s"><span class="rotate-box-icon"><i class="fa fa-dribbble"></i></span></a></li>
                    </ul>
                </div>

            </section>
            <!-- End social section -->




            <!-- Begin contact section --> <!-- style="background-image: url(img/map-bg.jpg);"-->
			<section id="contact-section" class="page text-white parallax" data-stellar-background-ratio="0.5">
            <div class="cover"></div>

                 <!-- Begin page header-->
                <div class="page-header-wrapper">
                    <div class="container">
                        <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                            <h2>Contacts</h2>
                            <div class="devider"></div>
                            <p class="subtitle">All to contact us</p>
                        </div>
                    </div>
                </div>
                <!-- End page header-->

                <div class="contact wow bounceInRight" data-wow-delay="0.4s">
                    <div class="container">
                    	<div class="row">

                            <div class="col-sm-6">
                                <div class="contact-info">
                                    <h4>Our Address</h4>
                                    <ul class="contact-address">
			                            <li><i class="fa fa-map-marker fa-lg"></i>&nbsp; Head Office : <br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 14th Floor. Keangnam Hanoi Landmark Tower, plot E6,<br> CauGiay new urban area, Me tri, Nam Tu Liem, Hanoi.
																																						<br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; HCM Branch : <br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 6F, CJ Building 2Bis-4-6 Le Thanh Ton, Ben Nghe Ward, Dist 1</li>
			                            <li><i class="fa fa-phone"></i>&nbsp; 1 -234 -456 -7890</li>
			                            <li><i class="fa fa-print"></i>&nbsp; 1 -234 -456 -7890</li>
			                            <li><i class="fa fa-envelope"></i> duanea0606@gmail.com</li>

			                        </ul>
                                </div>
                            </div>

                        	<div class="col-sm-6">
                                <div class="contact-form">
                                	<h4>Write to us</h4>
                                    <form role="form" action="/home/write" method="post">
                                        <div class="form-group">
                                            <input type="text" class="form-control input-lg" name="name" placeholder="Company Name" required>
                                        </div>
                                        <div class="form-group">
                                            <input type="email" class="form-control input-lg" name="email" placeholder="E-mail" required>
                                        </div>
                                        <div class="form-group">
                                            <textarea class="form-control input-lg" rows="5" name="content" placeholder="Message" required></textarea>
                                        </div>
                                        <button type="submit" class="btn wow bounceInRight" data-wow-delay="0.8s">Send</button>
                                    </form>
                                </div>
                            </div>

                        </div> <!-- /.row -->
                    </div> <!-- /.container -->
                </div>
            </section>
            <!-- End contact section -->

						<footer class="text-off-white">

								<div class="footer-top">
									<div class="container">
											<div class="row wow bounceInLeft" data-wow-delay="0.4s">

														<div class="col-sm-6 col-md-4">
															<img src="/img/logo/menu-logo.png">
																<ul class="imp-links">
																	<li><a href="">About</a></li>
																	<li><a href="">Services</a></li>
																	<li><a href="">Press</a></li>
																	<li><a href="">Copyright</a></li>
																	<li><a href="">Advertise</a></li>
																	<li><a href="">Legal</a></li>
																</ul>
														</div>

													<div class="col-sm-6 col-md-4">
																<h4>Subscribe</h4>
															<div id="footer_signup">
																		<div id="email">
																				<form id="subscribe" method="POST">
																						<input type="text" placeholder="Enter email address" name="email" id="address" data-validate="validate(required, email)"/>
																						<button type="submit">Submit</button>
																						<span id="result" class="section-description"></span>
																				</form>
																		</div>
																</div>
																<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
														</div>

														<div class="col-sm-12 col-md-4">
																<h4>Recent Tweets</h4>
																<div class="single-tweet">
																		<div class="tweet-content"><span>@Unika</span> Excepteur sint occaecat cupidatat non proident</div>
																		<div class="tweet-date">1 Hour ago</div>
																</div>
																<div class="single-tweet">
																		<div class="tweet-content"><span>@Unika</span> Excepteur sint occaecat cupidatat non proident uku shumaru</div>
																		<div class="tweet-date">1 Hour ago</div>
																</div>
														</div>

												</div> <!-- /.row -->
										</div> <!-- /.container -->
								</div>

								<div class="footer">
										<div class="container text-center wow fadeIn" data-wow-delay="0.4s">
												<p class="copyright">Copyright &copy; 2016 - IS_KOREARENTAL_VINA</p>
										</div>
								</div>

						</footer>
            <!-- End footer -->

            <a href="#" class="scrolltotop"><i class="fa fa-arrow-up"></i></a> <!-- Scroll to top button -->

        </div><!-- body ends -->
				<script type="text/javascript" src="../js/jssor.slider.mini.js"></script>
				<script>

						jQuery(document).ready(function ($) {
								var options = {
										$AutoPlay: true,                                    //[Optional] Whether to auto play, to enable slideshow, this option must be set to true, default value is false
										$AutoPlaySteps: 1,                                  //[Optional] Steps to go for each navigation request (this options applys only when slideshow disabled), the default value is 1
										$Idle: 2000,                            //[Optional] Interval (in milliseconds) to go for next slide since the previous stopped if the slider is auto playing, default value is 3000
										$PauseOnHover: 1,                                   //[Optional] Whether to pause when mouse over if a slider is auto playing, 0 no pause, 1 pause for desktop, 2 pause for touch device, 3 pause for desktop and touch device, 4 freeze for desktop, 8 freeze for touch device, 12 freeze for desktop and touch device, default value is 1

										$ArrowKeyNavigation: true,   			            //[Optional] Allows keyboard (arrow key) navigation or not, default value is false
										$SlideEasing: $JssorEasing$.$EaseOutQuint,          //[Optional] Specifies easing for right to left animation, default value is $JssorEasing$.$EaseOutQuad
										$SlideDuration: 800,                                //[Optional] Specifies default duration (swipe) for slide in milliseconds, default value is 500
										$MinDragOffsetToSlide: 20,                          //[Optional] Minimum drag offset to trigger slide , default value is 20
										//$SlideWidth: 600,                                 //[Optional] Width of every slide in pixels, default value is width of 'slides' container
										//$SlideHeight: 300,                                //[Optional] Height of every slide in pixels, default value is height of 'slides' container
										$SlideSpacing: 0, 					                //[Optional] Space between each slide in pixels, default value is 0
										$Cols: 1,                                  //[Optional] Number of pieces to display (the slideshow would be disabled if the value is set to greater than 1), the default value is 1
										$ParkingPosition: 0,                                //[Optional] The offset position to park slide (this options applys only when slideshow disabled), default value is 0.
										$UISearchMode: 1,                                   //[Optional] The way (0 parellel, 1 recursive, default value is 1) to search UI components (slides container, loading screen, navigator container, arrow navigator container, thumbnail navigator container etc).
										$PlayOrientation: 1,                                //[Optional] Orientation to play slide (for auto play, navigation), 1 horizental, 2 vertical, 5 horizental reverse, 6 vertical reverse, default value is 1
										$DragOrientation: 1,                                //[Optional] Orientation to drag slide, 0 no drag, 1 horizental, 2 vertical, 3 either, default value is 1 (Note that the $DragOrientation should be the same as $PlayOrientation when $Cols is greater than 1, or parking position is not 0)

										$ArrowNavigatorOptions: {                           //[Optional] Options to specify and enable arrow navigator or not
												$Class: $JssorArrowNavigator$,                  //[Requried] Class to create arrow navigator instance
												$ChanceToShow: 2,                               //[Required] 0 Never, 1 Mouse Over, 2 Always
												$AutoCenter: 2,                                 //[Optional] Auto center arrows in parent container, 0 No, 1 Horizontal, 2 Vertical, 3 Both, default value is 0
												$Steps: 1,                                      //[Optional] Steps to go for each navigation request, default value is 1
												$Scale: false                                   //Scales bullets navigator or not while slider scale
										},

										$BulletNavigatorOptions: {                                //[Optional] Options to specify and enable navigator or not
												$Class: $JssorBulletNavigator$,                       //[Required] Class to create navigator instance
												$ChanceToShow: 2,                               //[Required] 0 Never, 1 Mouse Over, 2 Always
												$AutoCenter: 1,                                 //[Optional] Auto center navigator in parent container, 0 None, 1 Horizontal, 2 Vertical, 3 Both, default value is 0
												$Steps: 1,                                      //[Optional] Steps to go for each navigation request, default value is 1
												$Rows: 1,                                      //[Optional] Specify lanes to arrange items, default value is 1
												$SpacingX: 12,                                   //[Optional] Horizontal space between each item in pixel, default value is 0
												$SpacingY: 4,                                   //[Optional] Vertical space between each item in pixel, default value is 0
												$Orientation: 1,                                //[Optional] The orientation of the navigator, 1 horizontal, 2 vertical, default value is 1
												$Scale: false                                   //Scales bullets navigator or not while slider scale
										}
								};

								var jssor_slider1 = new $JssorSlider$("slider1_container", options);

								//responsive code begin
								//you can remove responsive code if you don't want the slider scales while window resizing
								function ScaleSlider() {
										var parentWidth = jssor_slider1.$Elmt.parentNode.clientWidth;
										if (parentWidth) {
												jssor_slider1.$ScaleWidth(parentWidth - 30);
										}
										else
												window.setTimeout(ScaleSlider, 30);
								}
								ScaleSlider();

								$(window).bind("load", ScaleSlider);
								$(window).bind("resize", ScaleSlider);
								$(window).bind("orientationchange", ScaleSlider);
								//responsive code end
						});
				</script>

				<!-- Plugins JS -->
			<script src="/assets/jquery-1.11.1.min.js"></script>
			<script src="/assets/bootstrap.min.js"></script>
			<script src="/assets/owl.carousel.min.js"></script>
			<script src="/assets/jquery.stellar.min.js"></script>
			<script src="/assets/wow.min.js"></script>
			<script src="/assets/waypoints.min.js"></script>
			<script src="/assets/isotope.pkgd.min.js"></script>
			<script src="/assets/classie.js"></script>
			<script src="/assets/jquery.easing.min.js"></script>
			<script src="/assets/jquery.counterup.min.js"></script>
			<script src="/assets/smoothscroll.js"></script>
			<script src="/assets/jssor.slider.mini.js"></script>

			<!-- Theme JS -->
			<script src="/assets/theme.js"></script>
			<!--JS FILES -->
<script src="/assets/jquery.tools.min.js"></script>
<script>
$(function () {
    $("#prod_nav ul").tabs("#panes > div", {
        effect: 'fade',
        fadeOutSpeed: 400
    });
});
</script>
<script>
$(document).ready(function () {
    $(".pane-list li").click(function () {
        window.location = $(this).find("a").attr("href");
        return false;
    });
});
</script>

    </body>


</html>
