<!doctype html>
<html lang="en-US">
	<head>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>IS_KOREARENTAL_VINA</title>
		<meta name="description" content="Unika - Responsive One Page HTML5 Template">
		<meta name="keywords" content="HTML5, Bootsrtrap, One Page, Responsive, Template, Portfolio" />
		<meta name="author" content="imransdesign.com">
		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>

 <body data-spy="scroll" data-target="#main-navbar">
        <!--<div class="page-loader"></div>   Display loading image while page loads -->
    	<div class="body">

            <!-- ========= END HEADER =========-->
<div id="slider1_container" style="visibility: hidden; position: relative; margin: 0 auto; width: 1140px; height: 442px; overflow: hidden;">

			<!-- Loading Screen -->
			<div u="loading" style="position: absolute; top: 0px; left: 0px;">
					<div style="filter: alpha(opacity=70); opacity:0.7; position: absolute; display: block;

					background-color: #000; top: 0px; left: 0px;width: 100%; height:100%;">
					</div>
					<div style="position: absolute; display: block; background: url(../img/loading.gif) no-repeat center center;

					top: 0px; left: 0px;width: 100%;height:100%;">
					</div>
			</div>

			<!-- Slides Container -->
			<div u="slides" style="position: absolute; left: 0px; top: 0px; width: 1140px; height: 442px;
			overflow: hidden;">
					<div>
							<img u="image" src2="../img/1920/blue.jpg" />
					</div>
					<div>
							<img u="image" src2="../img/1920/purple.jpg" />
					</div>
					<div>
						<img u="image" src2="../img/1920/red.jpg" />
					</div>
			</div>

			<!--#region Bullet Navigator Skin Begin -->
			<!-- Help: http://www.jssor.com/tutorial/set-bullet-navigator.html -->
			<style>
					.jssorb05 {
							position: absolute;
					}
					.jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
							position: absolute;
							/* size of bullet elment */
							width: 16px;
							height: 16px;
							background: url(../imgb05.png) no-repeat;
							overflow: hidden;
							cursor: pointer;
					}
					.jssorb05 div { background-position: -7px -7px; }
					.jssorb05 div:hover, .jssorb05 .av:hover { background-position: -37px -7px; }
					.jssorb05 .av { background-position: -67px -7px; }
					.jssorb05 .dn, .jssorb05 .dn:hover { background-position: -97px -7px; }
			</style>
			<!-- bullet navigator container -->
			<div u="navigator" class="jssorb05" style="bottom: 16px; right: 6px;">
					<!-- bullet navigator item prototype -->
					<div u="prototype"></div>
			</div>

			<style>

					.jssora11l, .jssora11r {
							display: block;
							position: absolute;
							/* size of arrow element */
							width: 37px;
							height: 37px;
							cursor: pointer;
							background: url(../img/a11.png) no-repeat;
							overflow: hidden;
					}
					.jssora11l { background-position: -11px -41px; }
					.jssora11r { background-position: -71px -41px; }
					.jssora11l:hover { background-position: -131px -41px; }
					.jssora11r:hover { background-position: -191px -41px; }
					.jssora11l.jssora11ldn { background-position: -251px -41px; }
					.jssora11r.jssora11rdn { background-position: -311px -41px; }
			</style>
			<!-- Arrow Left -->
			<span u="arrowleft" class="jssora11l" style="top: 123px; left: 8px;">
			</span>
			<!-- Arrow Right -->
			<span u="arrowright" class="jssora11r" style="top: 123px; right: 8px;">
			</span>
	</div>
	<!-- Jssor Slider End -->



<!-- jssor slider scripts-->
<!-- use jssor.slider.debug.js for debug -->

<script>

	jQuery(document).ready(function ($) {
			var options = {
					$AutoPlay: true,                                    //[Optional] Whether to auto play, to enable slideshow, this option must be set to true, default value is false
					$AutoPlaySteps: 1,                                  //[Optional] Steps to go for each navigation request (this options applys only when slideshow disabled), the default value is 1
					$Idle: 2000,                            //[Optional] Interval (in milliseconds) to go for next slide since the previous stopped if the slider is auto playing, default value is 3000
					$PauseOnHover: 1,                                   //[Optional] Whether to pause when mouse over if a slider is auto playing, 0 no pause, 1 pause for desktop, 2 pause for touch device, 3 pause for desktop and touch device, 4 freeze for desktop, 8 freeze for touch device, 12 freeze for desktop and touch device, default value is 1

					$ArrowKeyNavigation: true,   			            //[Optional] Allows keyboard (arrow key) navigation or not, default value is false
					$SlideEasing: $JssorEasing$.$EaseOutQuint,          //[Optional] Specifies easing for right to left animation, default value is $JssorEasing$.$EaseOutQuad
					$SlideDuration: 800,                                //[Optional] Specifies default duration (swipe) for slide in milliseconds, default value is 500
					$MinDragOffsetToSlide: 20,                          //[Optional] Minimum drag offset to trigger slide , default value is 20
					//$SlideWidth: 600,                                 //[Optional] Width of every slide in pixels, default value is width of 'slides' container
					//$SlideHeight: 300,                                //[Optional] Height of every slide in pixels, default value is height of 'slides' container
					$SlideSpacing: 0, 					                //[Optional] Space between each slide in pixels, default value is 0
					$Cols: 1,                                  //[Optional] Number of pieces to display (the slideshow would be disabled if the value is set to greater than 1), the default value is 1
					$ParkingPosition: 0,                                //[Optional] The offset position to park slide (this options applys only when slideshow disabled), default value is 0.
					$UISearchMode: 1,                                   //[Optional] The way (0 parellel, 1 recursive, default value is 1) to search UI components (slides container, loading screen, navigator container, arrow navigator container, thumbnail navigator container etc).
					$PlayOrientation: 1,                                //[Optional] Orientation to play slide (for auto play, navigation), 1 horizental, 2 vertical, 5 horizental reverse, 6 vertical reverse, default value is 1
					$DragOrientation: 1,                                //[Optional] Orientation to drag slide, 0 no drag, 1 horizental, 2 vertical, 3 either, default value is 1 (Note that the $DragOrientation should be the same as $PlayOrientation when $Cols is greater than 1, or parking position is not 0)

					$ArrowNavigatorOptions: {                           //[Optional] Options to specify and enable arrow navigator or not
							$Class: $JssorArrowNavigator$,                  //[Requried] Class to create arrow navigator instance
							$ChanceToShow: 2,                               //[Required] 0 Never, 1 Mouse Over, 2 Always
							$AutoCenter: 2,                                 //[Optional] Auto center arrows in parent container, 0 No, 1 Horizontal, 2 Vertical, 3 Both, default value is 0
							$Steps: 1,                                      //[Optional] Steps to go for each navigation request, default value is 1
							$Scale: false                                   //Scales bullets navigator or not while slider scale
					},

					$BulletNavigatorOptions: {                                //[Optional] Options to specify and enable navigator or not
							$Class: $JssorBulletNavigator$,                       //[Required] Class to create navigator instance
							$ChanceToShow: 2,                               //[Required] 0 Never, 1 Mouse Over, 2 Always
							$AutoCenter: 1,                                 //[Optional] Auto center navigator in parent container, 0 None, 1 Horizontal, 2 Vertical, 3 Both, default value is 0
							$Steps: 1,                                      //[Optional] Steps to go for each navigation request, default value is 1
							$Rows: 1,                                      //[Optional] Specify lanes to arrange items, default value is 1
							$SpacingX: 12,                                   //[Optional] Horizontal space between each item in pixel, default value is 0
							$SpacingY: 4,                                   //[Optional] Vertical space between each item in pixel, default value is 0
							$Orientation: 1,                                //[Optional] The orientation of the navigator, 1 horizontal, 2 vertical, default value is 1
							$Scale: false                                   //Scales bullets navigator or not while slider scale
					}
			};

			var jssor_slider1 = new $JssorSlider$("slider1_container", options);

			//responsive code begin
			//you can remove responsive code if you don't want the slider scales while window resizing
			function ScaleSlider() {
					var parentWidth = jssor_slider1.$Elmt.parentNode.clientWidth;
					if (parentWidth) {
							jssor_slider1.$ScaleWidth(parentWidth - 30);
					}
					else
							window.setTimeout(ScaleSlider, 30);
			}
			ScaleSlider();

			$(window).bind("load", ScaleSlider);
			$(window).bind("resize", ScaleSlider);
			$(window).bind("orientationchange", ScaleSlider);
			//responsive code end
	});
</script>
            <!--========== BEGIN HEADER ==========-->
            <header id="header" class="header-main">

                <!-- Begin Navbar -->
                <nav id="main-navbar" class="navbar navbar-default navbar-fixed-top" role="navigation"> <!-- Classes: navbar-default, navbar-inverse, navbar-fixed-top, navbar-fixed-bottom, navbar-transparent. Note: If you use non-transparent navbar, set "height: 98px;" to #header -->

                  <div class="container">

                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                      <a class="navbar-brand page-scroll" href="/home/index">Unika</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a class="page-scroll" href="#about">About</a></li>
                            <li><a class="page-scroll" href="#product">Rental Products</a></li>
                            <li><a class="page-scroll" href="#recruit">Recruitment</a></li>
                            <li><a class="page-scroll" href="#contact-section">Contact</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                  </div><!-- /.container -->
                </nav>
                <!-- End Navbar -->

            </header>

            <!-- Begin about section -->
			<section id="about" class="page bg-style1">
                <!-- Begin page header-->
                <div class="page-header-wrapper">
                    <div class="container">
                        <div class="page-header text-center wow fadeInUp" data-wow-delay="0.3s">
                            <h2>About</h2>
                            <div class="devider"></div>
                            <p class="subtitle">little information</p>
                        </div>
                    </div>
                </div>
                <!-- End page header-->

                <!-- Begin rotate box-1 -->
                <div class="rotate-box-1-wrapper">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 col-sm-6">
                                <a class="rotate-box-1 square-icon wow zoomIn" data-wow-delay="0">
                                    <span class="rotate-box-icon"><i class="fa fa-globe"></i></span>
                                    <div class="rotate-box-info">
                                        <h4>Who We Are?</h4>
                                        <p>Lorem ipsum dolor sit amet set, consectetur utes anet adipisicing elit, sed do eiusmod tempor incidist.</p>
                                    </div>
                                </a>
                            </div>

                            <div class="col-md-4 col-sm-6">
                                <a class="rotate-box-1 square-icon wow zoomIn" data-wow-delay="0.2s">
                                    <span class="rotate-box-icon"><i class="fa fa-history"></i></span>
                                    <div class="rotate-box-info">
                                        <h4>What We Do?</h4>
                                        <p>Lorem ipsum dolor sit amet set, consectetur utes anet adipisicing elit, sed do eiusmod tempor incidist.</p>
                                    </div>
                                </a>
                            </div>

                            <div class="col-md-4 col-sm-6">
                                <a class="rotate-box-1 square-icon wow zoomIn" data-wow-delay="0.4s">
                                    <span class="rotate-box-icon"><i class="fa fa-shopping-cart"></i></span>
                                    <div class="rotate-box-info">
                                        <h4>Why We Do It?</h4>
                                        <p>Lorem ipsum dolor sit amet set, consectetur utes anet adipisicing elit, sed do eiusmod tempor incidist.</p>
                                    </div>
                                </a>
                            </div>


                    <div class="container">
                        <!-- Cta Button -->
                        <div class="extra-space-l"></div>
                        <div class="text-center">
                    		<a class="btn btn-default btn-lg-xl" href="http://www.imransdesign.com/" target="_blank" role="button">Large Button</a>
                        </div>
                    </div> <!-- /.container -->


                        </div> <!-- /.row -->
                    </div> <!-- /.container -->
                </div>
                <!-- End rotate box-1 -->

                <div class="extra-space-l"></div>

                <!-- End page header-->

          </section>
          <!-- End about section -->

            <!-- Begin Services -->
            <section id="services-section" class="page text-center">
                <!-- Begin page header-->
                <div class="page-header-wrapper">
                    <div class="container">
                        <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                            <h2>Services</h2>
                            <div class="devider"></div>
                            <p class="subtitle">what we really know how</p>
                        </div>
                    </div>
                </div>
                <!-- End page header-->

                <!-- Begin roatet box-2 -->
                <div class="rotate-box-2-wrapper">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 col-sm-6">
                                <a class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0">
                                    <span class="rotate-box-icon"><i class="fa fa-shopping-cart"></i></span>
                                    <div class="rotate-box-info">
                                        <h4>Rental</h4>
                                        <p>Lorem ipsum dolor sit amet set, consectetur utes anet adipisicing elit, sed do eiusmod tempor incidist.</p>
                                    </div>
                                </a>
                            </div>

                            <div class="col-md-4 col-sm-6">
                                <a class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0.2s">
                                    <span class="rotate-box-icon"><i class="fa fa-wrench"></i></span>
                                    <div class="rotate-box-info">
                                        <h4>Repair</h4>
                                        <p>Lorem ipsum dolor sit amet set, consectetur utes anet adipisicing elit, sed do eiusmod tempor incidist.</p>
                                    </div>
                                </a>
                            </div>

                            <div class="col-md-4 col-sm-6">
                                <a class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0.4s">
                                    <span class="rotate-box-icon"><i class="fa fa-comments"></i></span>
                                    <div class="rotate-box-info">
                                        <h4>Counseling</h4>
                                        <p>Lorem ipsum dolor sit amet set, consectetur utes anet adipisicing elit, sed do eiusmod tempor incidist.</p>
                                    </div>
                                </a>
                            </div>


                        </div> <!-- /.row -->
                    </div> <!-- /.container -->

                </div>
                <!-- End rotate-box-2 -->
            </section>
            <!-- End Services -->


            <!-- Begin Portfolio -->
            <section id="product" class="page bg-style1">
                 <div class="page-header-wrapper">
                        <div class="container">
                            <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                                <h2>Rental Products<h2>
                                <div class="devider"></div>
                                <p class="subtitle">Rent to Easliy & Resonably</p>
                            </div>
                        </div>
                    </div>
            		<div class="container">
			<div class="container">
<div class="well well-sm">
<strong>Category Title</strong>
<div class="btn-group" style="margin-left:20px;">
<a href="#" id="list" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-th-list">
</span>List</a> <a href="#" id="grid" class="btn btn-default btn-sm"><span
		class="glyphicon glyphicon-th"></span>Grid</a>
</div>
</div>
<div id="products" class="row list-group">
<div class="item  col-sm-6 col-lg-4">
<div class="thumbnail">
		<img class="group list-group-image" src="/img/pc/NT200B5C.jpg" alt="" />
		<div class="caption">
				<h4 class="group inner list-group-item-heading">
						Car</h4>
				<p class="group inner list-group-item-text">
						Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
						sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
				<div class="row">
						<div class="col-xs-4 col-md-6">
								<a class="btn btn-default" href="/home/car">More Information</a>
						</div>
				</div>
		</div>
</div>
</div>
<div class="item  col-sm-6 col-lg-4">
<div class="thumbnail">
		<img class="group list-group-image" src="/img/pc/NT200B5C.jpg" alt="" />
		<div class="caption">
				<h4 class="group inner list-group-item-heading">
						PC</h4>
				<p class="group inner list-group-item-text">
						Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
						sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
				<div class="row">
						<div class="col-xs-4 col-md-6">
								<a class="btn btn-default" href="/home/pc">More Information</a>
						</div>
				</div>
		</div>
</div>
</div>
<div class="item  col-sm-6 col-lg-4">
<div class="thumbnail">
		<img class="group list-group-image" src="/img/pc/NT200B5C.jpg" alt="" />
		<div class="caption">
				<h4 class="group inner list-group-item-heading">
						PhotoCopier</h4>
				<p class="group inner list-group-item-text">
						Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
						sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
				<div class="row">

						<div class="col-xs-4 col-md-6">
								<a class="btn btn-default" href="/home/copy">More Information</a>
						</div>
				</div>
		</div>
</div>
</div>
<div class="item  col-sm-6 col-lg-4">
<div class="thumbnail">
		<img class="group list-group-image" src="/img/pc/NT200B5C.jpg" alt="" />
		<div class="caption">
				<h4 class="group inner list-group-item-heading">
						Man-Lift</h4>
				<p class="group inner list-group-item-text">
						Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
						sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
				<div class="row">

						<div class="col-xs-4 col-md-6">
								<a class="btn btn-default" href="/home/manlift">More Information</a>
						</div>
				</div>
		</div>
</div>
</div>
<div class="item  col-sm-6 col-lg-4">
<div class="thumbnail">
		<img class="group list-group-image" src="/img/pc/NT200B5C.jpg" alt="" />
		<div class="caption">
				<h4 class="group inner list-group-item-heading">
						Fork-Lift</h4>
				<p class="group inner list-group-item-text">
						Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
						sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
				<div class="row">

						<div class="col-xs-4 col-md-6">
								<a class="btn btn-default" href="/home/forklift">More Information</a>
						</div>
				</div>
		</div>
</div>
</div>
<div class="item  col-sm-6 col-lg-4">
<div class="thumbnail">
		<img class="group list-group-image" src="/img/pc/NT200B5C.jpg" alt="" />
		<div class="caption">
				<h4 class="group inner list-group-item-heading">
						Printer</h4>
				<p class="group inner list-group-item-text">
						Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
						sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
				<div class="row">

						<div class="col-xs-4 col-md-6">
								<a class="btn btn-default" href="/home/printer">More Information</a>
						</div>
				</div>
		</div>
</div>
</div>
</div>
</div>

    </div>
            </section>
            <!-- End portfolio -->



        <!--
            <!-- Begin counter up
            <section id="counter-section">
				<div id="counter-up-trigger" class="counter-up text-white parallax" data-stellar-background-ratio="0.5" style="background-image: url(img/counter-bg.jpg);">
					<div class="cover"></div>
                    <!-- Begin page header
                    <div class="page-header-wrapper">
                        <div class="container">
                            <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                                <h2>Some Fun Facts</h2>
                                <div class="devider"></div>
                                <p class="subtitle">Before anyone is not told</p>
                            </div>
                        </div>
                    </div>
                    <!-- End page header
					<div class="container">

						<div class="row">

							<div class="fact text-center col-md-3 col-sm-6">
								<div class="fact-inner">
									<i class="fa fa-users fa-3x"></i>
                                    <div class="extra-space-l"></div>
									<span class="counter">6666</span>
									<p class="lead">Clients Worked With</p>
								</div>
							</div>

							<div class="fact text-center col-md-3 col-sm-6">
								<div class="fact-inner">
									<i class="fa fa-leaf fa-3x"></i>
                                    <div class="extra-space-l"></div>
									<span class="counter">800</span>
									<p class="lead">Completed Projects</p>
								</div>
							</div>

							<div class="fact text-center col-md-3 col-sm-6">
								<div class="fact-inner">
									<i class="fa fa-trophy fa-3x"></i>
                                    <div class="extra-space-l"></div>
									<span class="counter">55</span>
									<p class="lead">Winning Awards</p>
								</div>
							</div>

							<div class="fact last text-center col-md-3 col-sm-6">
								<div class="fact-inner">
									<i class="fa fa-coffee fa-3x"></i>
                                    <div class="extra-space-l"></div>
									<span class="counter">1100</span>
									<p class="lead">Cups of coffee drinking</p>
								</div>
							</div>

						</div> <!-- /.row
					</div> <!-- /.container
				</div>
            </section>
			<!-- End counter up -->

            <!-- Begin partners -->
            <section id="partners-section">
                <!-- Begin page header-->
                <div class="page-header-wrapper">
                    <div class="container">
                        <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                            <h2>Our Clients</h2>
                            <div class="devider"></div>
                            <p class="subtitle">Those who trust us</p>
                        </div>
                    </div>
                </div>
                <!-- End page header-->
                <div class="container">
                    <div id="owl-partners" class="owl-carousel">
                        <img src="img/partners/1.png" alt="img">
                        <img src="img/partners/2.png" alt="img">
                        <img src="img/partners/3.png" alt="img">
                        <img src="img/partners/4.png" alt="img">
                        <img src="img/partners/5.png" alt="img">
                        <img src="img/partners/6.png" alt="img">
                        <img src="img/partners/7.png" alt="img">
                    </div>
                </div>
            </section>
            <!-- End partners -->

            <!-- Begin prices section -->
			<section id="recruit" class="page">
                     <div class="page-header-wrapper">
                    <div class="container">
                        <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                            <h2>Recruitment</h2>
                            <div class="devider"></div>
                            <p class="subtitle">Apply IS_KOREARENTAL_VINA</p>
                        </div>
                    </div>
                </div>
					<div class="container-fluid">
					    <div class="row">
							<div class="col-md-4 col-sm-6" >
								<ul class="list-group nav" role="tablist">
									<li class="list-group-item">
										<a href="#seite1" data-toggle="tab" aria-controls="seite1" role="tab" >
										Business Management (HR / ACCOUNTING)
										</a>
									</li>
									<li class="list-group-item">
										<a href="#seite2" data-toggle="tab" aria-controls="seite2" role="tab" >
										Sales (PhotoCopier / Manlift / Car)
										</a>
									</li>
									<li class="list-group-item">
										<a href="#seite3" data-toggle="tab" aria-controls="seite2" role="tab" >
										PhotoCopier Engineer
										</a>
									</li>
									<li class="list-group-item">
										<a href="#seite4" data-toggle="tab" aria-controls="seite2" role="tab" >
										Man-lift Engineer
										</a>
									</li>
									<li class="list-group-item">
										<a href="#seite5" data-toggle="tab" aria-controls="seite2" role="tab" >
										Driver
										</a>
									</li>
								</ul>
							</div>

			<div class="col-md-8 tab-content">
						<div role="tabpanel" class="tab-pane fade" id="seite1">
								<article class="panel panel-default">
									<div class="row">
									<div class="col-md-12 col-sm-6">
									<div class="panel panel-default">
									 <div class="panel-heading">
											 Business Management
									 </div>
									 <!-- /.panel-heading -->
									 <div class="panel-body">
													 <table class="table table-hover">
															 <thead>
																	 <tr>
																			 <th>Department</th>
																			 <th>Qualification</th>
																			 <th>Preference</th>
																			 <th>Working Condition</th>
																	 </tr>
															 </thead>
															 <tbody>
																	 <tr>
																			 <td>HR</td>
																			 <td>University Graduate / Major independent , Using Office Programs</td>
																			 <td>HR Majors, Related Work Experience</td>
																			 <td>Working Area: Hanoi / Hochiminh Office
																				 <br>Working 5 days a week
																			 </td>
																	 </tr>
																	 <tr>
																			<td>ACCOUNTING</td>
																			<td>University Graduate / Major independent , Using Office Programs</td>
																			<td>AACOUNTING / Finance Majors, Related Work Experience</td>
																			<td>Working Area: Hanoi / Hochiminh Office
																				<br>Working 5 days a week
																			</td>
																	</tr>
															 </tbody>
													 </table>
											 <!-- /.table-responsive -->
									 </div>
									 <!-- /.panel-body -->
									</div>
									<!-- /.panel -->
									</div>
									</div>
								</article>
							</div>
							<div role="tabpanel" class="tab-pane fade in active" id="seite2">
								<article class="panel panel-default">
									<div class="row">
									 <div class="col-md-12">
											 <div class="panel panel-default">
													 <div class="panel-heading">
															 Sales
													 </div>
													 <!-- /.panel-heading -->
													 <div class="panel-body">
																	 <table class="table table-hover">
																			 <thead>
																					 <tr>
																							 <th>Department</th>
																							 <th>Qualification</th>
																							 <th>Preference</th>
																							 <th>Working Condition</th>
																					 </tr>
																			 </thead>
																			 <tbody>
																					 <tr>
																							 <td>PhotoCopier / PC  Sales</td>
																							 <td>University Graduate / Major independent , Using Office Programs</td>
																							 <td>Computer Technology Majors, Related Work Experience</td>
																							 <td>Working Area: Hanoi / Hochiminh Office
																								 <br>Working 5 days a week
																							 </td>
																					 </tr>
																					 <tr>
				 																			<td>Car Sales</td>
				 																			<td>University Graduate / Major independent , Using Office Programs</td>
				 																			<td>Automobile Majors, Related Work Experience</td>
				 																			<td>Working Area: Hanoi / Hochiminh Office
				 																				<br>Working 5 days a week
				 																			</td>
				 																	</tr>
																					<tr>
																						 <td>Man-Lift Sales</td>
																						 <td>University Graduate / Major independent , Using Office Programs</td>
																						 <td>Related Work Experience</td>
																						 <td>Working Area: Hanoi / Hochiminh Office
																							 <br>Working 5 days a week
																						 </td>
																				 </tr>
																			 </tbody>
																	 </table>
															 <!-- /.table-responsive -->
													 </div>
													 <!-- /.panel-body -->
											 </div>
											 <!-- /.panel -->
									 </div>
								    </div>
									</article>
								</div>
								<div role="tabpanel" class="tab-pane fade in active" id="seite3">
									<article class="panel panel-default">
										<div class="row">
										 <div class="col-md-12">
												 <div class="panel panel-default">
														 <div class="panel-heading">
																 PhotoCopier Engineer
														 </div>
														 <!-- /.panel-heading -->
														 <div class="panel-body">
																		 <table class="table table-hover">
																				 <thead>
																						 <tr>
																								 <th>Department</th>
																								 <th>Qualification</th>
																								 <th>Preference</th>
																								 <th>Working Condition</th>
																						 </tr>
																				 </thead>
																				 <tbody>
																						 <tr>
																								 <td>PhotoCopier Engineer</td>
																								 <td>University Graduate / Major independent</td>
																								 <td>Manufacturers Work Experience, Related Work Experience</td>
																								 <td>Working Area: Hanoi / Hochiminh Office
																									 <br>Working 6 days a week
																								 </td>
																						 </tr>

																				 </tbody>
																		 </table>
																 <!-- /.table-responsive -->
														 </div>
														 <!-- /.panel-body -->
												 </div>
												 <!-- /.panel -->
										 </div>
									    </div>
										</article>
									</div>
									<div role="tabpanel" class="tab-pane fade in active" id="seite4">
										<article class="panel panel-default">
											<div class="row">
											 <div class="col-md-12">
													 <div class="panel panel-default">
															 <div class="panel-heading">
																	 Man-Lift Engineer
															 </div>
															 <!-- /.panel-heading -->
															 <div class="panel-body">
																			 <table class="table table-hover">
																					 <thead>
																							 <tr>
																									 <th>Department</th>
																									 <th>Qualification</th>
																									 <th>Preference</th>
																									 <th>Working Condition</th>
																							 </tr>
																					 </thead>
																					 <tbody>
																							 <tr>
																									 <td>Man-Lift Engineer</td>
																									 <td>High School Graduate / Major independent</td>
																									 <td>Maintenance License Holders, Related Work Experience</td>
																									 <td>Working Area: Outdoor Parking lot
																										 <br>Working 6 days a week
																									 </td>
																							 </tr>

																					 </tbody>
																			 </table>
																	 <!-- /.table-responsive -->
															 </div>
															 <!-- /.panel-body -->
													 </div>
													 <!-- /.panel -->
											 </div>
										    </div>
											</article>
										</div>
										<div role="tabpanel" class="tab-pane fade in active" id="seite5">
											<article class="panel panel-default">
												<div class="row">
												 <div class="col-md-12">
														 <div class="panel panel-default">
																 <div class="panel-heading">
																		 Driver
																 </div>
																 <!-- /.panel-heading -->
																 <div class="panel-body">
																				 <table class="table table-hover">
																						 <thead>
																								 <tr>
																										 <th>Department</th>
																										 <th>Qualification</th>
																										 <th>Preference</th>
																										 <th>Working Condition</th>
																								 </tr>
																						 </thead>
																						 <tbody>
																								 <tr>
																										 <td>Driver</td>
																										 <td>More than 2 years driving experience, 25 years over</td>
																										 <td>Level D Licensing Holdings, Driving Experience 5 years over, Rental Car Driver Work Experience</td>
																										 <td>Working Area: Depending on the customer's request
																											 <br>Working 6 days a week and Providing OT
																										 </td>
																								 </tr>

																						 </tbody>
																				 </table>
																		 <!-- /.table-responsive -->
																 </div>
																 <!-- /.panel-body -->
														 </div>
														 <!-- /.panel -->
												 </div>
											    </div>
												</article>
											</div>



						</div>
					</div>

				<div class="extra-space-l"></div>
			</section>
			<!-- End prices section -->




<!-- Begin testimonials -->
            <section id="testimonial-section">
                <div id="testimonial-trigger" class="testimonial text-white parallax" data-stellar-background-ratio="0.5" style="background-image: url(img/testimonial-bg.jpg);">
                    <div class="cover"></div>
                    <!-- Begin page header-->
                    <div class="page-header-wrapper">
                        <div class="container">
                            <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                                <h2>Our Location</h2>
                                <div class="devider"></div>
                                <p class="subtitle">Hanoi & Hochiminh</p>
                            </div>
                        </div>
                    </div>
                    <!-- End page header-->
                    <div class="container">
                        <div class="testimonial-inner center-block text-center">
                            <div id="owl-testimonial" class="owl-carousel">
                                <div class="item">
                                    <blockquote>
                                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.397121886777!2d105.78198556501896!3d21.01679043600487!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab54e29650c5%3A0x453b5c2a98dc5e98!2z6rK964KoIO2VmOuFuOydtCDrnpzrk5zrp4jtgawg7YOA7JuMIEtlYW5nbmFtLCBN4buFIFRyw6wsIFThu6sgTGnDqm0sIEjDoCBO4buZaSwg67Kg7Yq464Ko!5e0!3m2!1sko!2skr!4v1478504326355"
					width="1500" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                                    </blockquote>
                                </div>
                                <div class="item">
                                    <blockquote>
                                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.3806698532544!2d106.70350971489194!3d10.782128692317649!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f494ab1a7ab%3A0xca5d3f36e8edd13!2zQ0ogQnVpbGRpbmcsIEzDqiBUaMOhbmggVMO0biwgQuG6v24gTmdow6ksIFF14bqtbiAxLCBI4buTIENow60gTWluaCwg67Kg7Yq464Ko!5e0!3m2!1sko!2skr!4v1478504391172"
 						width="1500" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                                    </blockquote>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End testimonials -->




            <!-- Begin contact section -->
			<section id="contact-section" class="page text-white parallax" data-stellar-background-ratio="0.5" style="background-image: url(img/map-bg.jpg);">
            <div class="cover"></div>

                 <!-- Begin page header-->
                <div class="page-header-wrapper">
                    <div class="container">
                        <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                            <h2>Contacts</h2>
                            <div class="devider"></div>
                            <p class="subtitle">All to contact us</p>
                        </div>
                    </div>
                </div>
                <!-- End page header-->

                <div class="contact wow bounceInRight" data-wow-delay="0.4s">
                    <div class="container">
                    	<div class="row">

                            <div class="col-sm-6">
                                <div class="contact-info">
                                    <h4>Our Address</h4>
                                    <ul class="contact-address">
			                            <li><i class="fa fa-map-marker fa-lg"></i>&nbsp; Head Office: <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;14th Floor, Keangnam Hanoi Landmark Tower, plot Ê, Cau Giay new urban area, Me &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;tri,Nam Tu Liem, Hanoi.</li>
			                            <li><i class="fa fa-map-marker fa-lg"></i>&nbsp; HCM Branch: <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6F, CJ Building 2Bis-4-6 Le Thanh Ton, Ben Nghe Ward, Dist 1</li>
			                            <li><i class="fa fa-phone"></i>&nbsp; 1 -234 -456 -7890</li>
			                            <li><i class="fa fa-print"></i>&nbsp; 1 -234 -456 -7890</li>
			                            <li><i class="fa fa-envelope"></i> duanea0606@gmail.com</li>
			                            <li><i class="fa fa-skype"></i> Unika-Design</li>
			                        </ul>
                                </div>
                            </div>

                        	<div class="col-sm-6">
                                <div class="contact-form">
                                	<h4>Write to us</h4>
                                    <form role="form" action="/home/write">
                                        <div class="form-group">
                                            <input type="text" class="form-control input-lg" name="name" placeholder="Your Name" required>
                                        </div>
                                        <div class="form-group">
                                            <input type="email" class="form-control input-lg" name="email" placeholder="E-mail" required>
                                        </div>
                                        <div class="form-group">
                                            <textarea class="form-control input-lg" rows="5" name="content" placeholder="Message" required></textarea>
                                        </div>
                                        <button type="submit" class="btn wow bounceInRight" data-wow-delay="0.8s">Send</button>
                                    </form>
                                </div>
                            </div>

                        </div> <!-- /.row -->
                    </div> <!-- /.container -->
                </div>
            </section>
            <!-- End contact section -->




            <!-- Begin footer -->
            <footer class="text-off-white">

                <div class="footer-top">
                	<div class="container">
                    	<div class="row wow bounceInLeft" data-wow-delay="0.4s">

                            <div class="col-sm-6 col-md-4">
                            	<h4>Useful Links</h4>
                                <ul class="imp-links">
                                    	<li><a class="page-scroll" href="#about">About</a></li>
                           			 	<li><a class="page-scroll" href="#product">Rental Products</a></li>
                           				<li><a class="page-scroll" href="#recruit">Recruitment</a></li>
                            			<li><a class="page-scroll" href="#contact">Contact</a></li>
                                </ul>
                            </div>

                        	<div class="col-sm-6 col-md-4">
                                <h4>Subscribe</h4>
                            	<div id="footer_signup">
                                    <div id="email">
                                        <form id="subscribe" method="POST">
                                            <input type="text" placeholder="Enter email address" name="email" id="address" data-validate="validate(required, email)"/>
                                            <button type="submit">Submit</button>
                                            <span id="result" class="section-description"></span>
                                        </form>
                                    </div>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>

                            <div class="col-sm-12 col-md-4">
                                <h4>Recent Tweets</h4>
                                <div class="single-tweet">
                                    <div class="tweet-content"><span>@Unika</span> Excepteur sint occaecat cupidatat non proident</div>
                                    <div class="tweet-date">1 Hour ago</div>
                                </div>
                                <div class="single-tweet">
                                    <div class="tweet-content"><span>@Unika</span> Excepteur sint occaecat cupidatat non proident uku shumaru</div>
                                    <div class="tweet-date">1 Hour ago</div>
                                </div>
                            </div>

                        </div> <!-- /.row -->
                    </div> <!-- /.container -->
                </div>

                <div class="footer">
                    <div class="container text-center wow fadeIn" data-wow-delay="0.4s">
                        <p class="copyright">Copyright &copy; 2015 - Designed By <a href="https://www.behance.net/poljakova" class="theme-author">Veronika Poljakova</a> &amp; Developed by <a href="http://www.imransdesign.com/" class="theme-author">Imransdesign</a></p>
                    </div>
                </div>

            </footer>
            <!-- End footer -->

            <a href="#" class="scrolltotop"><i class="fa fa-arrow-up"></i></a> <!-- Scroll to top button -->

        </div><!-- body ends -->



    <!-- product section-->
<script>
$(document).ready(function() {
    $('#list').click(function(event){event.preventDefault();$('#products .item').addClass('list-group-item');});
    $('#grid').click(function(event){event.preventDefault();$('#products .item').removeClass('list-group-item');$('#products .item').addClass('grid-group-item');});
});
</script>


    </body>


</html>
