<!doctype html>

<html lang="en-US">
	<head>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Unika - Responsive One Page HTML5 Template</title>
		<meta name="description" content="Unika - Responsive One Page HTML5 Template">
		<meta name="keywords" content="HTML5, Bootsrtrap, One Page, Responsive, Template, Portfolio" />
		<meta name="author" content="imransdesign.com">

		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Google Fonts  -->
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,700,500' rel='stylesheet' type='text/css'> <!-- Body font -->
		<link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'> <!-- Navbar font -->
		<!-- Libs and Plugins CSS -->
		<link rel="stylesheet" href="/assets/bootstrap.min.css">
		<link rel="stylesheet" href="/assets/animate.min.css">
		<link rel="stylesheet" href="/assets/font-awesome.min.css"> <!-- Font Icons -->
		<link rel="stylesheet" href="/assets/owl.carousel.css">
		<link rel="stylesheet" href="/assets/owl.theme.css">

		<!-- Theme CSS -->
    <link rel="stylesheet" href="/assets/reset.css">
		<link rel="stylesheet" href="/assets/style.css">
		<link rel="stylesheet" href="/assets/mobile.css">

	</head>

    <body data-spy="scroll" data-target="#main-navbar">
      <!--  <div class="page-loader"></div>  <!-- Display loading image while page loads -->
    	<div class="body">

            <!--========== BEGIN HEADER ==========-->
            <header id="header" class="header-main">

                <!-- Begin Navbar -->
                <nav id="main-navbar" class="navbar navbar-default navbar-fixed-top" role="navigation"> <!-- Classes: navbar-default, navbar-inverse, navbar-fixed-top, navbar-fixed-bottom, navbar-transparent. Note: If you use non-transparent navbar, set "height: 98px;" to #header -->

                  <div class="container">

                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                      <a class="navbar-brand page-scroll" href="index.html">IS_KOREARENTAL_VINA</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <!--<li><a class="page-scroll" href="header">Home</a></li>-->
                            <li><a class="page-scroll" href="#about-section">About</a></li>
                            <li><a class="page-scroll" href="#product-section">Rental Products</a></li>
                            <li><a class="page-scroll" href="#recruit-section">Recruitment</a></li>
                            <!--<li><a class="page-scroll" href="#team-section">Team</a></li>-->
                            <!--<li><a class="page-scroll" href="#prices-section">Prices</a></li>-->
                            <li><a class="page-scroll" href="#contact-section">Contact</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                  </div><!-- /.container -->
                </nav>
                <!-- End Navbar -->

            </header>
            <!-- ========= END HEADER =========-->




        	<!-- Begin text carousel intro section -->
			<section id="text-carousel-intro-section" class="parallax" data-stellar-background-ratio="0.5" style="background-image: url(img/slider-bg.jpg);">

				<div class="container">
					<div class="caption text-center text-white" data-stellar-ratio="0.7">

						<div id="owl-intro-text" class="owl-carousel">
							<div class="item">
								<h1>We have Awesome things</h1>
								<p>Let's make the web beautiful together</p>
                                <div class="extra-space-l"></div>
								<a class="btn btn-blank" href="https://creativemarket.com/Themetorium" target="_blank" role="button">View More!</a>
							</div>
							<div class="item">
								<h1>Join with us</h1>
								<p>To the greatest Journey</p>
								<div class="extra-space-l"></div>
								<a class="btn btn-blank" href="https://creativemarket.com/Themetorium" target="_blank" role="button">View More!</a>
							</div>
							<div class="item">
								<h1>I'm Unika</h1>
								<p>One Page Responsive Theme</p>
								<div class="extra-space-l"></div>
								<a class="btn btn-blank" href="https://creativemarket.com/Themetorium" target="_blank" role="button">View More!</a>
							</div>
						</div>

					</div> <!-- /.caption -->
				</div> <!-- /.container -->

			</section>
			<!-- End text carousel intro section -->




            <!-- Begin about section -->
			<section id="about-section" class="page bg-style1">
                <!-- Begin page header-->
                <div class="page-header-wrapper">
                    <div class="container">
                        <div class="page-header text-center wow fadeInUp" data-wow-delay="0.3s">
                            <h2>About</h2>
                            <div class="devider"></div>
                            <p class="subtitle">little information</p>
                        </div>
                    </div>
                </div>
                <!-- End page header-->

                <!-- Begin rotate box-1 -->
                <div class="rotate-box-1-wrapper">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 col-sm-6">
                                <a href="" class="rotate-box-1 square-icon wow zoomIn" data-wow-delay="0">
                                    <span class="rotate-box-icon"><i class="fa fa-users"></i></span>
                                    <div class="rotate-box-info">
                                        <h4>Group Vision</h4>
                                        <p>Lorem ipsum dolor sit amet set, consectetur utes anet adipisicing elit, sed do eiusmod tempor incidist.</p>
                                    </div>
                                </a>
                            </div>

                            <div class="col-md-4 col-sm-6">
                                <a href="" class="rotate-box-1 square-icon wow zoomIn" data-wow-delay="0.2s">
                                    <span class="rotate-box-icon"><i class="fa fa-diamond"></i></span>
                                    <div class="rotate-box-info">
                                        <h4>History</h4>
                                        <p>Lorem ipsum dolor sit amet set, consectetur utes anet adipisicing elit, sed do eiusmod tempor incidist.</p>
                                    </div>
                                </a>
                            </div>

                            <div class="col-md-4 col-sm-6">
                                <a href="" class="rotate-box-1 square-icon wow zoomIn" data-wow-delay="0.4s">
                                    <span class="rotate-box-icon"><i class="fa fa-heart"></i></span>
                                    <div class="rotate-box-info">
                                        <h4>Rental System</h4>
                                        <p>Lorem ipsum dolor sit amet set, consectetur utes anet adipisicing elit, sed do eiusmod tempor incidist.</p>
                                    </div>
                                </a>
                            </div>
                        </div> <!-- /.row -->
                    </div> <!-- /.container -->
                </div>
                <!-- End rotate box-1 -->

                <div class="extra-space-l"></div>

                <!-- Begin page header-->
                <div class="page-header-wrapper">
                    <div class="container">
                        <div class="page-header text-center wow fadeInUp" data-wow-delay="0.3s">
                            <h4>Our Skills</h4>
                        </div>
                    </div>
                </div>
                <!-- End page header-->

                <!-- Begin Our Skills -->
                <div class="our-skills">
                	<div class="container">
                    	<div class="row">

                        	<div class="col-sm-6">
                                <div class="skill-bar wow slideInLeft" data-wow-delay="0.2s">
                                    <div class="progress-lebel">
                                        <h6>Photoshop & Illustrator</h6>
                                    </div>
                                    <div class="progress">
                                      <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
                                      </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="skill-bar wow slideInRight" data-wow-delay="0.2s">
                                    <div class="progress-lebel">
                                        <h6>WordPress</h6>
                                    </div>
                                    <div class="progress">
                                      <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%;">
                                      </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="skill-bar wow slideInLeft" data-wow-delay="0.4s">
                                    <div class="progress-lebel">
                                        <h6>Html & Css</h6>
                                    </div>
                                    <div class="progress">
                                      <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%;">
                                      </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="skill-bar wow slideInRight" data-wow-delay="0.4s">
                                    <div class="progress-lebel">
                                        <h6>Javascript</h6>
                                    </div>
                                    <div class="progress">
                                      <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
                                      </div>
                                    </div>
                                </div>
                            </div>

                        </div> <!-- /.row -->
                    </div> <!-- /.container -->
                </div>
                <!-- End Our Skill -->
          </section>
          <!-- End about section -->




          <!-- Begin cta -->
          <section id="cta-section">
          	<div class="cta">
            	<div class="container">
                	<div class="row">

                    	<div class="col-md-9">
                        	<h1>Download Our Pdf</h1>
                            <p>Inspired by nature, follow technology, appreciate the classics. You can build modern & professional websites with Unika. The possibilities are just endless.</p>
                        </div>

                        <div class="col-md-3">
                        	<div class="cta-btn wow bounceInRight" data-wow-delay="0.4s">
                        <a class="btn btn-default btn-lg" href="http://www.imransdesign.com/" target="_blank" role="button">Download</a>
                        	</div>
                        </div>

                    </div> <!-- /.row -->
                </div> <!-- /.container -->
            </div>
          </section>
          <!-- End cta -->




            <!-- Begin Services -->
            <section id="services-section" class="page text-center">
                <!-- Begin page header-->
                <div class="page-header-wrapper">
                    <div class="container">
                        <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                            <h2>Services</h2>
                            <div class="devider"></div>
                            <p class="subtitle">what we really know how</p>
                        </div>
                    </div>
                </div>
                <!-- End page header-->

                <!-- Begin roatet box-2 -->
                <div class="rotate-box-2-wrapper">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3 col-sm-6">
                                <a href="#" class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0">
                                    <span class="rotate-box-icon"><i class="fa fa-mobile"></i></span>
                                    <div class="rotate-box-info">
                                        <h4>App Development</h4>
                                        <p>Lorem ipsum dolor sit amet set, consectetur utes anet adipisicing elit, sed do eiusmod tempor incidist.</p>
                                    </div>
                                </a>
                            </div>

                            <div class="col-md-3 col-sm-6">
                                <a href="#" class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0.2s">
                                    <span class="rotate-box-icon"><i class="fa fa-pie-chart"></i></span>
                                    <div class="rotate-box-info">
                                        <h4>Ui Design</h4>
                                        <p>Lorem ipsum dolor sit amet set, consectetur utes anet adipisicing elit, sed do eiusmod tempor incidist.</p>
                                    </div>
                                </a>
                            </div>

                            <div class="col-md-3 col-sm-6">
                                <a href="#" class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0.4s">
                                    <span class="rotate-box-icon"><i class="fa fa-cloud"></i></span>
                                    <div class="rotate-box-info">
                                        <h4>Cloud Hosting</h4>
                                        <p>Lorem ipsum dolor sit amet set, consectetur utes anet adipisicing elit, sed do eiusmod tempor incidist.</p>
                                    </div>
                                </a>
                            </div>

                            <div class="col-md-3 col-sm-6">
                                <a href="#" class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0.6s">
                                    <span class="rotate-box-icon"><i class="fa fa-pencil"></i></span>
                                    <div class="rotate-box-info">
                                        <h4>Coding Pen</h4>
                                        <p>Lorem ipsum dolor sit amet set, consectetur utes anet adipisicing elit, sed do eiusmod tempor incidist.</p>
                                    </div>
                                </a>
                            </div>

                        </div> <!-- /.row -->
                    </div> <!-- /.container -->

                    <div class="container">
                        <!-- Cta Button -->
                        <div class="extra-space-l"></div>
                        <div class="text-center">
                    		<a class="btn btn-default btn-lg-xl" href="http://www.imransdesign.com/" target="_blank" role="button">Large Button</a>
                        </div>
                    </div> <!-- /.container -->
                </div>
                <!-- End rotate-box-2 -->
            </section>
            <!-- End Services -->


            <!-- Begin Portfolio -->
            <section id="product-section" class="page bg-style1">
            	<div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="portfolio">
                                <!-- Begin page header-->
                                <div class="page-header-wrapper">
                                    <div class="container">
                                        <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                                            <h2>Rental Products</h2>
                                            <div class="devider"></div>
                                            <p class="subtitle">Rent to easily & Reasonably</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- End page header-->
																<div class="well well-sm">
<strong>Category Title</strong>
<div class="btn-group" style="margin-left:20px;">
<a href="#" id="list" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-th-list">
</span>List</a> <a href="#" id="grid" class="btn btn-default btn-sm"><span
		class="glyphicon glyphicon-th"></span>Grid</a>
</div>
</div>
<div id="products" class="row list-group">
<div class="item  col-sm-6 col-lg-4">
<div class="thumbnail">
		<img class="group list-group-image" src="/img/pc/NT200B5C.jpg" alt="" />
		<div class="caption">
				<h4 class="group inner list-group-item-heading">
						Car</h4>
				<p class="group inner list-group-item-text">
						Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
						sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
				<div class="row">
						<div class="col-xs-4 col-md-6">
								<a class="btn btn-default" href="/home/car">More Information</a>
						</div>
				</div>
		</div>
</div>
</div>
<div class="item  col-sm-6 col-lg-4">
<div class="thumbnail">
		<img class="group list-group-image" src="/img/pc/NT200B5C.jpg" alt="" />
		<div class="caption">
				<h4 class="group inner list-group-item-heading">
						PC</h4>
				<p class="group inner list-group-item-text">
						Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
						sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
				<div class="row">
						<div class="col-xs-4 col-md-6">
								<a class="btn btn-default" href="/home/pc">More Information</a>
						</div>
				</div>
		</div>
</div>
</div>
<div class="item  col-sm-6 col-lg-4">
<div class="thumbnail">
		<img class="group list-group-image" src="/img/pc/NT200B5C.jpg" alt="" />
		<div class="caption">
				<h4 class="group inner list-group-item-heading">
						PhotoCopier</h4>
				<p class="group inner list-group-item-text">
						Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
						sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
				<div class="row">

						<div class="col-xs-4 col-md-6">
								<a class="btn btn-default" href="/home/copy">More Information</a>
						</div>
				</div>
		</div>
</div>
</div>
<div class="item  col-sm-6 col-lg-4">
<div class="thumbnail">
		<img class="group list-group-image" src="/img/pc/NT200B5C.jpg" alt="" />
		<div class="caption">
				<h4 class="group inner list-group-item-heading">
						Man-Lift</h4>
				<p class="group inner list-group-item-text">
						Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
						sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
				<div class="row">

						<div class="col-xs-4 col-md-6">
								<a class="btn btn-default" href="/home/manlift">More Information</a>
						</div>
				</div>
		</div>
</div>
</div>
<div class="item  col-sm-6 col-lg-4">
<div class="thumbnail">
		<img class="group list-group-image" src="/img/pc/NT200B5C.jpg" alt="" />
		<div class="caption">
				<h4 class="group inner list-group-item-heading">
						Fork-Lift</h4>
				<p class="group inner list-group-item-text">
						Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
						sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
				<div class="row">

						<div class="col-xs-4 col-md-6">
								<a class="btn btn-default" href="/home/forklift">More Information</a>
						</div>
				</div>
		</div>
</div>
</div>
<div class="item  col-sm-6 col-lg-4">
<div class="thumbnail">
		<img class="group list-group-image" src="/img/pc/NT200B5C.jpg" alt="" />
		<div class="caption">
				<h4 class="group inner list-group-item-heading">
						Printer</h4>
				<p class="group inner list-group-item-text">
						Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
						sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
				<div class="row">

						<div class="col-xs-4 col-md-6">
								<a class="btn btn-default" href="/home/printer">More Information</a>
						</div>
				</div>
		</div>
</div>
</div>
  </div><!-- id product -->

  </section>
        <!-- End portfolio -->
						<!-- product section-->
<script>
$(document).ready(function() {
    $('#list').click(function(event){event.preventDefault();$('#products .item').addClass('list-group-item');});
    $('#grid').click(function(event){event.preventDefault();$('#products .item').removeClass('list-group-item');$('#products .item').addClass('grid-group-item');});
});
</script>




            <!-- Begin counter up -->
            <section id="counter-section">
				<div id="counter-up-trigger" class="counter-up text-white parallax" data-stellar-background-ratio="0.5" style="background-image: url(img/counter-bg.jpg);">
					<div class="cover"></div>
                    <!-- Begin page header-->
                    <div class="page-header-wrapper">
                        <div class="container">
                            <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                                <h2>Some Fun Facts</h2>
                                <div class="devider"></div>
                                <p class="subtitle">Before anyone is not told</p>
                            </div>
                        </div>
                    </div>
                    <!-- End page header-->
					<div class="container">

						<div class="row">

							<div class="fact text-center col-md-3 col-sm-6">
								<div class="fact-inner">
									<i class="fa fa-users fa-3x"></i>
                                    <div class="extra-space-l"></div>
									<span class="counter">6666</span>
									<p class="lead">Clients Worked With</p>
								</div>
							</div>

							<div class="fact text-center col-md-3 col-sm-6">
								<div class="fact-inner">
									<i class="fa fa-leaf fa-3x"></i>
                                    <div class="extra-space-l"></div>
									<span class="counter">800</span>
									<p class="lead">Completed Projects</p>
								</div>
							</div>

							<div class="fact text-center col-md-3 col-sm-6">
								<div class="fact-inner">
									<i class="fa fa-trophy fa-3x"></i>
                                    <div class="extra-space-l"></div>
									<span class="counter">55</span>
									<p class="lead">Winning Awards</p>
								</div>
							</div>

							<div class="fact last text-center col-md-3 col-sm-6">
								<div class="fact-inner">
									<i class="fa fa-coffee fa-3x"></i>
                                    <div class="extra-space-l"></div>
									<span class="counter">1100</span>
									<p class="lead">Cups of coffee drinking</p>
								</div>
							</div>

						</div> <!-- /.row -->
					</div> <!-- /.container -->
				</div>
            </section>
			<!-- End counter up -->




            <!-- Begin team-->
            <section id="team-section" class="page">
                <!-- Begin page header-->
                <div class="page-header-wrapper">
                    <div class="container">
                        <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                            <h2>Our Team</h2>
                            <div class="devider"></div>
                            <p class="subtitle">Meat our experts</p>
                        </div>
                    </div>
                </div>
                <!-- End page header-->
                <div class="container">
                    <div class="row">
                        <div class="team-items">
                            <div class="col-md-2">
                                <div class="team-container wow bounceIn" data-wow-delay="0.2s">
                                    <div class="team-item">
                                        <div class="team-triangle">
                                            <div class="content">
                                                <img src="img/team/1.jpg" alt="title"/>
                                                <div class="team-hover text-center">
                                                    <i class="fa fa-male"></i>
                                                    <p>John Doe</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="team-container wow bounceIn" data-wow-delay="0.3s">
                                    <div class="team-item">
                                        <div class="team-triangle">
                                            <div class="content">
                                                <img src="img/team/1.jpg" alt="title"/>
                                                <div class="team-hover text-center">
                                                    <i class="fa fa-female"></i>
                                                    <p>Jane Doe</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="team-container wow bounceIn" data-wow-delay="0.4s">
                                    <div class="team-item">
                                        <div class="team-triangle">
                                            <div class="content">
                                                <img src="img/team/1.jpg" alt="title"/>
                                                <div class="team-hover text-center">
                                                    <i class="fa fa-male"></i>
                                                    <p>John Doe</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="team-container wow bounceIn" data-wow-delay="0.5s">
                                    <div class="team-item">
                                        <div class="team-triangle">
                                            <div class="content">
                                                <img src="img/team/1.jpg" alt="title"/>
                                                <div class="team-hover text-center">
                                                    <i class="fa fa-male"></i>
                                                    <p>John Doe</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="team-container wow bounceIn" data-wow-delay="0.6s">
                                    <div class="team-item">
                                        <div class="team-triangle">
                                            <div class="content">
                                                <img src="img/team/1.jpg" alt="title"/>
                                                <div class="team-hover text-center">
                                                    <i class="fa fa-male"></i>
                                                    <p>John Doe</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="team-container wow bounceIn" data-wow-delay="0.7s">
                                    <div class="team-item">
                                        <div class="team-triangle">
                                            <div class="content">
                                                <img src="img/team/1.jpg" alt="title"/>
                                                <div class="team-hover text-center">
                                                    <i class="fa fa-male"></i>
                                                    <p>John Doe</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="team-container wow bounceIn" data-wow-delay="0.8s">
                                    <div class="team-item">
                                        <div class="team-triangle">
                                            <div class="content">
                                                <img src="img/team/1.jpg" alt="title"/>
                                                <div class="team-hover text-center">
                                                    <i class="fa fa-female"></i>
                                                    <p>Jane Doe</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>

            </section>
            <!-- End team-->




            <!-- Begin partners -->
            <section id="partners-section">
                <!-- Begin page header-->
                <div class="page-header-wrapper">
                    <div class="container">
                        <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                            <h2>Our Partners</h2>
                            <div class="devider"></div>
                            <p class="subtitle">Those who trust us</p>
                        </div>
                    </div>
                </div>
                <!-- End page header-->
                <div class="container">
                    <div id="owl-partners" class="owl-carousel">
                        <img src="img/partners/1.png" alt="img">
                        <img src="img/partners/2.png" alt="img">
                        <img src="img/partners/3.png" alt="img">
                        <img src="img/partners/4.png" alt="img">
                        <img src="img/partners/5.png" alt="img">
                        <img src="img/partners/6.png" alt="img">
                        <img src="img/partners/7.png" alt="img">
                    </div>
                </div>
            </section>
            <!-- End partners -->




            <!-- Begin prices section -->
			<section id="recruit-section" class="page">

                <!-- Begin page header-->
                <div class="page-header-wrapper">
                    <div class="container">
                        <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                            <h2>Recruitment</h2>
                            <div class="devider"></div>
                            <p class="subtitle">Apply To IS_KOREARENTAL_VINA</p>
                        </div>
                    </div>
                </div>
                <!-- End page header-->

				<div class="extra-space-l"></div>

				<div class="container-fluid">
					    <div class="row">
							<div class="col-md-4" >
								<ul class="list-group nav" role="tablist">
									<li class="list-group-item">
										<a href="#seite1" data-toggle="tab" aria-controls="seite1" role="tab" >
										Business Management (HR / ACCOUNTING)
										</a>
									</li>
									<li class="list-group-item">
										<a href="#seite2" data-toggle="tab" aria-controls="seite2" role="tab" >
										Sales (PhotoCopier / Manlift / Car)
										</a>
									</li>
									<li class="list-group-item">
										<a href="#seite3" data-toggle="tab" aria-controls="seite2" role="tab" >
										PhotoCopier Engineer
										</a>
									</li>
									<li class="list-group-item">
										<a href="#seite4" data-toggle="tab" aria-controls="seite2" role="tab" >
										Man-lift Engineer
										</a>
									</li>
									<li class="list-group-item">
										<a href="#seite5" data-toggle="tab" aria-controls="seite2" role="tab" >
										Driver
										</a>
									</li>
								</ul>
							</div>

			<div class="col-md-8 tab-content">
						<div role="tabpanel" class="tab-pane fade" id="seite1">
								<article class="panel panel-default">
									<div class="row">
									<div class="col-md-12">
									<div class="panel panel-default">
									 <div class="panel-heading">
											 Business Management
									 </div>
									 <!-- /.panel-heading -->
									 <div class="panel-body">
													 <table class="table table-hover">
															 <thead>
																	 <tr>
																			 <th>Department</th>
																			 <th>Qualification</th>
																			 <th>Preference</th>
																			 <th>Working Condition</th>
																	 </tr>
															 </thead>
															 <tbody>
																	 <tr>
																			 <td>HR</td>
																			 <td>University Graduate / Major independent , Using Office Programs</td>
																			 <td>HR Majors, Related Work Experience</td>
																			 <td>Working Area: Hanoi / Hochiminh Office
																				 <br>Working 5 days a week
																			 </td>
																	 </tr>
																	 <tr>
																			<td>ACCOUNTING</td>
																			<td>University Graduate / Major independent , Using Office Programs</td>
																			<td>AACOUNTING / Finance Majors, Related Work Experience</td>
																			<td>Working Area: Hanoi / Hochiminh Office
																				<br>Working 5 days a week
																			</td>
																	</tr>
															 </tbody>
													 </table>
											 <!-- /.table-responsive -->
									 </div>
									 <!-- /.panel-body -->
									</div>
									<!-- /.panel -->
									</div>
									</div>
								</article>
							</div>
							<div role="tabpanel" class="tab-pane fade in active" id="seite2">
								<article class="panel panel-default">
									<div class="row">
									 <div class="col-md-12">
											 <div class="panel panel-default">
													 <div class="panel-heading">
															 Sales
													 </div>
													 <!-- /.panel-heading -->
													 <div class="panel-body">
																	 <table class="table table-hover">
																			 <thead>
																					 <tr>
																							 <th>Department</th>
																							 <th>Qualification</th>
																							 <th>Preference</th>
																							 <th>Working Condition</th>
																					 </tr>
																			 </thead>
																			 <tbody>
																					 <tr>
																							 <td>PhotoCopier / PC  Sales</td>
																							 <td>University Graduate / Major independent , Using Office Programs</td>
																							 <td>Computer Technology Majors, Related Work Experience</td>
																							 <td>Working Area: Hanoi / Hochiminh Office
																								 <br>Working 5 days a week
																							 </td>
																					 </tr>
																					 <tr>
				 																			<td>Car Sales</td>
				 																			<td>University Graduate / Major independent , Using Office Programs</td>
				 																			<td>Automobile Majors, Related Work Experience</td>
				 																			<td>Working Area: Hanoi / Hochiminh Office
				 																				<br>Working 5 days a week
				 																			</td>
				 																	</tr>
																					<tr>
																						 <td>Man-Lift Sales</td>
																						 <td>University Graduate / Major independent , Using Office Programs</td>
																						 <td>Related Work Experience</td>
																						 <td>Working Area: Hanoi / Hochiminh Office
																							 <br>Working 5 days a week
																						 </td>
																				 </tr>
																			 </tbody>
																	 </table>
															 <!-- /.table-responsive -->
													 </div>
													 <!-- /.panel-body -->
											 </div>
											 <!-- /.panel -->
									 </div>
								    </div>
									</article>
								</div>
								<div role="tabpanel" class="tab-pane fade in active" id="seite3">
									<article class="panel panel-default">
										<div class="row">
										 <div class="col-md-12">
												 <div class="panel panel-default">
														 <div class="panel-heading">
																 PhotoCopier Engineer
														 </div>
														 <!-- /.panel-heading -->
														 <div class="panel-body">
																		 <table class="table table-hover">
																				 <thead>
																						 <tr>
																								 <th>Department</th>
																								 <th>Qualification</th>
																								 <th>Preference</th>
																								 <th>Working Condition</th>
																						 </tr>
																				 </thead>
																				 <tbody>
																						 <tr>
																								 <td>PhotoCopier Engineer</td>
																								 <td>University Graduate / Major independent</td>
																								 <td>Manufacturers Work Experience, Related Work Experience</td>
																								 <td>Working Area: Hanoi / Hochiminh Office
																									 <br>Working 6 days a week
																								 </td>
																						 </tr>

																				 </tbody>
																		 </table>
																 <!-- /.table-responsive -->
														 </div>
														 <!-- /.panel-body -->
												 </div>
												 <!-- /.panel -->
										 </div>
									    </div>
										</article>
									</div>
									<div role="tabpanel" class="tab-pane fade in active" id="seite4">
										<article class="panel panel-default">
											<div class="row">
											 <div class="col-md-12">
													 <div class="panel panel-default">
															 <div class="panel-heading">
																	 Man-Lift Engineer
															 </div>
															 <!-- /.panel-heading -->
															 <div class="panel-body">
																			 <table class="table table-hover">
																					 <thead>
																							 <tr>
																									 <th>Department</th>
																									 <th>Qualification</th>
																									 <th>Preference</th>
																									 <th>Working Condition</th>
																							 </tr>
																					 </thead>
																					 <tbody>
																							 <tr>
																									 <td>Man-Lift Engineer</td>
																									 <td>High School Graduate / Major independent</td>
																									 <td>Maintenance License Holders, Related Work Experience</td>
																									 <td>Working Area: Outdoor Parking lot
																										 <br>Working 6 days a week
																									 </td>
																							 </tr>

																					 </tbody>
																			 </table>
																	 <!-- /.table-responsive -->
															 </div>
															 <!-- /.panel-body -->
													 </div>
													 <!-- /.panel -->
											 </div>
										    </div>
											</article>
										</div>
										<div role="tabpanel" class="tab-pane fade in active" id="seite5">
											<article class="panel panel-default">
												<div class="row">
												 <div class="col-md-12">
														 <div class="panel panel-default">
																 <div class="panel-heading">
																		 Driver
																 </div>
																 <!-- /.panel-heading -->
																 <div class="panel-body">
																				 <table class="table table-hover">
																						 <thead>
																								 <tr>
																										 <th>Department</th>
																										 <th>Qualification</th>
																										 <th>Preference</th>
																										 <th>Working Condition</th>
																								 </tr>
																						 </thead>
																						 <tbody>
																								 <tr>
																										 <td>Driver</td>
																										 <td>More than 2 years driving experience, 25 years over</td>
																										 <td>Level D Licensing Holdings, Driving Experience 5 years over, Rental Car Driver Work Experience</td>
																										 <td>Working Area: Depending on the customer's request
																											 <br>Working 6 days a week and Providing OT
																										 </td>
																								 </tr>

																						 </tbody>
																				 </table>
																		 <!-- /.table-responsive -->
																 </div>
																 <!-- /.panel-body -->
														 </div>
														 <!-- /.panel -->
												 </div>
											    </div>
												</article>
											</div>
						</div>
					</div>
				<!-- End prices -->
				<div class="extra-space-l"></div>
			</section>
			<!-- End prices section -->
			<!-- Begin testimonials -->
			<section id="testimonial-section">
					<div id="testimonial-trigger" class="testimonial text-white parallax" data-stellar-background-ratio="0.5" style="background-image: url(img/map-bg.jpg);">
							<div class="cover"></div>
							<!-- Begin page header-->
							<div class="page-header-wrapper">
									<div class="container">
											<div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
													<h2>Our Location</h2>
													<div class="devider"></div>
													<p class="subtitle">Hanoi Head Office & Hochiminh Branch</p>
											</div>
									</div>
							</div>
							<!-- End page header-->
							<div class="container">
									<div class="testimonial-inner center-block text-center">
											<div id="owl-testimonial" class="owl-carousel">
													<div class="item">
															<blockquote>
																<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.397121886777!2d105.78198556501896!3d21.01679043600487!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab54e29650c5%3A0x453b5c2a98dc5e98!2z6rK964KoIO2VmOuFuOydtCDrnpzrk5zrp4jtgawg7YOA7JuMIEtlYW5nbmFtLCBN4buFIFRyw6wsIFThu6sgTGnDqm0sIEjDoCBO4buZaSwg67Kg7Yq464Ko!5e0!3m2!1sko!2skr!4v1478504326355"
	width="1500" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
															</blockquote>
													</div>
													<div class="item">
															<blockquote>
																<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.3806698532544!2d106.70350971489194!3d10.782128692317649!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f494ab1a7ab%3A0xca5d3f36e8edd13!2zQ0ogQnVpbGRpbmcsIEzDqiBUaMOhbmggVMO0biwgQuG6v24gTmdow6ksIFF14bqtbiAxLCBI4buTIENow60gTWluaCwg67Kg7Yq464Ko!5e0!3m2!1sko!2skr!4v1478504391172"
		width="1500" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
															</blockquote>
													</div>
											</div>
									</div>
							</div>
					</div>
			</section>
			<!-- End testimonials -->




            <!-- Begin social section -->
			<section id="social-section" class="page text-white parallax" data-stellar-background-ratio="0.5" style="background-image: url(img/testimonial4-bg.jpg);">
					<div class="cover"></div>
                 <!-- Begin page header-->
                <div class="page-header-wrapper">
                    <div class="container">
                        <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                            <h2>Join Us</h2>
                            <div class="devider"></div>
                            <p class="subtitle">Follow us on social networks</p>
                        </div>
                    </div>
                </div>
                <!-- End page header-->

                <div class="container">
                	<ul class="social-list">
                		<li> <a href="#" class="rotate-box-1 square-icon text-center wow zoomIn" data-wow-delay="0.3s"><span class="rotate-box-icon"><i class="fa fa-facebook"></i></span></a></li>
                		<li> <a href="#" class="rotate-box-1 square-icon text-center wow zoomIn" data-wow-delay="0.4s"><span class="rotate-box-icon"><i class="fa fa-twitter"></i></span></a></li>
                		<li> <a href="#" class="rotate-box-1 square-icon text-center wow zoomIn" data-wow-delay="0.5s"><span class="rotate-box-icon"><i class="fa fa-google-plus"></i></span></a></li>
                		<li> <a href="#" class="rotate-box-1 square-icon text-center wow zoomIn" data-wow-delay="0.6s"><span class="rotate-box-icon"><i class="fa fa-pinterest-p"></i></span></a></li>
                		<li> <a href="#" class="rotate-box-1 square-icon text-center wow zoomIn" data-wow-delay="0.7s"><span class="rotate-box-icon"><i class="fa fa-tumblr"></i></span></a></li>
                		<li> <a href="#" class="rotate-box-1 square-icon text-center wow zoomIn" data-wow-delay="0.8s"><span class="rotate-box-icon"><i class="fa fa-dribbble"></i></span></a></li>
                    </ul>
                </div>

            </section>
            <!-- End social section -->




            <!-- Begin contact section --> <!-- style="background-image: url(img/map-bg.jpg);"-->
			<section id="contact-section" class="page text-white parallax" data-stellar-background-ratio="0.5">
            <div class="cover"></div>

                 <!-- Begin page header-->
                <div class="page-header-wrapper">
                    <div class="container">
                        <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                            <h2>Contacts</h2>
                            <div class="devider"></div>
                            <p class="subtitle">All to contact us</p>
                        </div>
                    </div>
                </div>
                <!-- End page header-->

                <div class="contact wow bounceInRight" data-wow-delay="0.4s">
                    <div class="container">
                    	<div class="row">

                            <div class="col-sm-6">
                                <div class="contact-info">
                                    <h4>Our Address</h4>
                                    <ul class="contact-address">
			                            <li><i class="fa fa-map-marker fa-lg"></i>&nbsp; 100 Limpbiscayne Blvd. (North) 17st Floor ,<br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; New World Tower New York ,<br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; New York, USA, 33148</li>
			                            <li><i class="fa fa-phone"></i>&nbsp; 1 -234 -456 -7890</li>
			                            <li><i class="fa fa-print"></i>&nbsp; 1 -234 -456 -7890</li>
			                            <li><i class="fa fa-envelope"></i> info@yourdomain.com</li>
			                            <li><i class="fa fa-skype"></i> Unika-Design</li>
			                        </ul>
                                </div>
                            </div>

                        	<div class="col-sm-6">
                                <div class="contact-form">
                                	<h4>Write to us</h4>
                                    <form role="form">
                                        <div class="form-group">
                                            <input type="text" class="form-control input-lg" placeholder="Your Name" required>
                                        </div>
                                        <div class="form-group">
                                            <input type="email" class="form-control input-lg" placeholder="E-mail" required>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control input-lg" placeholder="Subject" required>
                                        </div>
                                        <div class="form-group">
                                            <textarea class="form-control input-lg" rows="5" placeholder="Message" required></textarea>
                                        </div>
                                        <button type="submit" class="btn wow bounceInRight" data-wow-delay="0.8s">Send</button>
                                    </form>
                                </div>
                            </div>

                        </div> <!-- /.row -->
                    </div> <!-- /.container -->
                </div>
            </section>
            <!-- End contact section -->




            <!-- Begin footer -->
            <footer class="text-off-white">

                <div class="footer-top">
                	<div class="container">
                    	<div class="row wow bounceInLeft" data-wow-delay="0.4s">

                            <div class="col-sm-6 col-md-4">
                            	<img src="/img/logo/menu-logo.png">
                                <ul class="imp-links">
                                	<li><a href="">About</a></li>
                                	<li><a href="">Services</a></li>
                                	<li><a href="">Press</a></li>
                                	<li><a href="">Copyright</a></li>
                                	<li><a href="">Advertise</a></li>
                                	<li><a href="">Legal</a></li>
                                </ul>
                            </div>

                        	<div class="col-sm-6 col-md-4">
                                <h4>Subscribe</h4>
                            	<div id="footer_signup">
                                    <div id="email">
                                        <form id="subscribe" method="POST">
                                            <input type="text" placeholder="Enter email address" name="email" id="address" data-validate="validate(required, email)"/>
                                            <button type="submit">Submit</button>
                                            <span id="result" class="section-description"></span>
                                        </form>
                                    </div>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>

                            <div class="col-sm-12 col-md-4">
                                <h4>Recent Tweets</h4>
                                <div class="single-tweet">
                                    <div class="tweet-content"><span>@Unika</span> Excepteur sint occaecat cupidatat non proident</div>
                                    <div class="tweet-date">1 Hour ago</div>
                                </div>
                                <div class="single-tweet">
                                    <div class="tweet-content"><span>@Unika</span> Excepteur sint occaecat cupidatat non proident uku shumaru</div>
                                    <div class="tweet-date">1 Hour ago</div>
                                </div>
                            </div>

                        </div> <!-- /.row -->
                    </div> <!-- /.container -->
                </div>

                <div class="footer">
                    <div class="container text-center wow fadeIn" data-wow-delay="0.4s">
                        <p class="copyright">Copyright &copy; 2016 - IS_KOREARENTAL_VINA Corp.</p>
                    </div>
										<p class="text-muted credit">
<div class="btn-group">
	<button type="button" class="btn btn-outlined btn-theme btn-sm dropdown-toggle" data-toggle="dropdown">
			Family Site <span class="caret caret-up"></span>
	</button>
	<ul class="dropdown-menu drop-up" role="menu">
			<li><a href="http://www.korearental.co.kr/"> KOREA RENTAL KOREA</a></li>
			<li class="divider"></li>
			<li><a href="http://www.korearental.co.kr/"> KOREA RENTAL CHINA</a></li>
			<li class="divider"></li>
			<li><a href="http://www.isdongseo.co.kr/"> IS DONGSEO</a></li>
			<li class="divider"></li>
			<li><a href="http://www.inushaus.co.kr/"> SAMHONG-TECH</a></li>
			<li class="divider"></li>
			<li><a href="http://www.inushaus.co.kr/"> INUS</a></li>
	</ul>
</div>
</p>
                </div>

            </footer>
            <!-- End footer -->

            <a href="#" class="scrolltotop"><i class="fa fa-arrow-up"></i></a> <!-- Scroll to top button -->

        </div><!-- body ends -->

				<!-- Plugins JS -->
			<script src="/assets/jquery-1.11.1.min.js"></script>
			<script src="/assets/bootstrap.min.js"></script>
			<script src="/assets/owl.carousel.min.js"></script>
			<script src="/assets/jquery.stellar.min.js"></script>
			<script src="/assets/wow.min.js"></script>
			<script src="/assets/waypoints.min.js"></script>
			<script src="/assets/isotope.pkgd.min.js"></script>
			<script src="/assets/classie.js"></script>
			<script src="/assets/jquery.easing.min.js"></script>
			<script src="/assets/jquery.counterup.min.js"></script>
			<script src="/assets/smoothscroll.js"></script>

			<!-- Theme JS -->
			<script src="/assets/theme.js"></script>

    </body>


</html>
