<!doctype html>

<html lang="en-US">
	<head>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Unika - Responsive One Page HTML5 Template</title>
		<meta name="description" content="Unika - Responsive One Page HTML5 Template">
		<meta name="keywords" content="HTML5, Bootsrtrap, One Page, Responsive, Template, Portfolio" />
		<meta name="author" content="imransdesign.com">

		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Google Fonts  -->
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,700,500' rel='stylesheet' type='text/css'> <!-- Body font -->
		<link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'> <!-- Navbar font -->
		<!-- Libs and Plugins CSS-->
		<link rel="stylesheet" href="/assets/bootstrap.min.css">
		<link rel="stylesheet" href="/assets/animate.min.css">
		<link rel="stylesheet" href="/assets/font-awesome.min.css">
		<link rel="stylesheet" href="/assets/owl.carousel.css">
		<link rel="stylesheet" href="/assets/owl.theme.css">


		<link rel="stylesheet" href="/assets/reset.css">
		<link rel="stylesheet" href="/assets/style.css">
		<link rel="stylesheet" href="/assets/mobile.css">

		<link rel="stylesheet" href="/assets/cool-gray.css">
		<script src="/assets/jquery-1.11.1.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
		<!--<script src="/assets/jquery.easing.min.js"></script>-->
		<script src="/assets/owl.carousel.min.js"></script>
		<script src="/assets/theme.js"></script>
		<script src="/assets/jquery.stellar.min.js"></script>
		<script src="/assets/wow.min.js"></script>
		<script src="/assets/waypoints.min.js"></script>
		<script src="/assets/isotope.pkgd.min.js"></script>
		<script src="/assets/classie.js"></script>
		<script src="/assets/jquery.counterup.min.js"></script>
		<script src="/assets/smoothscroll.js"></script>
		<script src="/assets/bootstrap.min.js"></script>
		<script src="/assets/jssor.slider.mini.js"></script>

	</head>



    <body data-spy="scroll" data-target="#main-navbar">
      <!--  <div class="page-loader"></div>  <!-- Display loading image while page loads -->
    	<div class="body">

				<header id="header" class="header-main">

						<!-- Begin Navbar -->
						<nav id="main-navbar" class="navbar navbar-default" role="navigation"> <!-- Classes: navbar-default, navbar-inverse, navbar-fixed-top, navbar-fixed-bottom, navbar-transparent. Note: If you use non-transparent navbar, set "height: 98px;" to #header -->

							<div class="container">

								<!-- Brand and toggle get grouped for better mobile display -->
								<div class="navbar-header">
									<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
										<span class="sr-only">Toggle navigation</span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
									</button>
									<a class="navbar-brand page-scroll" href="http://52.78.131.9/">IS_KOREARENTAL_VINA</a>
								</div>

								<!-- Collect the nav links, forms, and other content for toggling -->
								<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
										<ul class="nav navbar-nav navbar-right">
										    	<li><a class="page-scroll" href="/">Home</a></li>
													<li><a class="page-scroll" href="#car-section">Car</a></li>
													<li><a class="page-scroll" href="#pc-section">PC</a></li>
													<li><a class="page-scroll" href="#copy-section">PhotoCopier</a></li>
													<li><a class="page-scroll" href="#manlift-section">Man-Lift</a></li>
													<li><a class="page-scroll" href="#forklift-section">Fork-Lift</a></li>
													<li><a class="page-scroll" href="#tmi-section">TMI</a></li>
										</ul>
								</div><!-- /.navbar-collapse -->
							</div><!-- /.container -->
						</nav>
						<!-- End Navbar -->

				</header>
				<!-- ========= END HEADER =========-->


            <!-- Begin about section -->
		   	<section id="car-section" class="page bg-style1" style="margin-top:100px;">
                <!-- Begin page header-->
                <div class="page-header-wrapper">
                    <div class="container">
                        <div class="page-header text-center wow fadeInUp" data-wow-delay="0.3s">
                            <h2>Car</h2>
                            <div class="devider"></div>
                            <p class="subtitle">SEDAN & SUV & VAN</p>
                        </div>
												<div class="row">
													<div class="col-md-6" align="center">

																	<img class="img-responsive" src="/img/car/innova.png" alt="">

													</div>
												<div class="col-md-6">
													<div class="panel panel-default">
												                         <div class="panel-heading">
												                             VAN
												                         </div>
												                         <!-- /.panel-heading -->
												                         <div class="panel-body">
												                             <div class="table-responsive">
												                                 <table width="100%" class="table-product table-striped table-bordered table-hover">
												                                     <thead>
												                                         <tr>
												                                             <th><strong>MODEL</strong></th>
												                                             <th><strong>NEW INNOVA E</strong></th>

												                                         </tr>
												                                     </thead>
												                                     <tbody>
												                                         <tr>
												                                             <td><strong>Passengers</strong></td>
												                                             <td>7</td>

												                                         </tr>
												                                         <tr>
												                                             <td><strong>Fuel type</strong></td>
												                                             <td>Gasoline</td>

												                                         </tr>
												                                         <tr>
												                                             <td><strong>Type</strong></td>
												                                             <td>MT</td>

												                                         </tr>
												                                     </tbody>
												                                 </table>
												                             </div>
												                             <!-- /.table-responsive -->
												                         </div>
												                         <!-- /.panel-body -->
												                     </div>
												                     <!-- /.panel -->
																			 </div>
																			    <div class="container"></div>
																			 <div class="col-md-6" align="center">

						 																	<img class="img-responsive" src="/img/car/fortuner.png" alt="">

						 													</div>
						 												<div class="col-md-6">
						 													<div class="panel panel-default">
						 												                         <div class="panel-heading">
						 												                             VAN
						 												                         </div>
						 												                         <!-- /.panel-heading -->
						 												                         <div class="panel-body">
						 												                             <div class="table-responsive">
						 												                                 <table width="100%" class="table-product table-striped table-bordered table-hover">
						 												                                     <thead>
						 												                                         <tr>
						 												                                             <th><strong>MODEL</strong></th>
						 												                                             <th><strong>FORTUNER 2.5G</strong></th>

						 												                                         </tr>
						 												                                     </thead>
						 												                                     <tbody>
						 												                                         <tr>
						 												                                             <td><strong>Passengers</strong></td>
						 												                                             <td>7</td>

						 												                                         </tr>
						 												                                         <tr>
						 												                                             <td><strong>Fuel type</strong></td>
						 												                                             <td>Diesel</td>

						 												                                         </tr>
						 												                                         <tr>
						 												                                             <td><strong>Type</strong></td>
						 												                                             <td>MT</td>

						 												                                         </tr>
						 												                                     </tbody>
						 												                                 </table>
						 												                             </div>
						 												                             <!-- /.table-responsive -->
						 												                         </div>
						 												                         <!-- /.panel-body -->
						 												                     </div>
						 												                     <!-- /.panel -->
						 											 									 </div>
  																						 <div class="container"></div>
																									 <div class="col-md-6" align="center">

											 																		<img class="img-responsive" src="/img/car/sedona.png" alt="">

											 														</div>
											 													<div class="col-md-6">
											 														<div class="panel panel-default">
											 													                         <div class="panel-heading">
											 													                             SUV
											 													                         </div>
											 													                         <!-- /.panel-heading -->
											 													                         <div class="panel-body">
											 													                             <div class="table-responsive">
											 													                                 <table width="100%" class="table-product table-striped table-bordered table-hover">
											 													                                     <thead>
											 													                                         <tr>
											 													                                             <th><strong>MODEL</strong></th>
											 													                                             <th><strong>SEDONA 3.3 GAT</strong></th>

											 													                                         </tr>
											 													                                     </thead>
											 													                                     <tbody>
											 													                                         <tr>
											 													                                             <td><strong>Passengers</strong></td>
											 													                                             <td>7</td>

											 													                                         </tr>
											 													                                         <tr>
											 													                                             <td><strong>Fuel type</strong></td>
											 													                                             <td>Gasoline</td>

											 													                                         </tr>
											 													                                         <tr>
											 													                                             <td><strong>Type</strong></td>
											 													                                             <td>AT</td>

											 													                                         </tr>
											 													                                     </tbody>
											 													                                 </table>
											 													                             </div>
											 													                             <!-- /.table-responsive -->
											 													                         </div>
											 													                         <!-- /.panel-body -->
											 													                     </div>
											 													                     <!-- /.panel -->
											 												 		 </div>
																									    <div class="container"></div>
																															 <div class="col-md-6" align="center">

																	 																		<img class="img-responsive" src="/img/car/camry.png" alt="">

																	 														</div>
																	 													<div class="col-md-6">
																	 														<div class="panel panel-default">
																	 													                         <div class="panel-heading">
																	 													                             SEDAN
																	 													                         </div>
																	 													                         <!-- /.panel-heading -->
																	 													                         <div class="panel-body">
																	 													                             <div class="table-responsive">
																	 													                                 <table width="100%" class="table-product table-striped table-bordered table-hover">
																	 													                                     <thead>
																	 													                                         <tr>
																	 													                                             <th><strong>MODEL</strong></th>
																	 													                                             <th><strong>TOYOTA CAMRY (2.5Q)</strong></th>

																	 													                                         </tr>
																	 													                                     </thead>
																	 													                                     <tbody>
																	 													                                         <tr>
																	 													                                             <td><strong>Passengers</strong></td>
																	 													                                             <td>5</td>

																	 													                                         </tr>
																	 													                                         <tr>
																	 													                                             <td><strong>Fuel type</strong></td>
																	 													                                             <td>Gasoline</td>

																	 													                                         </tr>
																	 													                                         <tr>
																	 													                                             <td><strong>Type</strong></td>
																	 													                                             <td>AT</td>

																	 													                                         </tr>
																	 													                                     </tbody>
																	 													                                 </table>
																	 													                             </div>
																	 													                             <!-- /.table-responsive -->
																	 													                         </div>
																	 													                         <!-- /.panel-body -->
																	 													                     </div>
																	 													                     <!-- /.panel -->
																	 												 									 </div><!-- row -->
																	 																				 </div>



                    																 </div>
                									 </div>

          </section>

							<!-- pc section -->
							<section id="pc-section" class="page bg-style1" style="margin-top:100px;">
										 <!-- Begin page header-->
										 <div class="page-header-wrapper">
												 <div class="container">
														 <div class="page-header text-center wow fadeInUp" data-wow-delay="0.3s">
																 <h2>PC</h2>
																 <div class="devider"></div>
																 <p class="subtitle">SAMSUNG LAPTOP</p>
														 </div>
														 <!-- Project One -->
		         								<div class="row">
															<div class="col-md-6" align="center">

																		 <img class="img-responsive" src="/img/pc/NT200.png" alt="">

														 </div>
													 <div class="col-md-6">
														 <div class="panel panel-default">
																										<div class="panel-heading">
																												SAMSUNG
																										</div>
																										<!-- /.panel-heading -->
																										<div class="panel-body">
																												<div class="table-responsive">
																														<table width="100%" class="table-product table-striped table-bordered table-hover">
																																<thead>
																																		<tr>
																																				<th><strong>MODEL</strong></th>
																																				<th><strong>NT200B5C</strong></th>

																																		</tr>
																																</thead>
																																<tbody>
																																		<tr>
																																				<td><strong>CPU</strong></td>
																																				<td>Intel Core i5 3230M</td>

																																		</tr>
																																		<tr>
																																				<td><strong>Hard drive</strong></td>
																																				<td>HDD500GB</td>

																																		</tr>
																																		<tr>
																																				<td><strong>Memory</strong></td>
																																				<td>4GB (DDR3 1600MHz)</td>

																																		</tr>
																																		<tr>
																																				<td><strong>Screen</strong></td>
																																				<td>15.6"</td>

																																		</tr>
																																		<tr>
																																				<td><strong>Weight</strong></td>
																																				<td>2.66kg</td>

																																		</tr>
																																</tbody>
																														</table>
																												</div>
																												<!-- /.table-responsive -->
																										</div>
																										<!-- /.panel-body -->
																								</div>
																								<!-- /.panel -->
																						</div>
																						   <div class="container"></div>
																						<div class="col-md-6" align="center">

		 						 																	<img class="img-responsive" src="/img/pc/NT911.png" alt="">

		 						 													</div>
		 						 												<div class="col-md-6" align="center">
		 						 													<div class="panel panel-default">
		 						 												                         <div class="panel-heading">
		 						 												                             SAMSUNG
		 						 												                         </div>
		 						 												                         <!-- /.panel-heading -->
		 						 												                         <div class="panel-body">
		 						 												                             <div class="table-responsive">
		 						 												                                 <table width="100%" class="table-product table-striped table-bordered table-hover">
		 						 												                                     <thead>
		 						 												                                         <tr>
		 						 												                                             <th><strong>MODEL</strong></th>
		 						 												                                             <th><strong>NT911S5K</strong></th>

		 						 												                                         </tr>
		 						 												                                     </thead>
		 						 												                                     <tbody>
		 						 												                                         <tr>
		 						 												                                             <td><strong>CPU</strong></td>
		 						 												                                             <td>Intel Core i5 5200U</td>

		 						 												                                         </tr>
		 						 												                                         <tr>
		 						 												                                             <td><strong>Hard drive</strong></td>
		 						 												                                             <td>SSD 256G</td>

		 						 												                                         </tr>
		 						 												                                         <tr>
		 						 												                                             <td><strong>Memory</strong></td>
		 						 												                                             <td>4G (LPDDR3 1600MHz)</td>

		 						 												                                         </tr>
																																								 <tr>
		 						 												                                             <td><strong>Screen</strong></td>
		 						 												                                             <td>15.6"</td>

		 						 												                                         </tr>
																																								 <tr>
		 						 												                                             <td><strong>Weight</strong></td>
		 						 												                                             <td>1.55kg</td>

		 						 												                                         </tr>
		 						 												                                     </tbody>
		 						 												                                 </table>
		 						 												                             </div>
		 						 												                             <!-- /.table-responsive -->
		 						 												                         </div>
		 						 												                         <!-- /.panel-body -->
		 						 												                     </div>
		 						 												                     <!-- /.panel -->
		 						 											 									 </div>
		         							 								 	</div>
		         															<!-- /.row -->


												<!-- /.row -->

												 		</div>
										 		</div>

							</section>
							<section id="copy-section" class="page bg-style1" style="margin-top:100px;">
										 <!-- Begin page header-->
										 <div class="page-header-wrapper">
												 <div class="container">
														 <div class="page-header text-center wow fadeInUp" data-wow-delay="0.3s">
																 <h2>PhotoCopier</h2>
																 <div class="devider"></div>
																 <p class="subtitle">~~~~~~~</p>
														 </div>
														 <div class="row">
															 <div class="col-md-6" align="center">

																		 <img class="img-responsive" src="/img/copy/photocopy-1.png" alt="">

														 </div>
													 		<div class="col-md-6">
														 	<div class="panel panel-default">
																										<div class="panel-heading">

																										</div>
																										<!-- /.panel-heading -->
																										<div class="panel-body">
																												<div class="table-responsive">
																														<table width="100%" class="table-product table-striped table-bordered table-hover">
																																<thead>
																																		<tr>
																																				<th><strong>MODEL</strong></th>
																																				<th><strong>SCX-8123</strong></th>

																																		</tr>
																																</thead>
																																<tbody>
																																		<tr>
																																				<td><strong>Type</strong></td>
																																				<td>Mono</td>

																																		</tr>
																																		<tr>
																																				<td><strong>Speed</strong></td>
																																				<td>22 (pages per minute)</td>

																																		</tr>
																																		<tr>
																																				<td><strong>Function</strong></td>
																																				<td>Copy / Scan / Print / (Fax)</td>

																																		</tr>
																																</tbody>
																														</table>
																												</div>
																												<!-- /.table-responsive -->
																										</div>
																										<!-- /.panel-body -->
																								</div>
																								<!-- /.panel -->
																						</div>
																						<div class="col-md-6">

						 														 </div>
						 													 		<div class="col-md-6">
						 														 	<div class="panel panel-default">
						 																										<div class="panel-heading">

						 																										</div>
						 																										<!-- /.panel-heading -->
						 																										<div class="panel-body">
						 																												<div class="table-responsive">
						 																														<table width="100%" class="table-product table-striped table-bordered table-hover">
						 																																<thead>
						 																																		<tr>
						 																																				<th><strong>MODEL</strong></th>
						 																																				<th><strong>CLX-9201</strong></th>

						 																																		</tr>
						 																																</thead>
						 																																<tbody>
						 																																		<tr>
						 																																				<td><strong>Type</strong></td>
						 																																				<td>Color</td>

						 																																		</tr>
						 																																		<tr>
						 																																				<td><strong>Speed</strong></td>
						 																																				<td>20 (pages per minute)</td>

						 																																		</tr>
						 																																		<tr>
						 																																				<td><strong>Function</strong></td>
						 																																				<td>Copy / Scan / Print / (Fax)</td>

						 																																		</tr>
						 																																</tbody>
						 																														</table>
						 																												</div>
						 																												<!-- /.table-responsive -->
						 																										</div>
						 																										<!-- /.panel-body -->
						 																								</div>
						 																								<!-- /.panel -->
						 																						</div>
																												 <div class="container"></div>
																												<div class="col-md-6" align="center">

											 																			 <img class="img-responsive" src="/img/copy/photocopy-2.png" alt="">

											 															 </div>
											 														 		<div class="col-md-6">
											 															 	<div class="panel panel-default">
											 																											<div class="panel-heading">

											 																											</div>
											 																											<!-- /.panel-heading -->
											 																											<div class="panel-body">
											 																													<div class="table-responsive">
											 																															<table width="100%" class="table-product table-striped table-bordered table-hover">
											 																																	<thead>
											 																																			<tr>
											 																																					<th><strong>MODEL</strong></th>
											 																																					<th><strong>SCX-8240</strong></th>

											 																																			</tr>
											 																																	</thead>
											 																																	<tbody>
											 																																			<tr>
											 																																					<td><strong>Type</strong></td>
											 																																					<td>Mono</td>

											 																																			</tr>
											 																																			<tr>
											 																																					<td><strong>Speed</strong></td>
											 																																					<td>40 (pages per minute)</td>

											 																																			</tr>
											 																																			<tr>
											 																																					<td><strong>Function</strong></td>
											 																																					<td>Copy / Scan / Print / (Fax)</td>

											 																																			</tr>
											 																																	</tbody>
											 																															</table>
											 																													</div>
											 																													<!-- /.table-responsive -->
											 																											</div>
											 																											<!-- /.panel-body -->
											 																									</div>
											 																									<!-- /.panel -->
											 																							</div>

																																		<div class="col-md-6">

																	 															 </div>
																	 														 		<div class="col-md-6">
																	 															 	<div class="panel panel-default">
																	 																											<div class="panel-heading">

																	 																											</div>
																	 																											<!-- /.panel-heading -->
																	 																											<div class="panel-body">
																	 																													<div class="table-responsive">
																	 																															<table width="100%" class="table-product table-striped table-bordered table-hover">
																	 																																	<thead>
																	 																																			<tr>
																	 																																					<th><strong>MODEL</strong></th>
																	 																																					<th><strong>CLX-9352</strong></th>

																	 																																			</tr>
																	 																																	</thead>
																	 																																	<tbody>
																	 																																			<tr>
																	 																																					<td><strong>Type</strong></td>
																	 																																					<td>Color</td>

																	 																																			</tr>
																	 																																			<tr>
																	 																																					<td><strong>Speed</strong></td>
																	 																																					<td>35 (pages per minute)</td>

																	 																																			</tr>
																	 																																			<tr>
																	 																																					<td><strong>Function</strong></td>
																	 																																					<td>Copy / Scan / Print / (Fax)</td>

																	 																																			</tr>
																	 																																	</tbody>
																	 																															</table>
																	 																													</div>
																	 																													<!-- /.table-responsive -->
																	 																											</div>
																	 																											<!-- /.panel-body -->
																	 																									</div>
																	 																									<!-- /.panel -->
																	 																							</div>
														 																								</div>


												 																									</div>
										 																									</div>

							</section>
							<section id="manlift-section" class="page bg-style1" style="margin-top:100px;">
										 <!-- Begin page header-->
										 <div class="page-header-wrapper">
												 <div class="container">
														 <div class="page-header text-center wow fadeInUp" data-wow-delay="0.3s">
																 <h2>Man-Lift</h2>
																 <div class="devider"></div>
																 <p class="subtitle">~~~~</p>
														 </div>
														 <div class="row">
															 <div class="col-md-6" align="center">

																		<img class="img-responsive" src="/img/lift/JLG1930.png" alt="">

														</div>
														 <div class="col-md-6">
														 <div class="panel panel-default">
																									 <div class="panel-heading">

																									 </div>
																									 <!-- /.panel-heading -->
																									 <div class="panel-body">
																											 <div class="table-responsive">
																													 <table width="100%" class="table-product table-striped table-bordered table-hover">
																															 <thead>
																																	 <tr>
																																			 <th><strong>MODEL</strong></th>
																																			 <th><strong>JLG 1930ES</strong></th>

																																	 </tr>
																															 </thead>
																															 <tbody>
																																	 <tr>
																																			 <td><strong>Working height</strong></td>
																																			 <td>7.6m</td>

																																	 </tr>
																																	 <tr>
																																			 <td><strong>Capacity</strong></td>
																																			 <td>230kg</td>

																																	 </tr>
																																	 <tr>
																																			 <td><strong>Platform size</strong></td>
																																			 <td>1.87m x 0.76m</td>

																																	 </tr>
																															 </tbody>
																													 </table>
																											 </div>
																											 <!-- /.table-responsive -->
																									 </div>
																									 <!-- /.panel-body -->
																							 </div>
																							 <!-- /.panel -->
																					 </div>
																					 <div class="container"></div>

																					 <div class="col-md-6" align="center">

																								<img class="img-responsive" src="/img/lift/JLG2032.png" alt="">

																				</div>
																				 <div class="col-md-6">
																				 <div class="panel panel-default">
																															 <div class="panel-heading">

																															 </div>
																															 <!-- /.panel-heading -->
																															 <div class="panel-body">
																																	 <div class="table-responsive">
																																			 <table width="100%" class="table-product table-striped table-bordered table-hover">
																																					 <thead>
																																							 <tr>
																																									 <th><strong>MODEL</strong></th>
																																									 <th><strong>JLG 2032ES</strong></th>

																																							 </tr>
																																					 </thead>
																																					 <tbody>
																																							 <tr>
																																									 <td><strong>Working height</strong></td>
																																									 <td>8m</td>

																																							 </tr>
																																							 <tr>
																																									 <td><strong>Capacity</strong></td>
																																									 <td>363kg</td>

																																							 </tr>
																																							 <tr>
																																									 <td><strong>Platform size</strong></td>
																																									 <td>2.3m x 0.76m</td>

																																							 </tr>
																																					 </tbody>
																																			 </table>
																																	 </div>
																																	 <!-- /.table-responsive -->
																															 </div>
																															 <!-- /.panel-body -->
																													 </div>
																													 <!-- /.panel -->
																											 </div>
																											 <div class="container"></div>
																											 <div class="col-md-6" align="center">

																														<img class="img-responsive" src="/img/lift/JLG2642.png" alt="">

																										</div>
																										 <div class="col-md-6">
																										 <div class="panel panel-default">
																																					 <div class="panel-heading">

																																					 </div>
																																					 <!-- /.panel-heading -->
																																					 <div class="panel-body">
																																							 <div class="table-responsive">
																																									 <table width="100%" class="table-product table-striped table-bordered table-hover">
																																											 <thead>
																																													 <tr>
																																															 <th><strong>MODEL</strong></th>
																																															 <th><strong>JLG 2646ES</strong></th>

																																													 </tr>
																																											 </thead>
																																											 <tbody>
																																													 <tr>
																																															 <td><strong>Working height</strong></td>
																																															 <td>10m</td>

																																													 </tr>
																																													 <tr>
																																															 <td><strong>Capacity</strong></td>
																																															 <td>454kg</td>

																																													 </tr>
																																													 <tr>
																																															 <td><strong>Platform size</strong></td>
																																															 <td>2.5m x 1.12m</td>

																																													 </tr>
																																											 </tbody>
																																									 </table>
																																							 </div>
																																							 <!-- /.table-responsive -->
																																					 </div>
																																					 <!-- /.panel-body -->
																																			 </div>
																																			 <!-- /.panel -->
																																	 </div>
																																	  <div class="container"></div>

																																	 <div class="col-md-6" align="center">

																																				<img class="img-responsive" src="/img/lift/JLG3246.png" alt="">

																																</div>
																																 <div class="col-md-6">
																																 <div class="panel panel-default">
																																											 <div class="panel-heading">

																																											 </div>
																																											 <!-- /.panel-heading -->
																																											 <div class="panel-body">
																																													 <div class="table-responsive">
																																															 <table width="100%" class="table-product table-striped table-bordered table-hover">
																																																	 <thead>
																																																			 <tr>
																																																					 <th><strong>MODEL</strong></th>
																																																					 <th><strong>JLG 3246ES</strong></th>

																																																			 </tr>
																																																	 </thead>
																																																	 <tbody>
																																																			 <tr>
																																																					 <td><strong>Working height</strong></td>
																																																					 <td>12m</td>

																																																			 </tr>
																																																			 <tr>
																																																					 <td><strong>Capacity</strong></td>
																																																					 <td>454kg</td>

																																																			 </tr>
																																																			 <tr>
																																																					 <td><strong>Platform size</strong></td>
																																																					 <td>2.5m x 1.12m</td>

																																																			 </tr>
																																																	 </tbody>
																																															 </table>
																																													 </div>
																																													 <!-- /.table-responsive -->
																																											 </div>
																																											 <!-- /.panel-body -->
																																									 </div>
																																									 <!-- /.panel -->
																																							 </div>
																																							 <div class="container"></div>

																																							<div class="col-md-6" align="center">

																																									 <img class="img-responsive" src="/img/lift/JLG3246.png" alt="">

																																					 </div>
																																						<div class="col-md-6">
																																						<div class="panel panel-default">
																																																	<div class="panel-heading">

																																																	</div>
																																																	<!-- /.panel-heading -->
																																																	<div class="panel-body">
																																																			<div class="table-responsive">
																																																					<table width="100%" class="table-product table-striped table-bordered table-hover">
																																																							<thead>
																																																									<tr>
																																																											<th><strong>MODEL</strong></th>
																																																											<th><strong>JLG 4069ES</strong></th>

																																																									</tr>
																																																							</thead>
																																																							<tbody>
																																																									<tr>
																																																											<td><strong>Working height</strong></td>
																																																											<td>16m</td>

																																																									</tr>
																																																									<tr>
																																																											<td><strong>Capacity</strong></td>
																																																											<td>360kg</td>

																																																									</tr>
																																																									<tr>
																																																											<td><strong>Platform size</strong></td>
																																																											<td>2.92m x 1.65m</td>

																																																									</tr>
																																																							</tbody>
																																																					</table>
																																																			</div>
																																																			<!-- /.table-responsive -->
																																																	</div>
																																																	<!-- /.panel-body -->
																																															</div>
																																															<!-- /.panel -->
																																													</div>
														 																							 </div>
												 																						</div>
										 																							</div>

									 												</section>
																					<!-- AJ-800 section -->
																					<section id="aj-section" class="page bg-style1" style="margin-top:100px;">
																								 <!-- Begin page header-->
																								 <div class="page-header-wrapper">
																										 <div class="container">
																												 <div class="page-header text-center wow fadeInUp" data-wow-delay="0.3s">
																														 <h2>AJ-800</h2>
																														 <div class="devider"></div>
																														 <p class="subtitle">~~~~~~~P</p>
																												 </div>
																												 <!-- Project One -->
																												<div class="row">
																													<div class="col-md-6" align="center">

																																 <img class="img-responsive" src="/img/aj/aj-1.png" alt="">

																												 </div>
																											 <div class="col-md-6">
																												 <div class="panel panel-default">
																																								<div class="panel-heading">

																																								</div>
																																								<!-- /.panel-heading -->
																																								<div class="panel-body">
																																										<div class="table-responsive">
																																												<table width="100%" class="table-product table-striped table-bordered table-hover">
																																														<thead>
																																																<tr>
																																																		<th><strong>MODEL</strong></th>
																																																		<th><strong>600AJ</strong></th>

																																																</tr>
																																														</thead>
																																														<tbody>
																																																<tr>
																																																		<td><strong>Working height</strong></td>
																																																		<td>22m</td>

																																																</tr>
																																																<tr>
																																																		<td><strong>Capacity</strong></td>
																																																		<td>230kg</td>

																																																</tr>
																																																<tr>
																																																		<td><strong>Platform size</strong></td>
																																																		<td>2.44m x 0.91m</td>

																																																</tr>
																																														</tbody>
																																												</table>
																																										</div>
																																										<!-- /.table-responsive -->
																																								</div>
																																								<!-- /.panel-body -->
																																						</div>
																																						<!-- /.panel -->
																																				</div>
																																					 <div class="container"></div>
																																				<div class="col-md-6" align="center">

																																							<img class="img-responsive" src="/img/aj/aj-2.png" alt="">

																																			</div>
																																		<div class="col-md-6" align="center">
																																			<div class="panel panel-default">
																																														 <div class="panel-heading">

																																														 </div>
																																														 <!-- /.panel-heading -->
																																														 <div class="panel-body">
																																																 <div class="table-responsive">
																																																		 <table width="100%" class="table-product table-striped table-bordered table-hover">
																																																				 <thead>
																																																						 <tr>
																																																								 <th><strong>MODEL</strong></th>
																																																								 <th><strong>800AJ</strong></th>

																																																						 </tr>
																																																				 </thead>
																																																				 <tbody>
																																																						 <tr>
																																																								 <td><strong>Working height</strong></td>
																																																								 <td>28m</td>

																																																						 </tr>
																																																						 <tr>
																																																								 <td><strong>Capacity</strong></td>
																																																								 <td>230kg</td>

																																																						 </tr>
																																																						 <tr>
																																																								 <td><strong>Platform size</strong></td>
																																																								 <td>2.44m x 0.91m</td>
																																																						 </tr>
																																																				 </tbody>
																																																		 </table>
																																																 </div>
																																																 <!-- /.table-responsive -->
																																														 </div>
																																														 <!-- /.panel-body -->
																																												 </div>
																																												 <!-- /.panel -->
																																										 </div>
																																				</div>
																																			<!-- /.row -->


																										<!-- /.row -->

																												</div>
																										</div>

																					</section>



							<!-- chat
							<section id="chat-section" style="margin-top:20px;">
								<!-- /.panel
							<div class="container">
								<div class="chat-panel panel panel-default">
										<div class="panel-heading">
												<i class="fa fa-comments fa-fw"></i> Chat
										</div>
										<!-- /.panel-heading
										<div class="panel-body">
												<ul class="chat">
														<li class="left clearfix">
															<form action="/home/board" method="post">
															  <div class="form-group">
															    <label for="exampleInputEmail1">Title</label>
															    <input type="text" class="form-control" id="exampleInputEmail1" name="post_title" placeholder="title">
															  </div>

															  <label for="exampleInputContent1">Content</label>
															    <textarea type="text" class="form-control" rows="5" id="comment" style="margin-bottom:20px;" name="post_content" placeholder="content"></textarea>

															  <button type="submit" class="btn btn-default">Submit</button>
															</form>
														</li>
												</ul>
										</div>
										<div class="panel-footer">
												<div class="input-group">
														<strong>REPLY</strong>
												</div>
										</div>
										<div class="panel-body">
												<ul class="chat">
														<li class="left clearfix">
															<% @posts.each do |p| %>

													           <div class="well">

													                <strong>Title</strong>&nbsp;&nbsp;:&nbsp;&nbsp;<%= p.title %><br>
													                <strong>Content</strong>&nbsp;&nbsp;:&nbsp;&nbsp;<%= p.content %>
													                <!-- reply
													                   <% p.replies.each do |r| %>

													                       <p><strong>re</strong>&nbsp;&nbsp;&nbsp;<%= r.content %></p>

													                    <% end %>
													                <!-- reply end
													                    <form action="/home/reply_board" method="post" style="margin-top:20px;">
													                      <input type="hidden" id="<%= p.id %>" name="id_of_post">
													                      <label for="exampleInputContent1">Reply</label>
													                        <textarea type="text" class="form-control" rows="2" id="comment" style="margin-bottom:20px;" name="content" placeholder="content"></textarea>

													                      <button type="submit" class="btn btn-default">Submit</button>
													                    </form>


													            </div>


													    <% end %>
														</li>
												</ul>
										</div>
										<!-- /.panel-body
										<!-- /.panel-footer
								</div>
								<!-- /.panel .chat-panel
							</div><!-- container

						</section><!-- chat-section -->
						<footer id="footer" class="clearfix">
									<div id="footer-widgets">

										<div class="container">

										<div id="footer-wrapper">

											<div class="row">
												<div class="col-md-4 site">
													<div id="recent-posts-3" class="widget widgetFooter widget_recent_entries">
																	<h4 class="widgettitle">SiteMap :</h4>

																	<div id="recent-posts-3" class="widget widgetFooter widget_recent_entries row">
																		<p>About us</p>
																	<ul class="bottom_ul pull-left">
																		<li><a href="/home/about#vision-section">Group Vision</a></li>
																		<li><a href="/home/about#history-section">Company History</a></li>
																		<li><a href="/home/about#rental-section">Rental System</a></li>
																	</ul>
																	</div>

																<div id="recent-posts-3" class="widget widgetFooter widget_recent_entries row">
																	<p>Rental Products</p>
																	<ul class="bottom_ul">

																		<li><a href="#car-section">Car</a></li>
																		<li><a href="#pc-section">PC</a></li>
																		<li><a href="#copy-section">PhotoCopier</a></li>
																		<li><a href="#manlift-section">Lift</a></li>
																		<li><a href="#aj-section">AJ-800</a></li>

																	</ul>
																</div>
																<div id="recent-posts-3" class="widget widgetFooter widget_recent_entries row">

																	<ul class="bottom_ul">
																		<li><a class="page-scroll" href="/home/index#recruit-section">Recruitment</a></li>
																		<li><a class="page-scroll" href="/home/index#contact-section">Contact</a></li>

																	</ul>
																</div>

												</div> <!-- end widget1 -->
											</div> <!-- col-md-4 -->

												<div class="col-md-4 col-sm-6 family" style="margin-bottom:20px;">
													<div id="meta-3" class="widget widgetFooter widget_meta">
													<h4 class="widgettitle">Family Site :</h4>
													<ul>
														<li><a href="http://www.korearental.co.kr/" target="_blank"><i class="fa fa-arrow-circle-right"></i> KOREA RENTAL KOREA</a></li>
												    <li><a href="http://www.krcchina.com/index.asp" target="_blank"><i class="fa fa-arrow-circle-right"></i> KOREA RENTAL CHINA</a></li>
												    <li><a href="http://www.isdongseo.co.kr/main/" target="_blank"><i class="fa fa-arrow-circle-right"></i> IS DONGSEO</a></li>
														<li><a href="http://www.inushaus.com/main/index.asp" target="_blank"><i class="fa fa-arrow-circle-right"></i> INUS</a></li>
												 </ul>
												</div>
											 </div> <!-- end widget1 -->

										<div class="col-md-4 col-sm-6 join">
											<div id="meta-3" class="widget widgetFooter widget_meta">
											<h4 class="widgettitle">Join Us :</h4>

												 <li><a href="https://www.facebook.com/iskorearentalvina"><i class="fa fa-facebook-square fa-lg" aria-hidden="true"></i> &nbsp;&nbsp;&nbsp; IS_KOREARENTAL_VINA</a></li><br><br>
												 <div class="center"><button data-toggle="modal" data-target="#email_product" class="btn btn-yellow btn-sm">Send Message</button></div>


										</div>
									 </div> <!-- end widget1 -->



						 </div><!-- end row -->

											</div> <!-- end #footer-wrapper -->

										</div> <!-- end .container -->

										</div> <!-- end #footer-widgets -->


									<div id="sub-floor">
										<div class="container">
											<div class="row">
												<div class="col-md-8 copyright">
												  2016 Copy right IS_KOREARENTAL_VINA Corp.
												</div>

											</div> <!-- end .row -->
										</div>
									</div>

								</footer>
						<!-- End footer -->
	            <!-- End footer -->

            <a href="#" class="scrolltotop"><i class="fa fa-arrow-up"></i></a> <!-- Scroll to top button -->
						<div id="email_product" class="modal fade" role="dialog" style="margin-top:50px;">
							<div class="modal-dialog">
								<!-- Modal content-->
								<div class="modal-content">

									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal"></button>
										<h4 class="modal-title">Write to us</h4>
									</div>
									<div class="modal-body">
										<div class="contact-form">
												<form role="form" action="/home/write" method="post">
														<div class="form-group">
																<input type="text" class="form-control input-lg" name="name" placeholder="your (company) name" required>
														</div>
														<div class="form-group">
																<input type="email" class="form-control input-lg" name="email" placeholder="your e-mail" required>
														</div>
														<div class="form-group">
																<textarea class="form-control input-lg" rows="5" name="content" placeholder="message (please write your phone number)" required></textarea>
														</div>
														<div align="center">
														 <button type="submit" class="btn btn-lg" data-wow-delay="0.8s">Send</button>
													  </div>
												</form>
										</div>

									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
									</div>

									</div>

								</div>

							</div>

        </div><!-- body ends -->
				<nav class="navbar-fixed-bottom" style="border-radius:5px;" id="product-icon" role="navigation"> <!-- Classes: navbar-default, navbar-inverse, navbar-fixed-top, navbar-fixed-bottom, navbar-transparent. Note: If you use non-transparent navbar, set "height: 98px;" to #header -->

					<div class="container">
						<nav2>
							<ul>
								<li>
									<a href="/"><strong>Home</strong></a>
								</li>
								<li>
									<a class="page-scroll" href="#car-section"><strong>CAR</strong></a>
								</li>
								<li>
									<a class="page-scroll" href="#pc-section"><strong>PC</strong></a>
								</li>
								<li>
									<a class="page-scroll" href="#copy-section"><strong>PHOTOCOPIER</strong></a>
								</li>
								<li>
									<a class="page-scroll" href="#manlift-section"><strong>MAN-LIFT</strong></a>
								</li>
								<li>
									<a class="page-scroll" href="#aj-section"><strong>AJ-800</strong></a>
								</li>
							</ul>
						</nav2>

					</div><!-- /.container -->
				</nav>



    </body>


</html>
