<!DOCTYPE html>
<html>
<head>
  <title>Welcome To IS_KOREARENTAL_VINA</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

          <!-- Google Fonts  -->
  		<link href='http://fonts.googleapis.com/css?family=Roboto:400,700,500' rel='stylesheet' type='text/css'> <!-- Body font -->
  		<link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'> <!-- Navbar font -->

      <!-- Plugins JS -->
    <script src="assets/js/jquery-1.11.1.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/jquery.stellar.min.js"></script>
    <script src="assets/js/wow.min.js"></script>
    <script src="assets/js/waypoints.min.js"></script>
    <script src="assets/js/isotope.pkgd.min.js"></script>
    <script src="assets/js/classie.js"></script>
    <script src="assets/js/jquery.easing.min.js"></script>
    <script src="assets/js/jquery.counterup.min.js"></script>
    <script src="assets/js/smoothscroll.js"></script>
    <!-- slider menu -->
    <script src="assets/js/jssor.slider.mini.js"></script>
    <!-- Theme JS -->
    <script src="assets/js/theme.js"></script>
  		<!-- Libs and Plugins CSS -->
  		<link rel="stylesheet" href="assets/css/bootstrap.min.css">
  		<link rel="stylesheet" href="assets/css/animate.min.css">
  		<link rel="stylesheet" href="assets/css/font-awesome.min.css"> <!-- Font Icons -->
  		<link rel="stylesheet" href="assets/css/owl.carousel.css">
  		<link rel="stylesheet" href="assets/css/owl.theme.css">
  		<!-- Skin CSS -->
  		<link rel="stylesheet" href="assets/css/cool-gray.css">

      <!-- fonts -->
      <link rel="stylesheet" href="assets/fonts/fontawesome-webfont.eot">
      <link rel="stylesheet" href="assets/fonts/fontawesome-webfont.svg">
      <link rel="stylesheet" href="assets/fonts/fontawesome-webfont.ttf">
      <link rel="stylesheet" href="assets/fonts/fontawesome-webfont.woff">
      <link rel="stylesheet" href="assets/fonts/fontawesome-webfont.woff2">
      <link rel="stylesheet" href="assets/fonts/FontAwesome.otf">
      <link rel="stylesheet" href="assets/fonts/glyphicons-halflings-regular.eot">
      <link rel="stylesheet" href="assets/fonts/glyphicons-halflings-regular.svg">
      <link rel="stylesheet" href="assets/fonts/glyphicons-halflings-regular.ttf">
      <link rel="stylesheet" href="assets/fonts/glyphicons-halflings-regular.woff">
      <link rel="stylesheet" href="assets/fonts/glyphicons-halflings-regular.woff2">

</head>
<body>
<%= yield %>

</body>
</html>
