<!DOCTYPE html>
<html>
<head>
  <title>Welcome to IS_KOREARENTAL_VINA</title>

<%= stylesheet_link_tag    'application.css' %>
<%= javascript_include_tag 'application.js' %>
<%= csrf_meta_tags %>
<!-- Google Fonts  -->
<link href='http://fonts.googleapis.com/css?family=Roboto:400,700,500' rel='stylesheet' type='text/css'> <!-- Body font -->
<link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'> <!-- Navbar font -->

<!-- Libs and Plugins CSS -->
<link rel="stylesheet" href="/assets/bootstrap.min.css">
<link rel="stylesheet" href="/assets/animate.min.css">
<link rel="stylesheet" href="/assets/font-awesome.min.css"> <!-- Font Icons -->
<link rel="stylesheet" href="/assets/owl.carousel.css">
<link rel="stylesheet" href="/assets/owl.theme.css">

<!-- Theme CSS -->
<link rel="stylesheet" href="/assets/reset.css">
<link rel="stylesheet" href="/assets/style.css">
<link rel="stylesheet" href="/assets/mobile.css">

<script src="https://code.jquery.com/jquery-1.12.1.min.js"
  integrity="sha256-I1nTg78tSrZev3kjvfdM5A5Ak/blglGzlaZANLPDl3I="
  crossorigin="anonymous"></script>
<link rel="stylesheet" href="/assets/cool-gray.css">

<script src="/assets/bootstrap.min.js"></script>
<script src="/assets/owl.carousel.min.js"></script>
<script src="/assets/jquery.stellar.min.js"></script>
<script src="/assets/wow.min.js"></script>
<script src="/assets/waypoints.min.js"></script>
<script src="/assets/isotope.pkgd.min.js"></script>
<script src="/assets/classie.js"></script>
<script src="/assets/jquery.easing.min.js"></script>
<script src="/assets/jquery.counterup.min.js"></script>
<script src="/assets/smoothscroll.js"></script>
<script src="/assets/jssor.slider.mini.js"></script>
<!-- Theme JS -->
<script src="/assets/theme.js"></script>
<!--JS FILES -->
<script src="/assets/jquery.tools.min.js"></script>


</head>
<body>
<%= yield %>

</body>
</html>
