<!DOCTYPE html>
<html>
<head>
  <title>Welcome to IS_KOREARENTAL_VINA</title>

<%= stylesheet_link_tag    'application.css' %>
<%= javascript_include_tag 'application.js' %>
<%= csrf_meta_tags %>
<!-- Plugins JS -->
<script src="/assets/jquery-1.11.1.min.js"></script>
<script src="/assets/bootstrap.min.js"></script>
<script src="/assets/owl.carousel.min.js"></script>
<script src="/assets/jquery.stellar.min.js"></script>
<script src="/assets/wow.min.js"></script>
<script src="/assets/waypoints.min.js"></script>
<script src="/assets/isotope.pkgd.min.js"></script>
<script src="/assets/classie.js"></script>
<script src="/assets/jquery.easing.min.js"></script>
<script src="/assets/jquery.counterup.min.js"></script>
<script src="/assets/smoothscroll.js"></script>
<script src="/assets/jssor.slider.mini.js"></script>

<!-- Theme JS -->
<script src="/assets/theme.js"></script>
<!--JS FILES -->
<script src="/assets/jquery.tools.min.js"></script>
<!-- Libs and Plugins CSS -->
<link rel="stylesheet" href="/assets/bootstrap.min.css">
<link rel="stylesheet" href="/assets/animate.min.css">
<link rel="stylesheet" href="/assets/font-awesome.min.css"> <!-- Font Icons -->
<link rel="stylesheet" href="/assets/owl.carousel.css">
<link rel="stylesheet" href="/assets/owl.theme.css">

<!-- Theme CSS -->
<link rel="stylesheet" href="/assets/reset.css">
<link rel="stylesheet" href="/assets/style.css">
<link rel="stylesheet" href="/assets/mobile.css">

<link rel="stylesheet" href="/assets/cool-gray.css">

</head>
<body>
<%= yield %>

</body>
</html>
