<!DOCTYPE html>
<html>
<head>
  <title>Welcome to IS_KOREARENTAL_VINA</title>

<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
<%= csrf_meta_tags %>
<!-- Google Fonts  -->
<link href='http://fonts.googleapis.com/css?family=Roboto:400,700,500' rel='stylesheet' type='text/css'> <!-- Body font -->
<link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'> <!-- Navbar font -->
<!-- fonts -->
<link rel="stylesheet" href="/assets/stylesheets/fonts/fontawesome-webfont.eot">
<link rel="stylesheet" href="/assets/stylesheets/fonts/fontawesome-webfont.svg">
<link rel="stylesheet" href="/assets/stylesheets/fonts/fontawesome-webfont.ttf">
<link rel="stylesheet" href="/assets/stylesheets/fonts/fontawesome-webfont.woff">
<link rel="stylesheet" href="/assets/stylesheets/fonts/fontawesome-webfont.woff2">
<link rel="stylesheet" href="/assets/stylesheets/fonts/FontAwesome.otf">
<link rel="stylesheet" href="/assets/stylesheets/fonts/glyphicons-halflings-regular.eot">
<link rel="stylesheet" href="/assets/stylesheets/fonts/glyphicons-halflings-regular.svg">
<link rel="stylesheet" href="/assets/stylesheets/fonts/glyphicons-halflings-regular.ttf">
<link rel="stylesheet" href="/assets/stylesheets/fonts/glyphicons-halflings-regular.woff">
<link rel="stylesheet" href="/assets/stylesheets/fonts/glyphicons-halflings-regular.woff2">
<!-- Theme JS-->
<script src="/assets/javascripts/js/theme.js"></script>
<!-- Plugins JS-->
<script src="/assets/javascripts/js/jquery-1.11.1.min.js"></script>
<script src="/assets/javascripts/js/bootstrap.min.js"></script>
<script src="/assets/javascripts/js/owl.carousel.min.js"></script>
<script src="/assets/javascripts/js/jquery.stellar.min.js"></script>
<script src="/assets/javascripts/js/wow.min.js"></script>
<script src="/assets/javascripts/js/waypoints.min.js"></script>
<script src="/assets/javascripts/js/isotope.pkgd.min.js"></script>
<script src="/assets/javascripts/js/classie.js"></script>
<script src="/assets/javascripts/js/jquery.easing.min.js"></script>
<script src="/assets/javascripts/js/jquery.counterup.min.js"></script>
<script src="/assets/javascripts/js/smoothscroll.js"></script>
<script src="/assets/javascripts/js/jssor.slider.mini.js"></script>
<!-- Libs and Plugins CSS -->

<link rel="stylesheet" href="/assets/stylesheets/css/bootstrap.min.css">
<link rel="stylesheet" href="/assets/stylesheets/css/animate.min.css">
<link rel="stylesheet" href="/assets/stylesheets/css/font-awesome.min.css"> <!-- Font Icons-->
<link rel="stylesheet" href="/assets/stylesheets/css/owl.carousel.css">
<link rel="stylesheet" href="/assets/stylesheets/css/owl.theme.css">
<!-- Theme CSS-->
<link rel="stylesheet" href="/assets/stylesheets/css/reset.css">
<link rel="stylesheet" href="/assets/stylesheets/css/style.css">
<link rel="stylesheet" href="/assets/stylesheets/css/mobile.css">
<!-- Skin CSS-->
<link rel="stylesheet" href="/assets/stylesheets/css/cool-gray.css">

</head>
<body>
<%= yield %>

</body>
</html>
