<!DOCTYPE html>
<html>
<head>
  <title>IS_KOREARENTAL_VINA</title>

<%= stylesheet_link_tag    'application.css' %>
<%= javascript_include_tag 'application.js', 'data-turbolinks-track' => true%>
<%= csrf_meta_tags %>


</head>
<body>
<%= yield %>

</body>
</html>
