<!DOCTYPE html>
<html>
<head>
  <title>Welcome to IS_KOREARENTAL_VINA</title>

<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
<%= csrf_meta_tags %>

<!-- fonts
<link rel="stylesheet" href="assets/fonts/fontawesome-webfont.eot">
<link rel="stylesheet" href="assets/fonts/fontawesome-webfont.svg">
<link rel="stylesheet" href="assets/fonts/fontawesome-webfont.ttf">
<link rel="stylesheet" href="assets/fonts/fontawesome-webfont.woff">
<link rel="stylesheet" href="assets/fonts/fontawesome-webfont.woff2">
<link rel="stylesheet" href="assets/fonts/FontAwesome.otf">
<link rel="stylesheet" href="assets/fonts/glyphicons-halflings-regular.eot">
<link rel="stylesheet" href="assets/fonts/glyphicons-halflings-regular.svg">
<link rel="stylesheet" href="assets/fonts/glyphicons-halflings-regular.ttf">
<link rel="stylesheet" href="assets/fonts/glyphicons-halflings-regular.woff">
<link rel="stylesheet" href="assets/fonts/glyphicons-halflings-regular.woff2">
-->
</head>
<body>

<%= yield %>

</body>
</html>
