<!DOCTYPE html>
<html>
<head>
  <title>Welcome to IS_KOREARENTAL_VINA</title>

<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>

<!-- Google Fonts  -->
<link href='http://fonts.googleapis.com/css?family=Roboto:400,700,500' rel='stylesheet' type='text/css'> <!-- Body font -->
<link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'> <!-- Navbar font -->

<!--
<link href="/assets/fonts/fontawesome-webfont.eot" rel="stylesheet" type="text/css">
<link href="/assets/fonts/fontawesome-webfont.svg" rel="stylesheet" type="text/css">
<link href="/assets/fonts/fontawesome-webfont.ttf" rel="stylesheet" type="text/css">
<link href="/assets/fonts/fontawesome-webfont.woff" rel="stylesheet" type="text/css">
<link href="/assets/fonts/FontAwesome.otf" rel="stylesheet" type="text/css">
<link href="/assets/fonts/FontAwesome.otf" rel="stylesheet" type="text/css">
<link href="/assets/fonts/glyphicons-halflings-regular.eot" rel="stylesheet" type="text/css">
<link href="/assets/fonts/glyphicons-halflings-regular.svg" rel="stylesheet" type="text/css">
<link href="/assets/fonts/glyphicons-halflings-regular.ttf" rel="stylesheet" type="text/css">
<link href="/assets/fonts/glyphicons-halflings-regular.woff" rel="stylesheet" type="text/css">
<link href="/assets/fonts/glyphicons-halflings-regular.woff2" rel="stylesheet" type="text/css">
-->
<link href="/assets/animate.min.css" rel="stylesheet" type="text/css">
<link href="/assets/bootstrap.css" rel="stylesheet" type="text/css">
<link href="/assets/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="/assets/cool-gray.css" rel="stylesheet" type="text/css">
<link href="/assets/mobile.css" rel="stylesheet" type="text/css">
<link href="/assets/owl-carousel.css" rel="stylesheet" type="text/css">
<link href="/assets/owl-theme.css" rel="stylesheet" type="text/css">
<link href="/assets/reset.css" rel="stylesheet" type="text/css">
<link href="/assets/style.css" rel="stylesheet" type="text/css">

<script type="text/javascript" src="/assets/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/jssor.slider.mini.js"></script>
<script type="text/javascript" src="/assets/classie.js"></script>
<script type="text/javascript" src="/assets/isotope.pkgd.min.js"></script>
<script type="text/javascript" src="/assets/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="/assets/jquery.conuterup.min.js"></script>
<script type="text/javascript" src="/assets/jquery.easing.min"></script>
<script type="text/javascript" src="/assets/jquery.stellar.min.js"></script>
<script type="text/javascript" src="/assets/owl.carousel.min.js"></script>
<script type="text/javascript" src="/assets/smoothscroll.js"></script>
<script type="text/javascript" src="/assets/theme.js"></script>
<script type="text/javascript" src="/assets/waypoints.min.js"></script>
<script type="text/javascript" src="/assets/wow.min.js"></script>

</head>
<body>
<%= yield %>

</body>
</html>
