<!DOCTYPE html>
<html>
<head>
  <title>IS_KOREARENTAL_VINA</title>

<%= stylesheet_link_tag    'application.css' %>
<%= javascript_include_tag 'application.js', 'data-turbolinks-track' => true%>
<%= csrf_meta_tags %>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


</head>
<body>
<%= yield %>

</body>
</html>
